[2019-11-02 21:53] dplewis commented on #976
@jdillick The parse/node is global when you initialize ParseServer.

https://github.com/parse-community/parse-server/blob/master/src/ParseServer.js#L362

Make sure you pass in the cloud folder path in your config.

[Example](https://github.com/parse-community/Parse-SDK-JS/blob/master/integration/server.js#L11)

[2019-11-02 21:53] #976 closed

[2019-11-04 06:09] cshlxm commented on #916
have the same problem  on v2.8.0 ,have not been solved yet

[2019-11-04 06:16] einsqing commented on #916
@cshlxm No, I've been using version 2.6.0

[2019-11-04 06:26] cshlxm commented on #916
V2.6.0  have no problem,  I have tested .

[2019-11-04 17:44] jdillick commented on #976
@dplewis Ah, I see what you are getting at. The cloud property wasn't the problem (we were setting that), but reading over that code in ParseServer init revealed the issue. The better fix ended up being a real facepalm. Instead of requiring Parse from `parse/node` in steps to reproduce as above, relying on the global `Parse` from ParseServer's `addParseCloud` works fine.

My guess is that in 2.7.1

[2019-11-04 21:19] dplewis commented on #916
Can one of you check if reverting the changes made https://github.com/parse-community/Parse-SDK-JS/pull/877 fixes this issue for you. Or maybe there is a babel option that would work.

[2019-11-05 01:42] cshlxm commented on #916
@dplewis    I have checked commit 81ddc94  ,the Error still exist. And I  also checked  commit  2f809ead  ,there are no Error any more.

[2019-11-06 01:37] #974 closed

[2019-11-06 01:38] dplewis commented on #967
I'm going to close this as users can add their own storage implementation if needed.

[2019-11-06 01:38] #967 closed

[2019-11-06 01:39] dplewis commented on #916
@cshlxm By revert I mean remove corejs3 and re-add babel polyfill and see if that works so we know if corejs3 is the problem or not.

[2019-11-06 04:06] cshlxm commented on #916
@dplewis   It works.  I just remove corejs3,and re-add babel polyfill .And remove what modified in gulpfile.js and babel-jest-js. Rebuild it as V2.8.0 , and It works in WeChat Mini Program .

[2019-11-06 04:18] dplewis commented on #916
I knew it. I really don’t to revert this change as babel-polyfill is deprecated.

Is there a corejs3 setting that could fix this issue?

I’m not sure if we can have both. But you are more than welcome to try.

Worst case is one of you fork the project for wechat and keep it up to date. It won’t be managed by the community until corejs has a fix or somebody finds a fix.

@acinader Thoughts?

[2019-11-06 08:56] Anechasun opened #985 "i can hide field ACL, __type, className"
simple query
[code]

output
[code]

[2019-11-06 16:18] dplewis commented on #985
Can you fill out the issue template or write a failing test?

[2019-11-06 16:18] #985 closed

[2019-11-11 17:48] pocketcolin opened #992 ""_synchronizeAllAuthData is not a function" when running in production after 2.9.0 update"
### Issue Description

After updating to Parse 2.9.0, we started noticing a new error when running `Parse.User.current()`, but only when running in production. Downgrading to 2.8.0 fixes the issue. The error thrown is:
[code]

### Steps to reproduce

1. Run a web app using the Parse SDK v2.9.0 in production (`NODE_ENV=production`)
2. Successfully authenticate as user using `Parse.User.logIn` metho

[2019-11-11 18:02] jamesmogg commented on #992
I had this issue today, it only occurred once i deployed the code to a docker container, running locally on the React webpack dev it didn't happen.

Specs of the failed system were

Parse-server 2.9.0
Express 4.17.1
node v12.13.0
Alpine Linux
React 16.11.0

Error thrown was
"_synchronizeAllAuthData is not a function"

With a fresh browser you could call the login and make queries, on refresh it wo

[2019-11-11 18:20] pocketcolin commented on #992
So we also only saw it after we actually deployed the code but, after further investigation, we found that it was related to the NODE_ENV variable which, when serving the app locally, defaults to "development". I only can confirm this with Vue but I'd be curious if you get the same error locally if you set your mode to production when running it locally.

[2019-11-12 18:33] GoGross commented on #992
Getting the same error in production:

TypeError: t._synchronizeAuthData is not a function at

[2019-11-12 20:19] GoGross opened #997 "Terminate a query, like in Axios"
I have a feature request, to terminate a pending query for example =

`class Example extends Component {
	signal = axios.CancelToken.source();

  	componentWillUnmount() {
    		this.signal.cancel('Api is being canceled');
	}`

[2019-11-12 22:37] dplewis commented on #997
Canceling file saves was recently added. We could reuse that here. Would you like to open a PR?

[2019-11-13 18:51] pocketcolin opened #998 "Parse.Object set method Return Type documentation issue"
### Issue Description

According to the [documentation for the Parse SDK set](http://parseplatform.org/Parse-SDK-JS/api/2.2.1/Parse.Object.html#set) method for Parse.Object, the return of `.set()` is `boolean`. However, the [Flowtype in ParseObject.js](https://github.com/parse-community/Parse-SDK-JS/blob/master/src/ParseObject.js#L641) states that it is `ParseObject | boolean`. Furthermore, lookin

[2019-11-13 19:09] #998 closed

[2019-11-14 12:33] stage88 commented on #992
I am getting something similar, not sure if related. This happens in a production build of an iOS app, regardless if deployed on device or simulator.

```XMLHttpRequest failed: {"line":519,"column":4087,"sourceURL": "/Users/sam/Library/Developer/ CoreSimulator/Devices/ IE6DBED1-8CAD-4A6E-84FF- E352C4DBA528/data/Containers/ Bundle/Application/ B359A263-9AC8-4021-8E23-106D92 C20143/AusTVStaging.app/

[2019-11-14 18:56] dplewis commented on #992
Hey guys the issue is caused by https://github.com/parse-community/Parse-SDK-JS/pull/978

Looks like this doesn't like minified code. We could revert this or someone can try a PR.

[2019-11-14 19:45] dplewis commented on #992
I opened a PR https://github.com/parse-community/Parse-SDK-JS/pull/999.

Can you see if it works for you?

[2019-11-14 19:57] #992 closed

[2019-11-15 18:10] pocketcolin commented on #992
Can confirm, PR #999 fixed the issue we were seeing.

[2019-11-15 21:06] RaschidJFR commented on #992
I've updated to `2.9.1` but the problem persists. So I rolled back to `2.8.0`, the problem is fixed for me.

[2019-11-15 21:47] dplewis commented on #992
@RaschidJFR did you try clearing your cache / refresh the browser?

[2019-11-16 09:26] GoGross opened #1001 "No default jsDelivr CDN file set"
[This package](https://www.jsdelivr.com/package/npm/parse) doesn't have a [default file](https://www.jsdelivr.com/features#publishing-packages) set. You can set it via `jsdelivr`, `browser`, or `main` field in `package.json`

[2019-11-16 09:34] dplewis commented on #1001
Can you open a PR for this? There is CDN currently setup but it takes a while to update.

[2019-11-17 22:32] RaschidJFR commented on #992
Same problem even in different browser and incognito mode

[2019-11-19 16:08] dplewis commented on #992
@RaschidJFR Are you receiving the same errors as above? Also are you using a Parse.User subclass?

[2019-11-20 18:01] dplewis commented on #1001
Closing as default file isn't required for jsdelivr.

https://cdn.jsdelivr.net/npm/parse@2.9.1/dist/parse.min.js

[2019-11-20 18:01] #1001 closed

[2019-11-21 04:28] RaschidJFR commented on #992
I was indeed using a subclass in my Ionic app, but even without it the error persists.

This simple block:

[code]

throws this errors:

[code]

[2019-11-21 04:32] dplewis commented on #992
Can you debug the currentUser function? I do have an ionic app. I’ll try to replicate this.

[2019-11-21 06:04] JeromeDeLeon opened #1004 "Exact search in `matches` doesn't return anything but `equalTo` does"
### Issue Description

I have this use case where I use `productQuery.matches("name", new RegExp(search, "i"))` to search product. Everything worked fine until I searched exact product name and didn't return anything.

### Steps to reproduce

1. Create an `Sample` class
2. Add `name` column
3. Add row and fill up `abc 12345 (swap)` for name
4. Search `abc 12345 (swap)` using above or using `string

[2019-11-22 00:21] josenriq commented on #992
Same here. I upgraded to `2.9.1`, and now even after going back to `2.8.0` the issue remains.

I am using a subclass for `Parse.User`.

The error is thrown here, `ParseUser.js`, line 1203:
[code]

[2019-11-22 18:02] josenriq commented on #992
FYI, I found a fix for my specific issue. I was subclassing `Parse.User` with my own `User` class, and then I was calling:
[code]
At boot up, `User.current()` is called, the stored class name is `User`, not `_User`. And so Parse cannot find the constructor and returns a regular `Parse.Object` instead, which lacks the `_synchronizeAllAuthData` function.

`tl;dr`:
I changed the `registerSubClass` fu

[2019-11-22 18:08] dplewis commented on #992
@josenriq thanks for reporting a fix. I can do a PR that will register to both User and _User.

[2019-11-22 18:13] dplewis commented on #992
@josenriq This was brought up. https://github.com/parse-community/docs/pull/680#issuecomment-549504835

Im against overriding the _User subclass, but it seems like a lot of developers are doing it.

[2019-11-22 20:32] dplewis commented on #992
@RaschidJFR Quick question how are you subclassing your Parse.User and registering it? Is it 'User' or '_User'?

[2019-11-22 20:50] RaschidJFR commented on #992
I always use `_User`. And yes, to me it’s really handy to create my own customized User subclasses with the functions and props my apps need. I usually work on Angular (typescript).

@josenriq thanks for having a look at the issue.

[2019-11-22 21:39] dplewis commented on #1004
You issue is with parentheses. Try the following, it escapes them.

`query.matches('name', 'abc 12345 \\(swap\\)', 'i');`

[2019-11-22 21:40] #1004 closed

[2019-11-23 00:15] #997 closed

[2019-11-26 07:15] josenriq commented on #992
I'm afraid this issue keeps happening for subclassed `Parse.User` classes and minified code.

For example, in an Angular project, unless you eject the configuration or install a custom builder to intercept Terser and keep class names, the following code breaks:

https://github.com/parse-community/Parse-SDK-JS/blob/master/src/ParseUser.js#L874
[code]
because `user.constructor.name` is not the same

[2019-11-29 12:06] REPTILEHAUS opened #1014 "Add custom headers to each server request"
For apps hosted on Google App Engine there is an option to split traffic between servers.

For instance you have an app backend which is updated and you want to only allow traffic from the new app version to visit the new backend version, this is called traffic splitting in GAE and can be done by adding a custom header to all TCP requests.

My app has a centralised function for executing all cloud

[2019-11-29 12:11] REPTILEHAUS commented on #603
Also interested in this feature. Is there any way to hook into parse to add custom header to every request from the app ?

[2019-11-29 22:48] davimacedo commented on #1014
I think there isn't a way to do that yet. Is this something that you'd be willed to tackle?

[2019-12-03 00:15] #1014 closed

[2019-12-03 07:01] REPTILEHAUS commented on #1014
Awesome @dplewis ! Always there to save the day. Looking forward to trying this out later

[2019-12-03 13:46] JeromeDeLeon opened #1021 "Aborting query use case"
I followed the test case reference to the new feature `query.cancel` for aborting the request made by @dplewis . I don't know if that was the right thing. After that didn't work, here's what I tried:

[code]

I saw from the network section that the query was cancelled however, two request were made (one that got cancelled and one that went successfully) and I also saw from the console that it pass

[2019-12-03 15:21] dplewis commented on #1021
Sorry about that I haven't updated the documentation for that yet.

The cancel query is tricky and could use improvement.

https://github.com/parse-community/Parse-SDK-JS/blob/master/src/ParseQuery.js#L1849

There is an on change event for the event task that you can subscribe to so that you can know when the query has started. I think an improvement should be made to determine when to set the req

[2019-12-04 02:02] JeromeDeLeon commented on #1021
Is it not possible to move the onchange inside `cancel`? so it automatically listen fo on change when calling cancel?

[2019-12-04 02:09] dplewis commented on #1021
I think that would work. Can you try it out?

[2019-12-04 04:26] JeromeDeLeon commented on #1021
I tried your snippet but it didn't work and the request was still successful.

[2019-12-04 04:29] JeromeDeLeon commented on #1021
I also tried doing it in ReactJS but no luck:

[code]

[2019-12-04 16:10] dplewis commented on #1021
@JeromeDeLeon I think it might be related to where we set the request task.

https://github.com/parse-community/Parse-SDK-JS/blob/master/src/RESTController.js#L110

Can you try to move it after xhr.send()?

[2019-12-05 12:25] taivo commented on #992
@dplewis what do you think about
[code]
instead of
[code]

[2019-12-08 08:17] JeromeDeLeon commented on #1021
I tried forking the lib but failed to run when I installed it using `npm install github...` saying that no such file or directory for `/node_modules/parse/lib/browser/ObjectStateMutations.js`

[2019-12-11 01:12] #1021 closed

[2019-12-11 15:57] REPTILEHAUS commented on #1014
@dplewis Do you have an example of integrating this ? Ill try it out now

[2019-12-11 19:16] dplewis commented on #1014
[code]

Please note these headers will be sent with every request.

[2019-12-13 15:59] vmkudrin commented on #300
Have same issue with current version.

**Added friend1 only:**
[code]

**Added both friend1 and friend2:**
[code]

[2019-12-14 15:04] JeromeDeLeon opened #1034 "Disable limit of fetching"
**Is your feature request related to a problem? Please describe.**
I have several use cases where I need to fetch data and display it on screen. I patched with limit 9999 but It's pain to do this for all my use cases and pagination is a no for me even the infinite scrolling. I have seen similar issues got close, but if would be great to let user's decide the limit since the server decided to opt o

[2019-12-14 15:05] JeromeDeLeon commented on #1034
I have asked this on the parse-community but deleted? I don't know what happen but seems like that concern is more like a feature hence it got deleted so I posted it here.

[2019-12-15 03:06] davimacedo commented on #1034
As long as I know there is no default limit in the SDK. If you remove the limit from the server, you should be fine.

[2019-12-15 03:30] JeromeDeLeon commented on #1034
Seemed strange because I haven't specified any limit on my PS Options

[2019-12-15 03:42] davimacedo commented on #1034
Actually if you don't pass anything, the server defaults to 100. Take a look [here](https://github.com/parse-community/parse-server/blob/981628520584b71608b3fff2aeb57db8b5ed3e1f/src/Routers/ClassesRouter.js#L193). The maxLimit configuration param is only use to limit the max number that someone can passo through query.limit() to the server.

[2019-12-15 04:12] JeromeDeLeon commented on #1034
How should I make it to infinite? do I need to specify 99999 as maxLimit?

[2019-12-15 04:15] davimacedo commented on #1034
It is infinity by default, but you still need to use the query.limit() function, otherwise it will limit 100.

[2019-12-15 04:16] davimacedo commented on #1034
Maybe you can try a beforeFind trigger to set the limit for you so you don't need to call query.limit() everytime.

[2019-12-15 04:20] JeromeDeLeon commented on #1034
Is it not possible to disable this `options.limit = Number(100)`? Are we force to implement pagination or the likes to solve this? because I don't know the number of products to be transferred by the user, so to solve this I need to put limit(99999) for use cases?

[2019-12-15 04:23] davimacedo commented on #1034
It is currently not possible to disable. You have to set the limit(), otherwise it defaults to 100. It would probably not be a good idea to fetch more than 10,000 objects in a single call. You can also use the query.each() function. It performs the pagination for you and returns all objects.

[2019-12-15 04:28] JeromeDeLeon commented on #1034
I haven't come across with `each` but based on the doc, it just mimic the `forEach` of an array. Can you give me an example on how to achieve pagination with that?

[2019-12-15 04:51] davimacedo commented on #1034
No. It manages the pagination for you. It does how many finds are required for you. You can see its implementation [here](https://github.com/parse-community/Parse-SDK-JS/blob/master/src/ParseQuery.js#L852). You have two different ways to use it:

[code]

or

[code]

[2019-12-15 09:41] JeromeDeLeon commented on #1034
Thanks. I'll try it out :)

[2019-12-15 09:41] #1034 closed

[2019-12-15 20:48] REPTILEHAUS commented on #1014
Thanks man, just for anyone who stumbles on this and is using Typescript, there is no definition for ```CoreManager``` truthfully I had never even seen this mentioned in any docs so didnt realise it was a function. I maintain my own typescript definition file and push it into my parse projects, if anyone else does the same you can use Coremanager with the following

[code]

[2019-12-15 20:51] dplewis commented on #1014
Can you open a fix on the DefinatelyTyped repo?

https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/parse/index.d.ts

I can update the docs with the core manager settings.

[2019-12-15 21:09] REPTILEHAUS commented on #1014
Sure ill give it a go, Ill see if I have any other things to add to it.

[2019-12-20 09:31] smartfung opened #1040 "Can't upload file"
### Issue Description

I used React Native, the Parse JS SDK version is 2.9.0

When I add file to object. I got an error.
[code]
The Error is

When I check my AWS S3, I can find the file. But return error

[2019-12-20 18:45] davimacedo commented on #1040
What is the line of code that is throwing the error? Can you share the complete error stack?

[2019-12-23 09:53] jost-s opened #1042 "Cannot run `distinct` query as normal user"
### Issue Description

I want to run a `distinct` query but get error message that master key was not provided. Checking in the code and tests this seems intentional. Why should these queries only be executed with master key?

### Steps to reproduce

Run a query like `new Parse.Query('SomeObject').distinct('property')` from a client app.

### Expected Results

Query is run successfully.

### Actua

[2019-12-23 19:44] dplewis commented on #1042
You should use distinct in a cloud code where you have master key provided.

We found that aggregate calls are unsafe to call without master key.

[Here](https://github.com/parse-community/parse-server/issues/3813) is a past security example where expensive calls can lead to an attack.

[2019-12-23 19:44] #1042 closed

[2019-12-23 20:38] jost-s commented on #1042
@dplewis Alright, got it, thank you!

[2019-12-23 22:21] dplewis commented on #1040
@smartfung I don't see `feed` being used and I don't know what `product` is. Its really hard to debug this. Can you provide more information as well as any Subclasses you might be using.

[2019-12-23 22:21] #1040 closed

[2019-12-27 17:36] dplewis opened #1045 "[Discussion] Remove batchSize"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Features like saveAll and destroyAll uses `/batch` endpoint. I believe this should send a single request to the server.

Currently the `/batch` endpoint send multiple requests in the with the number of objects equal to `batchSize` (default

[2019-12-28 05:17] dplewis commented on #1045
I did some research, you can remove batchSize from destroyAll easily. But saveAll will have at most 2 calls to batch to prevent batch cycles.

[2019-12-30 12:36] REPTILEHAUS opened #1046 "Disable logging directory creation"
Ive been trying to get Bunyan or extend Winston to use Googles Cloud Logging solutions, I can get winston  working to some extent using addAdapter but my server breaks because Parse tries to create a logs directory even when told explicitly not to in the config - its not possible to create new directories on the server, its configured that way.

https://github.com/parse-community/parse-server/issu

[2019-12-31 14:20] einsqing opened #1048 "How can a user login on multiple devices at the same time?"
How can a user login on multiple devices at the same time?

[2020-01-02 18:49] dplewis commented on #1048
With the use of `installationId`.

https://github.com/parse-community/Parse-SDK-JS/pull/1031/files

[2020-01-02 18:49] #1048 closed

[2020-01-02 23:24] stevestencil opened #1049 "Saving a file does not pass in session token"
### Issue Description

When saving a Parse.File from the browser, the session token is not passed into the headers of the request. This only appears to happen when uploading a file directly from the browser.

It appears this will only happen when using the File object from the browser as it calls the [saveFile()](https://github.com/parse-community/Parse-SDK-JS/blob/6dc6e5ca7625adeac1afd3f5fe287ca7

[2020-01-03 07:17] PokoGroot commented on #591
hope this feature have progress soon

[2020-01-03 11:30] YousefAlsbaihi opened #1050 "Parse React Native photo upload error on android"
### Issue Description

Uploading a file to Parse backend using react native on IOS works fine, on android it does return an error

### Steps to reproduce

[code]
### Expected Results which the results i get when trying the app on IOS using EXPO

[code]

### Actual Outcome the results i get when i use the same code on Android

[code]

### Environment Setup

- **Server**
  - parse-server version : [

[2020-01-03 14:28] vince1995 opened #1051 "Parse + React + Jest = Headers User-Agent forbidden"
### Issue Description

I have a react app and want to test it with jest. In my app I am creating some requests to my parse server via the Parse SDK. It's because parse is setting the user agent [here](https://github.com/parse-community/Parse-SDK-JS/blob/e974daf6086d1d02a6cf36f873f820a9a11d489f/src/RESTController.js#L153) and jsdom [throws an error ](https://github.com/jsdom/jsdom/blob/master/lib/j

[2020-01-03 16:55] dplewis commented on #1051
@vince1995 Can you try setting `access-control-allow-headers` or enable cors on your server?

[2020-01-03 16:59] dplewis commented on #1050
Are there any error messages being thrown or server logs you can post?

[2020-01-03 17:12] dplewis commented on #1046
Closing as duplicate.

[2020-01-03 17:12] #1046 closed

[2020-01-03 18:39] jklepatch opened #1052 "become() does not work on React Native"
### Issue Description

I am trying to create a parse session with a token by using

[code]

However  it gives me this error:

[code]

I have followed the configuration steps for parse on mobile:

[code]

### Steps to reproduce

 Try to create a parse session with a token on React Native with `become()`

### Expected Results

I expect to use  `become()` on React Native to create a parse session fro

[2020-01-03 19:00] dplewis commented on #1052
Thanks for reporting, will try to get a fix out soon.

[2020-01-04 06:52] einsqing commented on #1048
@dplewis Like this?

[code]

[2020-01-04 13:25] einsqing commented on #1048
@dplewis Find the reason. The built-in dependency of parse-server is 2.7.1, so it can't be used

[2020-01-05 08:32] YousefAlsbaihi commented on #1050
@dplewis
this is just a log, the server error is `_object.getid` undefined

[2020-01-05 22:41] dplewis commented on #1050
Can you debug the issue or post a stack trace?

A clean sample project to reproduce this issue would also be appreciated.

[2020-01-05 22:42] dplewis commented on #1049
I believe you are correct but do files actually use the sessionToken or is this documented anywhere?

[2020-01-06 13:49] stevestencil commented on #1049
Currently they do not use the sessionToken anywhere. However this is something I think we should change. I have read through multiple issues (#2137 and  #4672) that require the sessionToken to implement. Adding in the sessionToken to the files route is the first step to allowing things like:

- adding security to uploading files
- adding beforeSaveFile and afterSaveFile hooks
- adding meta data to

[2020-01-07 21:49] HaneenSous commented on #1050
Sorry for the late reply. here is the error message from Parse

`object._getId is not a function. (In 'object._getId()', 'object._getId' is undefined)`

this only happens on Android IOS is completely fine.

The Code i use to save the image:

[code]

i tried a lot of solutions to work around it and other ways to save like save the image first then create post but still same issue on Android, IOS wo

[2020-01-07 21:50] YousefAlsbaihi commented on #1050
Sorry for the late reply. here is the error message from Parse

`object._getId is not a function. (In 'object._getId()', 'object._getId' is undefined)`

this only happens on Android IOS is completely fine.

The Code i use to save the image:

[code]

i tried a lot of solutions to work around it and other ways to save like save the image first then create post but still same issue on Android, IOS wo

[2020-01-08 19:25] akritskiy opened #1055 "LiveQuery connection fails because sessionToken is null, but sessionToken is present in localStorage. Parse also sends sessionToken with some cloud function calls but not others."
LiveQuery works fine most of the time, but sometimes opening the connection fails because the sessionToken in the request payload is null.

The error message on the backend is: "error: Connect message error %s"

This message comes from: /node_modules/parse-server/lib/LiveQuery/ParseLiveQueryServer.js (line 317) on the back-end. I added some console logs and the actual error message is “Invalid typ

[2020-01-08 19:27] dplewis commented on #1055
Can you post server logs? VERBOSE=1

I can try to write a failing test shortly.

[2020-01-08 19:41] akritskiy commented on #1055
I can't post server logs because there are user names and emails in there. Sorry.

[2020-01-08 19:50] dplewis commented on #1055
No problem, we understand. Just a small snippet with redacted sensitive information showing the query and error is enough to replicate. If not that’s fine

[2020-01-08 20:04] akritskiy commented on #1055
Sure thing...

When the LiveQuery connection opens, it looks like this:
[code]
Followed by the get and put request to change the count...
[code]

And after refreshing a couple of times, we have the unsuccessful connection... Just this over and over, as it tries to establish the connection.
[code]

[2020-01-08 20:37] #1045 closed

[2020-01-08 22:35] #1052 closed

[2020-01-09 00:47] dplewis commented on #1055
@akritskiy I added a fix https://github.com/parse-community/Parse-SDK-JS/pull/1058 please try it out and let me know If it works.

Also, I couldn't figure out how you got a null sessionToken just by looking at the code.

[2020-01-09 04:22] dplewis commented on #1051
As a workaround you could do `Parse.CoreManager.set('IS_NODE', false)`;

It should false for you as you are in a browser with react.

[2020-01-09 12:04] vince1995 commented on #1051
Thanks for the response. The workaround works. But I will also try to set the headers.

[2020-01-09 14:49] akritskiy commented on #1055
@dplewis Your fix works well as far as I can tell. That's awesome. I've been stuck on that for a couple of days. Thanks!

I'm confused about the null sessionToken too. Maybe this will make sense to you... We found one workaround where we restored a DB from an old DB dump, and the sessionToken was not becoming null with the old data. When looking at the requests in the dev tools network tab, all re

[2020-01-09 19:30] #1051 closed

[2020-01-09 19:31] dplewis commented on #1051
Please feel free to open a PR to fix the IS_NODE variable for your React system.

[2020-01-10 13:53] heinrich-fresh opened #1059 "Livequery not firing events due to ACL"
### Issue Description

I have been trying to use LiveQuery in an Angular 8 application.  Everything seems to work fine, the socket connects, on the server, I can see a new client connects. But none of the events are firing off.

After debugging for quite a while I realized it might be the ACL causing the issue. So If I Remove the ACL / Make it public the event fires perfectly.

Which brings me to

[2020-01-10 14:00] dplewis commented on #1059
Please update your server to the latest version and reopen if this issue persists.

There is an existing test for Live Query ACL in [LiveQueryTests](https://github.com/parse-community/Parse-SDK-JS/blob/master/integration/test/ParseLiveQueryTest.js#L165).

Feel free to open a Pull Requests with additional tests to replicate your issue to see if they persists on the latest server version.

[2020-01-10 14:00] #1059 closed

[2020-01-10 14:18] heinrich-fresh commented on #1059
@dplewis  Our production server is version 2.3.3 but even If I create a local server the same issue.

Those tests are done with parse/node. This is browser application? So not the same thing.
I will write a test, but this is still an issue in my opinion.

[2020-01-10 14:25] dplewis commented on #1059
@heinrich-fresh Unfortunately we don't support older versions of Parse Server. Updating to the latest version may solve your issue. I asked to add tests to see if that issue is still present in the latest version (tests run against latest master branch kinda)

LiveQuery uses websockets. There is websocket support for both node and browser [here](https://github.com/parse-community/Parse-SDK-JS/blob

[2020-01-10 23:04] #1049 closed

[2020-01-11 01:17] #1055 closed

[2020-01-11 02:25] espipj commented on #529
I think this feature still hasn't been added am I wrong?

[2020-01-11 02:27] dplewis commented on #529
I believe this has been added. Try it out.

[2020-01-12 21:58] RaschidJFR commented on #992
I confirm that from `2.10.0` is working again. Thanks @dplewis

[2020-01-14 11:51] percypyan opened #1063 "Fetching object with id "" doesn't work as expected"
### Issue Description

As expected, when you try to fetch an object with an ID that don't exist in database, you get a 101.
But in the case your object as an empty string as ID, the fetch do not throw any error even is the returned data does not match the expected result.

Given the following object: `MyClass.createWithoutData("fakeID")`.
A fetch will trigger the following API call:
[code]
This ca

[2020-01-14 11:53] percypyan commented on #1063
After your validation and your decision about the way to handle this case, I'm willing to create the Pull Request needed to fix this issue.

[2020-01-14 15:41] dplewis commented on #1063
@percypyan I think that if you call fetch on a new object nothing should happen. Setting an empty objectId is almost like creating a new object. What do you think?

[2020-01-14 16:37] percypyan commented on #1063
@dplewis Yes I agree. So maybe the fix is simply to update the `ParseObject._getId` method to check `typeof this.id === 'string' &&  this.id` instead of `typeof this.id === 'string'`.

[2020-01-14 16:47] percypyan commented on #1063
Maybe instead of have nothing happening we should have a 101 since fetch is a way to retrieve data available on the server, no ?

[2020-01-14 17:04] dplewis commented on #1063
Your fix will through an error for object not found. Please feel free to open a PR with tests.

@acinader @davimacedo Thoughts?

[2020-01-14 22:01] davimacedo commented on #1063
I'd change the fetch() function to throw an error in the case there is no id and before doing the api call.

[2020-01-15 08:55] percypyan commented on #1063
Ok, I'll do a PR to fix this!

[2020-01-16 20:52] dplewis commented on #1050
@YousefAlsbaihi I tried an expo app and saving file worked for both iOS and Android.

[code]

Should be as per [docs](https://github.com/parse-community/Parse-SDK-JS/blob/master/src/ParseFile.js#L82)

[code]

[2020-01-16 20:52] #1050 closed

[2020-01-16 23:58] dplewis commented on #1063
Can you point in the docs that states this? I don't this exists in any other SDKs.

I don't understand what this actual outcome means. Can you elaborate?

Should this be addressed in fetchAll as well? Would this be a breaking change?

[2020-01-17 12:38] percypyan commented on #1063
Yes : https://docs.parseplatform.org/rest/guide/#basic-queries
The query generated with an empty ID match the basic query.

Of course :
[code]
Is this snippet helping you?

[2020-01-17 13:33] dplewis commented on #1063
Might have to scroll to view comment.
[code]

[2020-01-17 13:58] percypyan commented on #1063
My opinion is that an error should be thrown. If not, someone can fetch an object with include before first save and would not be able to see that the sub-object aren't fetched appropriately.

Two examples:
[code]
and
[code]

In this 2 case we expect some value to be present and either runtime errors or unexpected behaviors will probably happen. The debugging will only be harder without an error.

[2020-01-17 14:22] dplewis commented on #1063
This is an easy fix, depending on how you fix it will result in a breaking change as you would be throwing errors where a lot of users aren't expecting.

Here is the issue. You can see why you get the REST Calls posted above.

[code]

A fix would be for `'classes/' + target.className + '/' + ""`

[code]

`object.fetch()` is different from `query.get()` but should `fetch` emulate `get` internally?

[2020-01-17 14:28] dplewis commented on #1063
To fix your unique case, an error would work. I'll submit a PR shortly.

[2020-01-17 14:37] percypyan commented on #1063
I can do it now if you like

[2020-01-17 14:43] dplewis commented on #1063
Go for it. I’ll be happy to review it.

[2020-01-17 15:18] percypyan commented on #1063
I'll opened the following: #1066

[2020-01-19 01:41] dplewis commented on #1063
Closing via https://github.com/parse-community/Parse-SDK-JS/pull/1066

[2020-01-19 01:41] #1063 closed

[2020-01-26 23:43] taivo commented on #603
+1 on this. This feature would add a lot of flexibility.

[2020-01-27 22:39] rsmets commented on #444
@Receks I know it's been a while but curiouis if you were ever able to solve this? Currently running into the same issue. No create event by the main app so nothing over the redis wire the LQ server.

[2020-01-31 21:25] dplewis commented on #444
@rsmets Can you open a separate issue and fill out the template?

[2020-02-02 08:32] JeromeDeLeon opened #1077 "Missing types for `enableEncryptedUser` and `secret`"

[2020-02-05 05:26] sunshineo commented on #630
This post is very useful! Thanks

[2020-02-06 11:30] percypyan opened #1079 "Unexpected behaviour of Parse.Object.dirty(attr?: string): boolean"
### Issue Description

The explanation concerning `Parse.Object.dirty(attr?: string): boolean` is the following:
[code]

This implies that:
[code]
Every thing work fine, EXCEPT for the line `obj.dirty("anAttributeName") // false`.
For this call, `dirty` returns `true`, even if the key "anAttributeName" has not been modified since the last save/refresh.

### Steps to reproduce

[code]

### Expected

[2020-02-07 01:03] davimacedo commented on #1079
Just to make sure, `anAttributeName` is an attribute that already exists in the schema, right?

[2020-02-07 01:11] dplewis commented on #1077
If you are referencing to TypeScript, you can open an PR fix on the [DefinitelyTyped](https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/parse) Repo

[2020-02-07 01:14] dplewis commented on #1079
It looks like a bug to me. I'll see if this exists in the other repos just to be sure.

[2020-02-07 02:12] dplewis commented on #1077
PR Submitted

https://github.com/DefinitelyTyped/DefinitelyTyped/pull/42173

[2020-02-07 03:00] dplewis commented on #1079
The key here is `last save/refresh`. unsaved are objects are always dirty.

[code]

Closing as this is expected behaviors.

[2020-02-07 03:00] #1079 closed

[2020-02-07 08:28] percypyan commented on #1079
Look at this: « If an attribute is specified, it return true only if that particuliar attribute has been modified since the last save/refresh. »

How an attribute that hasn’t been set can be dirty in that case? I’m understanding that the object it self is always dirty if it hasn’t been save. But this is non-sens to me to get true when an attribute (belonging to the schema) hasn’t been set yet on t

[2020-02-07 11:34] dplewis commented on #1079
That would be true but the SDKs don’t know anything about the schema that lives in a DB somewhere. You simple create an object and send it to the server.

[2020-02-10 10:24] percypyan commented on #1079
Ok, but in this case you should rephrase this description since it's erroneous.
`If an attribute is specified, it return true only if that particuliar attribute has been modified since the last save/refresh.`
Should be `If the object isn't new and an attribute is specified, it return true only if that particuliar attribute has been modified since the last save/refresh.`.
I've never modified "anAtt

[2020-02-10 17:13] REPTILEHAUS opened #1082 "Implementing password reset with Mailgun"
**Is your feature request related to a problem? Please describe.**
Im trying to implement password reset functionality (`"parse": "^2.10.0",`)

In my app I am using the following endpoint ` return <IUser>(<ParseUser>await Parse.User.requestPasswordReset(email));`

On the parse server side I am using the following which I assume is correct

[code]

Clicking on the pw reset with the email address ge

[2020-02-10 17:52] REPTILEHAUS commented on #1082
aha, I see now the correct official package is `        module: '@parse/simple-mailgun-adapter',`

[2020-02-10 17:52] #1082 closed

[2020-02-12 00:28] REPTILEHAUS opened #1085 "Parse.User.requestPasswordReset throws no errors if issue is serverside"
Cant get an error from password reset , there is a problem where if you have an EU registered mailgun account that you must specify the endpoints for parse email adapter as such

[code]

however no error got thrown on the frontend using this code - but errors on parse server where getting thrown, as this is an internal parse server function, how should we handle its errors (in async fashion)

[cod

[2020-02-12 03:59] davimacedo commented on #1085
I really didn't query your point. Are you using the code? Isn't it firing the error callback when some error happens?

[2020-02-12 07:11] REPTILEHAUS commented on #1085
Yes, the error callback is not triggered

[2020-02-12 19:07] davimacedo commented on #1085
You share there is an error showing up in the Parse Server logs, right? Could you share the error?

[2020-02-13 06:03] dplewis commented on #1077
Closing via  @types/parse@2.10.15

[2020-02-13 06:03] #1077 closed

[2020-02-14 13:56] lucatk opened #1088 "Updating object with includes doesn't seem to update included (nested) objects"
### Issue Description

When an User object and its nested objects is fetched via `Parse.User#fetchWithInclude`, the User object data updates, but the nested data seems to not update, resulting in stale data.
This might occur regardless of what type of object is being fetched, I have not tested this with any custom classes.

### Steps to reproduce

1. Get current user (I specifically used `Parse.Us

[2020-02-14 22:27] acinader opened #1089 "Query.reduce is not resolving returned promises"
If a Parse.Query.reduce executor function returns a promise, the next iteration of the executor function will receive a promise in the accumulator instead of the resolved value as the documentation (and reason) implies.

[2020-02-14 23:47] acinader commented on #1089
I think that handling the promise in the executor is the way to go.  i.e. it's good as is.  closing.

[2020-02-14 23:47] #1089 closed

[2020-02-15 00:28] dplewis commented on #1089
The extra test case wouldn’t hurt

[2020-02-15 00:31] dplewis commented on #1088
Can you write a failing test? There should already be fetchWithInclude tests that you can copy.

[2020-02-15 02:56] mfkenson commented on #922
Currently with the JS SDK (master, 2.11.0), there is no way to pass parameter "transaction" to the Parse Server. (Correct me if I am wrong) so the transactional stuff (which have been done on Parse Server) does not work with the JS SDK.

My plan of attack is to make a PR which includes:
1. Adding an option in saveAll, destroyAll and pass it to Parse Server

Does this make sense? @davimacedo

[2020-02-15 03:07] mfkenson commented on #922
I am trying to use a similar approach on server-side Parse.Cloud function! Getting the database object in cloud function and manually invoking createTransactionalSession at the beginning of my cloud function. And then invoking
- commitTransactionalSession
- abortTransactionalSession
after some CRUD operations.

I am stuck now and I have no idea why this does not work as expected...Perhaps the clou

[2020-02-17 03:14] estylehq opened #1091 "How can use Parse things in middieware on Nuxt.JS"
I plugged on parse.js to nuxt.config.js

[code]
[code]

and I made dispatching store module from middleware.
[code]

And then, I got a this error message ;
[code]

This message just showed trying in middleware. Calling from pages is fine.

It seems to checking localStroage before requesting.

Is best way use REST API? or Any suggestion?

+ I could'nt access community.parseplatform.org. cause gatew

[2020-02-17 03:29] davimacedo commented on #1091
I think you will have to do something like this:

[code]

[2020-02-17 03:30] estylehq commented on #1091
@davimacedo

Thank you I will try it.

[2020-02-17 03:41] estylehq commented on #1091
I tried this code to plugins and needs stores.
[code]

and return these messages.
[code]

I installed child_process and fs, but still do.

[2020-02-17 03:47] davimacedo commented on #1091
Have you tried the way I suggested? Basically Parse needs to be imported from 'parse' in the browser and from 'parse/node' in the server. Since the same code in your nuxt application will turn in both environments you will have to do something like what I suggested to make sure you are importing in the right way for each environment.

[2020-02-17 03:55] estylehq commented on #1091
I solved prob with this dependency
[code]

[2020-02-17 03:55] #1091 closed

[2020-02-17 03:55] davimacedo commented on #1091
Nice. Thanks for sharing!

[2020-02-17 08:18] davimacedo commented on #922
I think that your original idea of changing saveAll, destroyAll makes sense, will be a lot easier and a very good first step. Why don't you start with them?

[2020-02-19 17:40] satyamdorville commented on #272
@danielmartinprieto  Hello Daniel ! How did you manage to do this finally ? (Assuming that you have succeed. )

[2020-02-19 19:11] danielmartinprieto commented on #272
Hi, @satyamdorville. In another issue, I got confirmation that in order to use this SDK in a React Native app, for instance, the SDK should provide the same functionality that native Android and iOS ones do.

Unfortunately, I never put the time to help to implement this and the workaround we used in my team was to create the installation in the server in a cloud function and add a new field to the

[2020-02-19 21:37] mfkenson commented on #922
@davimacedo Yes I did give a try (#1090 ). Hope this is a good start to contribute.

'changing saveAll, destroyAll' in the JS SDK should be the top priority to support what have been done on Parse Server batch endpoint.

I might get back to the cloud function approach later.

[2020-02-19 21:43] mfkenson commented on #272
Same approach (cloud function) for my ionic project. The only key data required from the client side is its deviceToken (e.g. APNS / FCM).

[2020-02-19 23:33] satyamdorville commented on #272
Thanks @mfkenson  @danielmartinprieto  i will do that ! that makes sense

[2020-02-21 22:29] davimacedo commented on #922
Great job. It is a good start for sure. I've just left a comment over there.

[2020-02-22 01:27] davimacedo opened #1092 "reactive-native build not working"
### Issue Description

react-native build is not working

### Steps to reproduce

[code]

### Expected Results

Show up the message I have in my class.

### Actual Outcome

[code]

### Other comments

- If I change the import line to `import Parse from 'parse';` it works in my web-browser emulator.
- Looking at `lib/react-native/Parse.js` I see many import statements (like the following ones) that

[2020-02-22 03:29] dplewis commented on #1092
I’ve seen this issue before but couldn’t replicate it

https://github.com/parse-community/Parse-SDK-JS/issues/895

[2020-02-22 12:20] anhhtz opened #1093 "Failed to create new object, with error code: XMLHttpRequest failed:..."
### Issue Description

From React-Native app can not connect to Parse server.

`Failed to create new object, with error code: XMLHttpRequest failed: {"line":104828,"column":32,"sourceURL":"http://localhost:8081/index.bundle?platform=ios&dev=true&minify=false"}`

### Steps to reproduce

[code]

### Expected Results

Cannot request to server.
- `Back4App` server
- and my own server on Docker publish

[2020-02-23 02:59] davimacedo commented on #1093
Can you please try by installing from this branch? https://github.com/back4app/Parse-SDK-JS/tree/fixReactNative

[2020-02-23 05:37] anhhtz commented on #1093
**WOW !!! IT'S WORKS PERFECT !!!**

But is the patch you made is ready for production or just testing purpose ?

[2020-02-25 03:49] davimacedo commented on #1093
I'm glad it worked! I think you can use my branch for development purposes but It would be better wait for the next release of JS SDK before going to production.

[2020-02-25 04:14] #1093 closed

[2020-02-25 06:22] JeromeDeLeon opened #1096 "File upload progress method was called once"
### Issue Description

I'm trying to track the progress of the file being uploaded to the server, but it seemed like `progress` method was only called once after the file was successfully uploaded to the server resulting the call to `1 213 213`. I tried uploading three different files, starting from 500kB then 5mB and 12mB files. What I got was single call from each file.

[code]

### Steps to rep

[2020-02-25 08:24] JeromeDeLeon opened #1097 "Allow saving with custom objectId"
**Is your feature request related to a problem? Please describe.**
This feature was already merged on Parse Server but I just tried it with this SDK and got the result of `Object not found` and upon looking up, [ParseObject#L313](https://github.com/parse-community/Parse-SDK-JS/blob/05b097c6256ca058f10a0c2551b01d1f321b123d/src/ParseObject.js#L313) was the cause of it because if it detects an object

[2020-02-25 08:54] JeromeDeLeon commented on #1097
At first, I thought of adding `_existed` property to `ParseObject` but seems like too cumbersome and not a good solution IMO, so I thought of another one. We could just replace `_localId` of the `objectId` that we set instead of `uuid`?

[2020-02-25 09:24] JeromeDeLeon commented on #1097
We also need to support reverting `id` back to `undefined` in case it failed to save.

[2020-02-25 16:51] dplewis commented on #1096
Which browser are you using?

progress is handled [here](https://github.com/parse-community/Parse-SDK-JS/blob/master/src/RESTController.js#L162)

[2020-02-25 21:35] JeromeDeLeon commented on #1096
Chrome Browser latest version

[2020-02-25 21:38] JeromeDeLeon commented on #1096
Yes, I saw that one and even the latest changes and tests. That's why I'm wondering why was it called only once.

[2020-02-29 00:29] #1092 closed

[2020-03-05 02:38] estylehq commented on #1091
@davimacedo

I correctly solved ; add these codes to nuxt.config.js
[code]

[2020-03-05 23:27] stevestencil opened #1106 "Files not saving with session token when cascade saved"
### Issue Description

When saving an object that has an unsaved Parse.File, the Parse.File will not receive the sessionToken or masterKey options that are passed into the options of the parent object.

### Steps to reproduce

1) create a new Parse.File
2) create a new Parse.Object
3) set the Parse.File as a property on the Parse.Object
4) call save({ sessionToken: 'some-session-token' }) on Parse

[2020-03-06 00:41] dplewis commented on #1106
Good catch! PR coming soon.

[2020-03-06 04:10] dplewis commented on #1106
This will have to be done on the server side

[2020-03-06 04:38] stevestencil commented on #1106
What has to be done on server side? Anything I can help with?

[2020-03-06 04:46] dplewis commented on #1106
Sorry, object.save() is handled on the server side. a fix for this will have to be done on the Parse Server repo if it doesn’t already exist

[2020-03-06 04:50] stevestencil commented on #1106
I’m on my phone right now so I can’t look at the code but when I first checked it out the PR you just made should fix the issue. Maybe I’m missing something?

[2020-03-06 04:51] dplewis commented on #1106
That’s was for saveAll, save will still have to be done

[2020-03-06 04:57] stevestencil commented on #1106
Ahh I see... I believe passing in the options on the save function on line 2267 in ParseObject.js should do the trick?

[2020-03-06 05:00] dplewis commented on #1106
That is for an array of objects aka saveAll

[2020-03-06 05:00] stevestencil commented on #1106
Haha I’m sorry that’s exactly what you did in your PR... I’m on my phone so it’s a little challenging to look at the code... I will look at it tomorrow when I get in front of a computer

[2020-03-06 18:15] stevestencil commented on #1106
@dplewis When files are saved within a cascade they will always be passed into the save() function of the DefaultController as an array. So the PR you have should be all that is needed to fix this.

When calling `save()` on ParseObject it calls `unsavedChildren()`, this returns an object with an array of files. This array is then passed into the `save()` function of the DefaultController.

[2020-03-06 22:50] dplewis commented on #1106
Nice! We can close this out then. I’ll probably write a test case later.

[2020-03-06 22:50] #1106 closed

[2020-03-08 15:25] srameshr opened #1109 "PostgresSQL error - Syntax error at the end of input - Aggregation"
### Issue Description
The below aggregation query **does not work on POSTGRES while the same works with MONGODB**

### Steps to reproduce
Run the below query inside a cloud function, with user and media being string type columns.
[code]

### Expected Results
Array of data with count and unique media and user values
[code]
### Actual Outcome
It throw an error
[code]
### Test Case

### Environment S

[2020-03-08 15:27] srameshr commented on #1109
@dplewis @davimacedo

[2020-03-08 15:36] dplewis commented on #1109
The aggregate framework as with much of the API is built around mongo. With that we tried to bind the mongo syntax to PG as much as we could.

Count should work there is a test case for it.

[2020-03-08 15:39] srameshr commented on #1109
No it does not. When ```objectId``` value is a string, it works fine. But when its an object it throws an error. See below

// This aggregation works fine
[code]

Where as this does not.
[code]

Is there any test case to validate objectId working fine with Postgres aggregation? @dplewis

[2020-03-08 15:44] srameshr commented on #1109
Moving the issue to Parse Server repo
https://github.com/parse-community/parse-server/issues/6479

[2020-03-08 15:44] #1109 closed

[2020-03-10 22:53] noahsilas opened #1111 "Using SDK after 2.0.2 causes Flow to emit an error"
### Issue Description

When upgrading the JS SDK, trying to run `flow` causes an error in the `parse` node module:
[code]

### Steps to reproduce

I've set up a repository that tries to use the latest `flow-bin` and the latest `parse` modules at the same time.

[code]

### Expected Results

There should not be any errors.

### Actual Outcome

The error shown above is emitted.

### Test Case

Alter

[2020-03-12 00:39] dplewis commented on #1111
I’m surprised travis ci didn’t catch this. Interesting

[2020-03-12 08:29] JeffGuKang opened #1115 "LiveQuery: Parse.LiveQuery.open() feature request"
**Is your feature request related to a problem? Please describe.**
I use `Parse.LiveQuery.close()` to close connection from livequery websocket server regardless of whether my subscriptions are unsubscribed or not.

And the subscriptions works again after websocket open if it was not unsubscribed before.
But there is no method to livequery open again. Only another `subscription` can open the socke

[2020-03-12 10:01] JeffGuKang commented on #1115
I need to dig more

[2020-03-12 10:01] #1115 closed

[2020-03-14 01:06] capacitivellc commented on #1052
Is this released yet?

[2020-03-14 01:11] dplewis commented on #1052
We will be doing a release this weekend! Stay tuned

[2020-03-16 09:58] oallouch commented on #992
Hi,
I still have issues with v 2.11.
The user in my localstorage has
className: "t"
instead of
className:  "_User"

I have another project at version 2.1 and it doesn't have this problem.

thx in advance,

Olivier

[2020-03-19 16:00] BenApes opened #1118 "Allow Pin of unsaved Parse.Object with an unsaved, but pinned, Parse.Object pointer"
### Issue Description

When using my Parse JS SDK powered application offline, I can create a Parse Object and 'pin' it, allowing me to get the object from the local datastore when I want it, and save it later when I have connection. I cannot, however, create another object of a different class, assign the first object to a property of the second object and then pin the second object into the loca

[2020-03-25 00:28] MileanCo commented on #1052
I also get this problem when doing
[code]

Is this patch released yet?

[2020-03-25 00:56] MileanCo opened #1126 "linkWith() does not work on React Native 0.61+"
Example usage -
[code]

[code]

### Environment Setup
"expo": "^36.0.0",
"parse": "^2.11.0",
"react": "^16.9.0",
"react-native": "https://github.com/expo/react-native/archive/sdk-36.0.1.tar.gz",

### Logs/Trace

[2020-03-25 13:27] dplewis commented on #1126
This has been addressed and will be included in the next release

[2020-03-25 13:34] MileanCo commented on #1126
Any idea when the next version will be released? I used the master branch of Parse JS SDK from here instead of 2.11 from npm, but I still get this error...

[2020-03-27 08:05] xianhaosui opened #1127 "Wechat Mini Program"
I use the uniapp multi platform of dcloud company to refer to the SDK of Wechat Mini Program and report the following error. What's the situation?
----------------------------------------------------------------
Version 2.11 is used, but the previous version 2.6 does not have this problem
----------------------------------------------------------------
code:
`import Parse from 'parse/weapp';
Parse

[2020-03-27 14:22] dplewis commented on #1127
Duplicate https://github.com/parse-community/Parse-SDK-JS/issues/916 . Check out that thread. Feel free to debug this and find a solution. Unfortunately we can test Wechat Mini Programs.

You might might have to stay 2.6.0.

[2020-03-29 05:15] xianhaosui commented on #1127
Waiting for repair

[2020-03-30 21:08] dplewis commented on #1126
Closing via https://github.com/parse-community/Parse-SDK-JS/pull/1128

@MileanCo Can you try the latest release. Let us know if your issue persists

[2020-03-30 21:08] #1126 closed

[2020-03-30 21:10] dplewis commented on #1127
@xianhaosui We need developers like yourself using WeChat mini to fix this issue.

[2020-03-30 21:15] dplewis commented on #1111
@noahsilas Can you check if the latest SDK release fixed this issue?

[2020-03-30 22:31] noahsilas commented on #1111
Looks like it's fixed! Thank you!

[2020-03-30 22:32] #1111 closed

[2020-03-31 04:49] JeromeDeLeon opened #1130 "Updating file is not allowed"
### Issue Description

I just tried the new feature of Parse.File, and unfortunately, adding metadata on existing Parse.File object will result to an error saying that `Cannot read property 'format' of undefined`.

### Steps to reproduce

1. Create a `Sample` class
2. Add a `profile` column with Parse.File as it's type
3. Add new row by attaching a sample file
4. Query it using Parse JS sdk
5. Add

[2020-04-01 10:22] rizzla22 opened #1132 "Parse client side parsing or conversion of Pointer array"
Parse community is down so I cant ask there. Can you point me in the right direction as Im not sure is this handled serverside or client side with the JS SDK.

I have the following function where likes is an array of parse profile pointers, what is the optimium way to convert these pointers to full profile objects which can be accessed client side, client side I either get an object that cant be i

[2020-04-01 16:31] ladigitale commented on #1096
According to [Mozzilla](https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest/Using_XMLHttpRequest#Monitoring_progress)

So, parse supports only progress download yet.

[2020-04-01 23:29] JeromeDeLeon commented on #1096
I don't think so. I believe this feature worked before in our previous app that's why I was wondering what happened.

[2020-04-01 23:29] JeromeDeLeon commented on #1096
I'll try to investigate more.

[2020-04-02 07:22] ladigitale commented on #1096
The data you 've posted show that the progressEvent fired is related to download.
It has downloaded 243 bytes whose body should look like :

I juste made a test by adding ".upload" between "xhr" and ".onProgress" and the progress event works great.

[2020-04-02 08:24] JeromeDeLeon commented on #1096
Sorry, this is new to me. All this time, I though, `onprogress` event on `XMLHttpRequest` was for `upload` and `download`.

[2020-04-02 08:29] JeromeDeLeon commented on #1096
Then, how come this works before on our app?

[2020-04-02 08:42] ladigitale commented on #1096
See : [here](https://github.com/parse-community/Parse-SDK-JS/commit/e66948e4b9704f21998e82f1f3d04dccba9b4e9a)

The upload attribute was initially used in RestControler.js

[2020-04-02 09:25] JeromeDeLeon commented on #1096
Seems like it. Before, what was not working was download progress because of `upload` being present in `XMLHTTPRequest` statement. Now, they removed it and instead used `onprogressevent`.

I assumed, we could do something like this:

[code]

We could add `uploadProgress`, not sure if that makes sense to avoid collision if they both run at the same time? or one after the other. If not, then using `

[2020-04-02 10:17] JeromeDeLeon commented on #1096
Upon checking, I modified the `parse` in my `node_modules` and tried adding `xhr.upload.onprogress` and works just fine.

[2020-04-02 11:09] ladigitale commented on #1096
Maybe i would keep the same callback, but add an optional parametter to it in order to give the type of the progess ("upload" or "download").

[2020-04-02 11:18] ladigitale commented on #1096
Or a method on the File object that would give more info or control on this object. But i know it's way more complicated

[2020-04-02 12:42] ladigitale commented on #1096
Or maybe pass the original event instead of the type.

[2020-04-02 12:54] JeromeDeLeon commented on #1096
We can move the discussion there. :smile:

[2020-04-02 13:42] JeromeDeLeon commented on #1132
You could use `include` or `includeAll` to fetch the pointed data like `pointers` or `array of pointers`.

[code]

It allows you to access the `profile` object like so:

[code]

[2020-04-02 13:50] JeromeDeLeon commented on #1132
Is `likes` an array? because I saw you just used `push` . FYI, we also have `add` families like `addUnique`, `addAll`, `addAllUnique` to add a ParseObject to particular field:

[code]

[2020-04-03 09:26] steelzeh opened #1134 "NativeScript + Parse = TypeError: undefined is not an object."
I'm currently having an issue when trying to use Parse with Typescript and NativeScript.
Whenever i run the code and try to Parse.initialize it get the following error:

CONSOLE ERROR file: node_modules/@angular/core/fesm5/core.js:4002:0: ERROR Error: Uncaught (in promise): TypeError: undefined is not an object (evaluating 'global.process.browser')
../node_modules/pbkdf2/lib/default-encoding.js(fi

[2020-04-05 09:55] rizzla22 commented on #1132
That’s awesome I didn’t know about add etc

[2020-04-06 09:55] codeKonami opened #1135 "Unexpected behavior on the `exists` method"
### Issue Description

An object exists in the database.  You need a sessionToken to access it.

If you use the Parse.Object `exists` method without sessionToken instead of throwing an error, it resolves with the value `false`. I think it's quite an unexpected behavior. It's caused by theses lines of code

https://github.com/parse-community/Parse-SDK-JS/blob/f2d76805000488fefce2b0c2e73d8953007f2b1

[2020-04-06 16:56] davimacedo commented on #1135
In my opinion, that's the right behavior. If the user does not have access to this object, they should not be able to know if it exists and receiving always false (no matter it exists or not) looks a good solution for me. If we throw an error, the user will know that the object exists. It also looks to me compliant with the other features, such as the count, which does not count the objects to whi

[2020-04-06 17:43] dplewis commented on #1135
@davimacedo I agree that this is expected behavior.

[2020-04-06 17:45] dplewis commented on #1134
Possible duplicate https://github.com/parse-community/Parse-SDK-JS/issues/939

Let us know if that solves your problem

[2020-04-06 17:45] dplewis commented on #1132
@rizzla22 Can this be closed?

[2020-04-06 17:46] dplewis commented on #1130
@JeromeDeLeon Can you add an integration test case?

[2020-04-06 18:45] javimendezona opened #1136 "Live Query websocket error: "additional properties not allowed". Sending installation ID when not needed"
### Issue Description

When trying to establish a LiveQuery websocket, sometimes I get this error:

`{op: "error", error: "Additional properties not allowed", code: 1, reconnect: true}
`

In some cases, it will try to reconnect without sending the installation ID which will allow it to connect successfully.  However, sometimes it doesn't retry, in which case it just never establishes the LiveQuery

[2020-04-06 21:42] codeKonami commented on #1135
I see what you mean. But if you have CLP that `requiresAuthentication` your approach would not allow to trigger the "authentication error".

[2020-04-07 01:29] dplewis commented on #1136
That error is a fall back for older versions of Parse Server. If you update to the latest it won’t give you an error.

Thanks for the video, it was really helpful. I would like to see a case when it doesn’t reconnect.

[2020-04-07 02:50] javimendezona commented on #1136
@dplewis thanks for the response.  I'm currently using a hosted Parse server on Sashido.  Their latest version is 3.6 so unfortunately I don't have control over that.  I'll ask them when they plan to update the the latest.  Do you happen to know what version this issue was first resolved in?

[2020-04-07 03:17] JeromeDeLeon opened #1139 "Ability to verify password"
**Is your feature request related to a problem? Please describe.**
I'm having this use case where I need to verify the password first before proceeding to the next action even though the user had already logged in. This would also be useful to other use case like confirming current password before changing to new password.

**Describe the solution you'd like**
It would be better for the SDK to pro

[2020-04-07 17:56] dplewis commented on #1136
Here is the PR for it https://github.com/parse-community/Parse-SDK-JS/pull/977

As for which version most likely 4+

As a workaround you could get the default live query client and set additionalProperties to false.

I still would like to fix the disconnect on reconnect issue.

[2020-04-08 03:37] davimacedo commented on #1135
I guess that's not true. If you check the code [here](https://github.com/parse-community/Parse-SDK-JS/blob/master/src/ParseObject.js#L972), you will see it throws any error that not `ParseError.OBJECT_NOT_FOUND`. In the case there is no CLP, a `119` error should come from the server and it should be thrown to the client. If that's not case that you are observing, do you mind to write a test case?

[2020-04-08 21:23] MileanCo commented on #1126
The issue is still there :(
It happens after doing this:
[code]

[code]

[2020-04-08 21:24] MileanCo commented on #1126
I also get some weird warning about Linking requires a scheme when the app loads. I dont think this is related to the above issue though...
[code]

[2020-04-08 21:33] dplewis commented on #1126
@MileanCo Can you debug

`- node_modules/parse/lib/react-native/ParseUser.js:302:23`
`- node_modules/parse/lib/react-native/ParseUser.js:769:17 in DefaultController.currentUser`

You can compare it with this SDK. Under the hood linkWith should be using currentUserAsync unless you are also doing Parse.User.current();

[2020-04-08 21:51] MileanCo commented on #1126
ParseUser.js:302 is this line https://github.com/parse-community/Parse-SDK-JS/blob/7f32cd53daf0a1e3eb045050d2adbaa14a617afa/src/ParseUser.js#L295

ParseUser.js:769 is this code https://github.com/parse-community/Parse-SDK-JS/blob/7f32cd53daf0a1e3eb045050d2adbaa14a617afa/src/ParseUser.js#L914

I dont call Parse.User.current() anywhere and im using parse@2.12.0

[2020-04-09 00:36] dplewis commented on #1126
You are using isCurrent() which calls Parse.User.current() `ParseUser.current()`

We could create another function isCurrentAsync or change it internally.

[2020-04-09 01:19] MileanCo commented on #1126
No where in my code am I calling isCurrent(). Here are all the references to Parse in my code... The stack trace is originally coming from some flushQueue, meaning that work was created through some other code calling isCurrent. I have this same (or very similar) code in another project using the latest Parse code and React Native 0.59 (Expo SDK 35) and it works there...

[code]

[2020-04-09 01:27] dplewis commented on #1126
If you could create a separate project that can reproduce this issue and post it that would help debug this issue.

[2020-04-09 15:21] dplewis commented on #1139
Good catch! Also `verificationEmailRequest` is missing too. Would you like to start a PR for it?

[2020-04-09 16:22] JeromeDeLeon commented on #1139
Will do. I'll update you when it’s done.

[2020-04-09 19:02] javimendezona commented on #1136
@dplewis thanks for the workaround tip.  That works for me.  I didn't realize you could set that value directly with the LiveQueryClient instance.  It isn't totally clear in these [LiveQueryClient docs](https://parseplatform.org/Parse-SDK-JS/api/master/Parse.LiveQueryClient.html) .  For anyone who finds this:

[code]

[2020-04-09 19:02] #1136 closed

[2020-04-12 21:37] travsr opened #1147 "LiveQuerySubscription "open" event does not fire as expected"
### Issue Description
When I register an `open` event for a `LiveQuerySubscription`, the event does not fire on the intial websocket `subscribed` event as you'd expect. However, if it does fire if a reconnect happens.

My guess is the fact that you now have to wait for the subscription object to be returned via promise from `query.subscribe()` may be the cause. By the time you are able to register

[2020-04-14 07:50] davimacedo commented on #1135
@codeKonami thanks for the PR with the test case. I pulled your branch and played around. I could reproduce the problem, but only with the `requiresAuthentication`. I mean, if we set no CLP for `get` or even some role, it works properly, and error code `119` is received. The problem is on Parse Server, though. https://github.com/parse-community/parse-server/blob/6b0efaeffd9fc59002ee87562d0a4105d52

[2020-04-14 15:30] dplewis commented on #1147
You brought up an interesting point. The point of waiting for the subscription is to ensure the connection is successful, resulting in the open event to not fire.

We should remove it from the documentation.

@acinader @davimacedo Thoughts?

[2020-04-14 16:01] dplewis commented on #1147
@travsr Can you post your quick fix? I'm curious on how you got it to work.

[2020-04-14 16:03] dplewis commented on #1096
Closing via https://github.com/parse-community/Parse-SDK-JS/pull/1140

[2020-04-14 16:03] #1096 closed

[2020-04-14 16:20] davimacedo commented on #1147
@dplewis what do you want to remove from the docs? The open event?

[2020-04-14 16:26] dplewis commented on #1147
@davimacedo Hmm we could add a slight delay [here](https://github.com/parse-community/Parse-SDK-JS/blob/master/src/LiveQueryClient.js#L377). This will allow client time to set an Open Event.

[2020-04-14 17:03] davimacedo commented on #1147
Yes. Just `setTimeout(() => subscription.emit(SUBSCRIPTION_EMMITER_TYPES.OPEN, response));` should do the magic.

[2020-04-14 17:26] travsr commented on #1147
@dplewis @davimacedo Yep that's exactly where I added it in my code as well :) I used 200 ms  and it hasn't given me issues so far.

[2020-04-15 15:06] stevestencil commented on #1130
You can only add metadata and tags to a file that has not been saved already. You can do this on the client side or in the beforeSaveFile trigger. @dplewis should we add logic that will either throw an error or fail silently if metadata or tags are added to an already saved file?

[2020-04-15 15:29] JeromeDeLeon commented on #1130
May I know why is that the case?

[2020-04-15 15:33] stevestencil commented on #1130
1) Parse-server API does not support updating files
2) The file adapters do not support updating files (only create, get, and delete)
3) S3 does not support updating of metadata at all (it has to be set when you create the file). (I'm not sure about other storage solutions with updating metadata)

[2020-04-15 15:39] JeromeDeLeon commented on #1130
This become useless when you have an existing files tho and decided to update this to latest version but since we couldn't do something if the file storage itself doesn't want to support it. Thanks for clarification.

[2020-04-15 15:41] #1130 closed

[2020-04-17 15:41] lorki opened #1149 "How to create a Parse Object from JSON for cloud code?"
data:

[code]
I want to create three ParseObjects through the JSON.

[2020-04-17 15:44] lorki commented on #1127
用在微信那种别扭的平台上还是最好用一个APIG来处理一下最好。

[2020-04-17 15:52] #1149 closed

[2020-04-22 00:53] dplewis commented on #1139
Closing via https://github.com/parse-community/Parse-SDK-JS/pull/1144

[2020-04-22 00:53] #1139 closed

[2020-04-22 00:54] dplewis commented on #916
Closing via https://github.com/parse-community/Parse-SDK-JS/issues/1127

[2020-04-22 18:52] #1147 closed

[2020-04-23 09:11] anitricks commented on #1126
Im having the same issue with v2.12.0 (latest version) using ```linkWith``` for any social provider. I am not calling Parse.user.current() anywhere in my code and have set the async storage before any calls are made

[2020-04-23 14:38] #1132 closed

[2020-04-24 21:45] stevestencil opened #1153 "Callbacks for certain events"
**Is your feature request related to a problem? Please describe.**
I would like to be able to register a callback that can be called anytime certain events happen anywhere in the app. For example:
- An invalid session token error is thrown
- User did login
- User did logout

In the iOS SDK there are NSNotifications that can be listened to for certain events. Having the same capability in the Javas

[2020-04-27 23:23] JeromeDeLeon commented on #1153
Not sure about the iOS, but we did a global error handler that verifies for invalid session token and other errors. We put that inside `catch` of every promise or `error` callback of RxJS.

For the login/logout, is using `then(callback)` not enough?

[2020-04-29 09:07] isokosan commented on #203
Does anyone have any suggestions on implementing two or more Parse instances at the moment?

Re-initializing Parse before making read/write requests is getting the job done for now, but I need to make multiple live query connections, and that is breaking when re-initializing the app.

Ps: I don't use authentication at all. Thanks!

[2020-04-30 05:26] dplewis commented on #1153
Most front end frameworks support event emitter or pub sub built in. I think this would introduce a lot of overhead.

Feel free to do a PR, we'll review it.

[2020-05-03 11:06] markusschmitz53 commented on #1134
I also have a similar problem with the process object. Workaround in #939 also didn't solve the problem.

[2020-05-03 12:11] markusschmitz53 opened #1160 "Parse.Object set Method not working in NativeScript"
### Issue Description
I'm trying to get Parse in NativeScript Vue working. I managed to initialize it using the workaround #939 (fixed the [first issue](https://github.com/parse-community/Parse-SDK-JS/issues/939) where _process.version_ was not set). I now tried to create a new Parse Object and set a string value on it which doesn't work.

### Steps to reproduce

1. Install NativeScript Vue + Pars

[2020-05-04 03:58] YousefAlsbaihi commented on #500
You can't call `currentAsync` outside async function, for example in your facebook login code you used `async fbLogIn() {...}` so since this is async function, you have to use `currentAsync`

[2020-05-04 08:29] YousefAlsbaihi opened #1161 "Reset password keep success"
# Issue Description
Reset password keep giving **Password reset request was sent successfully** even when the email not exists or even if the email field empty

### Steps to reproduce

as you can see in this code, the email is empty but it still show me the the email sent,
when i try to put an any email i get the same results.
[code]

### Expected Results

expected to show error

### Actual Outcom

[2020-05-04 18:48] TomWFox commented on #1161
This is actually expected behaviour. Please see the below except from [a Stack Overflow answer](https://stackoverflow.com/questions/55295156/password-reset-not-checking-for-existing-users/55319213#55319213)...

[2020-05-04 18:48] #1161 closed

[2020-05-06 07:23] JeromeDeLeon opened #1162 "Unsuccessful cancellation of Parse File"
### Issue Description

I was trying to cancel an a PFile when I noticed in my network that it successfully cancelled the PFile but created another request to continue saving the file. I tried checking who called it the second time and to my surprise, it went another attempt to save the file because of [this](https://github.com/parse-community/Parse-SDK-JS/blob/0923c93aecd2ad46f4c0d03e8a838e5fa8eea

[2020-05-07 11:20] REPTILEHAUS opened #1163 "Updating user object with dashboard does not get returned"
my app is running
    "parse": "^2.11.0",

serverside running
    "parse-server": "^4.2.0",

Im using MongoAtlas as the backend DB. when i update a _User object and set a fields value it is not reflected in the app using the following. I always get the old value, but from the app if I run ` ` `user.set('status', "allowed")` then it will retrieve the new value.

It seems that the value is ignored b

[2020-05-07 11:54] #1163 closed

[2020-05-21 14:22] kyawswarthwin commented on #992
"parse": "^2.13.0",
"@types/parse": "^2.12.1",
Not working

[2020-05-22 10:25] kyawswarthwin opened #1169 "JSON data save return ACL must be a Parse ACL. error"
const data = Parse.User.current().toJSON();
      const user = new Parse.User();
      user.save(data);

      Error
      ACL must be a Parse ACL.

[2020-05-23 15:56] RaschidJFR commented on #918
@mtrezza what's your use case for this feature?

[2020-05-23 16:06] mtrezza commented on #918
@RaschidJFR why?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-05-23 16:07] dplewis commented on #918
I forgot about this feature, I can do a PR if you want

[2020-05-23 16:15] mtrezza commented on #918
No-one has voiced any need for it to my knowledge, and I personally don’t need it anymore, but it would certainly be a nice-to-have feature.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-05-23 18:15] RaschidJFR commented on #918
Because I've just started working on #1170 and I thought it might be related.

[2020-05-23 18:21] mtrezza commented on #918
@RaschidJFR Related in what sense?

[2020-05-23 18:33] mtrezza commented on #918
@RaschidJFR Related in what sense?

This issue is about the pipeline not being serialized with toJSON().
Your PR seems to be about mixing the where condition into the pipeline.

Can you please open an issue for your PR where you describe your intention, so the community can debate it if necessary? I already see some potential issues with that PR.

[2020-05-23 18:43] mtrezza commented on #1162
That's an interesting one! Does it affect all requests to parse server or only Parse.File requests?

[2020-05-24 00:45] mtrezza commented on #1169
This is not an issue with Parse Server. Questions regarding your implementation and code level questions are better suited on Stack Overflow using the [parse-platform](https://stackoverflow.com/questions/tagged/parse-server) tag. If your question is not appropriate for the site please use our [community forum](https://community.parseplatform.org).

[2020-05-24 15:16] kyawswarthwin commented on #1169
const data = Parse.User.current().toJSON();
  const user = new Parse.User();
  user.id = data.id;
  user.save(data);

can you show if you can make it work. its not work with angular. talk is cheap show me the code.

[2020-05-25 16:16] RaschidJFR opened #1171 "Stack `ParseQuery.aggregate()` on top of a constructed Query"
**Is your feature request related to a problem? Please describe.**
Currently `ParseQuery.aggregate()` ignores all the conditions of a query created with the Query functions: `equalTo()`, `matchesQuery()`, `matchesKeyInQuery`, or event `ParseRelation.query()`...

So it becomes extremely difficult to aggregate complex because `aggregate()` relies only on the pipeline argument.

Example:

[code]

**D

[2020-05-25 16:22] RaschidJFR commented on #918
@mtrezza I was just gathering information about similar problems to mine to try to solve them at once. Your issue is caused because `aggregate()` is executes the query but does not modify it, same as `find()` (they are sibling functions). So if you don't have a use for it anymore I'll just ignore it in my proposal.

I've created #1171 so let's move the conversation there. Please list the potential

[2020-05-25 16:24] RaschidJFR commented on #918
@dplewis Please have a look at my PR #1170 and let me know if you need me to include anything else in case it goes ahead.

[2020-05-25 17:27] mtrezza commented on #1171
Thanks for opening the issue for your PR.

What do you mean by merging, can you give an example?

Which conditions would be translated into the pipeline?
How do you handle conditions that are not translated into the pipeline?

In my view a query becomes more opaque when it is partly declared in Parse conditions and partly in a pipeline. In addition, some conditions may be discarded because they ar

[2020-05-26 16:02] kyawswarthwin commented on #921
its now 2020. i do really want this feature.

[2020-05-26 16:44] RaschidJFR commented on #1171
Same example: this query should aggregate the results of the original OR query, but it does not:

[code]

Ideally, all of them. As a developer you would like to aggregate the whole query you've constructed so you can leverage the friendly SDK constraints, instead of manually building their equivalent into a mongodb pipeline. I think the less pipeline you have to write, the better.

I'm not proposi

[2020-05-27 07:03] jaysonng opened #1176 "CloudCode beforeSave and others need to be updated"
__Link to section:__
https://parseplatform.org/Parse-SDK-JS/api/master/Parse.Cloud.html#.beforeSave

__What is the issue?__
From what I understand and found out from StackOverflow and the migration guide below, "response" has been deprecated

![Screen Shot 2020-05-27 at 3 02 18 PM](https://user-images.githubusercontent.com/440445/82988016-18e63780-a02b-11ea-9ade-a0a86c082017.png)

__Can you propos

[2020-05-27 20:20] dplewis commented on #1169
@kyawswarthwin You have `toJSON`, you can use `fromJSON` or you can user `.set` for individual fields. `toJSON` encodes the fields which `save` can't process. Note your error

[2020-05-27 20:20] #1169 closed

[2020-05-31 10:20] woutercouvaras commented on #1091
In case anyone else is using Nuxt for SSR, I've managed to get SSR working with the nuxt-parse module by attaching Parse to the Nuxt context - see here:  https://github.com/cierrateam/nuxt-parse/issues/23

I've mentioned there that I've not tested this with Middelware yet, but as soon as I have, I'll add further comments to the ticket referenced here.

[2020-06-02 14:36] RaschidJFR commented on #1171
So, any thoughts?

[2020-06-03 00:16] mtrezza commented on #1171
Well, this sums up my point of critique pretty well. If one doesn't fully understand how to write a pipeline query, then why would they use the pipeline command at all, which is for creating complex queries? 🙂

The main issue I see is incompatibility. Not every `find` command has an equivalent `aggregate` command and vice-versa. Or sometimes there is an equivalent but it has more / less / differen

[2020-06-04 21:23] gwenoleR opened #1182 "[React Native] Error when trying to send request to server XMLHttpRequest"
### Issue Description

Hi !
My issue is related to #1093 but using differents versions

I'm basically trying to sign up an user on my Parse Server, or create an Object.

### Steps to reproduce

I have setup my parse connection using the documentation
[code]
### Expected Results

A http code 201 from the Parse server

### Actual Outcome

The request is never send. I got an error `XMLHttpRequest`
[c

[2020-06-05 23:29] gwenoleR commented on #1182
It's a mistake with the `AsyncStorage` package.
It's not like the old react-native package. With the new one, **DO NOT** use bracket
[code]

[2020-06-05 23:29] #1182 closed

[2020-06-08 07:57] dblythy opened #1184 ".fields() doesn't work on ParseLiveQuery JS"
Not sure if this is an issue with Parse Server, or the JS SDK.

However, [ParseLiveQuery server](https://github.com/parse-community/parse-server/blob/master/src/LiveQuery/ParseLiveQueryServer.js#L680) states:

`subscriptionInfo.fields = request.query.fields`

Yet I could not find any way to set `.fields` on the request query.

I presume `.select` is intended for this, however I don't think [ParseQ

[2020-06-11 21:06] dplewis commented on #1184
It should work as the keys are passed in [here](https://github.com/parse-community/Parse-SDK-JS/blob/master/src/LiveQueryClient.js#L291)

Does your live query return all keys? Can you write a test case?

[2020-06-14 18:34] sabzo opened #1185 "S3 Direct Access is inconsistent depending on file extension"
### Issue Description

Using Parse-SDK-JS with the S3 FileUpload Extension produces inconsistent results when `directAccess: true`. I am successfully able to upload images with the extension `.jpeg`, but not with `.jpg` or `.png` for example. However if I change `.jpg` to `.jpeg` direct upload to S3 works.
When images are `jpg` it seems the S3 Fileupload module tries to call the Parse Server `file

[2020-06-14 21:07] sabzo commented on #1185
A quick simple way to reproduce by using CURL:
[code]
This will not work.

This is using the [example](https://docs.parseplatform.org/rest/guide/#uploading-files) provided.

[2020-06-15 22:56] sabzo commented on #1185
I realized the error. For posterity: There was an Nginx load balancer which was routing assets to a different server, different from the Parse Server. Changing Nginx configuration to allow parse requests that end in an img extension fixed the issue.

[2020-06-15 22:56] #1185 closed

[2020-06-21 01:36] mtrezza commented on #1171
For reference, something similar already exists for the other direction, but excluding aggregation: https://github.com/yog27ray/mongoToParse

[2020-06-21 11:54] #1153 closed

[2020-06-26 03:33] #1160 closed

[2020-06-26 03:33] #1134 closed

[2020-07-01 16:06] #1171 closed

[2020-07-06 07:27] markusschmitz53 commented on #1160
still having this problem

[2020-07-14 17:06] dblythy commented on #1184
Will do!

[2020-07-18 12:50] henrikperrochon opened #1196 "Queries fail to parse results when asking for subfield of a null pointer or null array of pointers"
### Issue Description

When using select to specify fields and subfields, a query may fail to parse results if one of the field is null.

### Steps to reproduce

1 - From the dashboard, select a collection (let say Sample) with a field typed as array (let say arrayfield).
2 - Set the field to be null.
3 - Call the following query :
`new Parse.Query('Sample').select(['arrayfield.subfield']).find().

[2020-07-18 15:59] dplewis commented on #1196
Thanks for reporting. We will look into it shortly.

[2020-07-24 21:11] sunshineo opened #1200 "Is there a hook to run some code after a class is created?"
There 2 things we want to do:
1. Set a CLP
2. Add index to createdAt and updatedAt
3. Add a beforeSave to the newly created class

We plan to write a script to do this for all our existing classes, but can we also do it when new classes are created?

[2020-07-25 00:54] sunshineo commented on #1200
Ops. wrong repo

[2020-07-25 00:54] #1200 closed

[2020-07-25 15:19] WAGuerra opened #1201 "crypto-js:4.0.0 dependency crashes React Native app"
### Issue Description

`crypto-js:4.0.0` dependency from `parse:>2.11.0`  is incompatible with `react-native` see [this](https://github.com/brix/crypto-js/issues/256#issuecomment-585175130).

### Steps to reproduce

Include a parse `>2.11.0`as a dependency on a react-native project.

### Expected Results

To run app without error.

### Actual Outcome

Application crashes with error:
[code]

### En

[2020-07-28 14:04] dblythy commented on #1184
[code]

[2020-07-28 14:09] dplewis commented on #1201
Can you fork the project. Downgrade crypto-js to 3.3.0. Build it and use it in your project to see if that fixes the issue?

[2020-07-28 14:20] dplewis commented on #1184
@dblythy I opened a PR with a test case https://github.com/parse-community/Parse-SDK-JS/pull/1203

It works for me. Let me know if it accurately represents the issue you are having

[2020-07-28 14:24] dblythy commented on #1184
Thank you mate. I might have misunderstood the [LiveQuery docs](https://github.com/parse-community/parse-server/wiki/Parse-LiveQuery-Protocol-Specification).

My thinking is that "update" should only fire when "name" is changed (if "fields" is selected).

Is that correct?

[2020-07-28 14:30] dplewis commented on #1184
Interesting. I actually don't know. I was focused on this part.

I assumed it would function just like `.select`.

@parse-community/core-maintainers What should the proper implementation for this be?

[2020-07-28 14:33] dplewis commented on #1184
@dblythy Oh I see what you were trying to do in your example.

[2020-07-28 14:35] dblythy commented on #1184
In my use case, I am creating a LiveQuery on the _User class, but I only need updates on the "notificationCount" field, which is incremented on an afterSave trigger.

I.e

[code]

I don't want the update event to fire when "firstName" / "email" is updated.

I can easily compare originalObject and newObject but I was thinking fields would be more efficient to be implicitly choose which keys you wan

[2020-07-29 14:51] WAGuerra commented on #1201
As soon as I can I will try that.

[2020-07-29 15:14] WAGuerra commented on #1201
I guess I am missing something on build.

 I am getting:
[code]

My fork is [here](https://github.com/WAGuerra/Parse-SDK-JS)

[2020-07-29 19:07] dblythy commented on #1184
@dplewis what do you think about the addition of a few more LQ triggers, `beforeCreate` and `beforeUpdate`? I'm thinking that these could be like an afterFind trigger, and maybe throwing from the triggers could be silent and just prevent the event from being called.

I could do something like:

Parse.Cloud.beforeUpdate(Parse.User, request => {
    if (!request.object.dirty('Notifications')) {

[2020-07-30 14:10] dplewis commented on #1201
Have you tried `npm link`?

[2020-07-31 13:31] xiangdong9013 opened #1204 "Can't change 'maxUploadSize' to some value that bigger than '20mb'"
### Issue Description

When I once change the config, and set 'maxUploadSize' to some value that bigger than '20mb', it didn't work.

### Steps to reproduce

my parse server configuration:
app:{
...otherConfigs,
maxUploadSize: "100mb"
}

### Expected Results

### Actual Outcome
class '_Product',  field 'download' which type is 'File'(ParseFile),click 'Upload', Choose some file which size is bigger

[2020-08-08 07:50] mogita commented on #603
Upvote for this. In my case, I can easily distinguish requests from my custom express API handlers and the ones made by Parse itself in my Parse hooks. Now they are simply identical.

[2020-08-08 08:19] shiroganee opened #1208 "React Native Network tracker"
**Is your feature request related to a problem? Please describe.**
In React Native Debugger / Google Chrome debugging and similar tools you can turn network tracking - it doesn't work for Parse requests which is a bit troublesome

**Describe the solution you'd like**
GLOBAL.XMLHttpRequest = GLOBAL.originalXMLHttpRequest || GLOBAL.XMLHttpRequest;
That line solves an issue with chrome debguger in re

[2020-08-17 16:00] dplewis commented on #1201
@WAGuerra Any progress on this?

I'm looking at the [CryptoController](https://github.com/parse-community/Parse-SDK-JS/blob/040e8c1cbf82270aec145e1af1efd24cc53bc5dd/src/CryptoController.js) It shouldn't use crypto-js for react-native builds

[2020-08-17 17:18] dplewis commented on #1184
@parse-community/core-maintainers What do you guys think?

[2020-08-17 20:19] davimacedo commented on #1184
I'd prefer to have an additional option in the current triggers for not broadcasting the change. Or, if stop the broadcasting is the use case, wouldn't be better to improve the current logic to not broadcast when not needed by default?

[2020-08-20 00:39] #1176 closed

[2020-08-20 13:56] WAGuerra commented on #1201
Finally got time to see this.

Downgrade to crypto 3.0.0 didn't work.

[2020-08-20 14:01] dplewis commented on #1201
Did you get the same error? Can you try 3.3.0? Can you look in your new build and see if crypto-js is used anywhere? I don't think crypto-js is a dependency of the other node packages we use.

[2020-08-20 16:42] WAGuerra commented on #1201
Same error.
Well running `npm ls`
i've got:
[code]

[2020-08-20 16:44] dplewis commented on #1201
Why is it 2.14.0?

[2020-08-20 16:47] WAGuerra commented on #1201
Well, I don't know. I just clone the repo and changed the crypto dep to `"crypto-js": "3.3.0"`. After that I run build and then `npm ls`.

[2020-08-20 16:53] dplewis commented on #1201
Thanks for looking into this. We use parse-server as a dev dependency.

parse-server -> parse@2.14.0 -> crypto-js@4.0.0

[2020-08-20 16:56] WAGuerra commented on #1201
You're well come.

[2020-08-20 17:01] WAGuerra commented on #1201
By the way, I have cleaned the cache to get it to work.

[code]
extracted from [here](https://gist.github.com/jarretmoses/c2e4786fd342b3444f3bc6beff32098d#gistcomment-2785627)

[2020-08-20 17:04] dplewis commented on #1201
I'll open a PR to downgrade crypto to 3.3.0 if it works.

[2020-08-20 17:05] dplewis commented on #1201
@WAGuerra I edited my last comment

[2020-08-20 17:12] WAGuerra commented on #1201
[doesn't work with 4.0.0 or any version above 3.3.0 for now](https://github.com/brix/crypto-js/issues/256#issuecomment-585175130)

[2020-08-20 17:20] dplewis commented on #1201
Can you try to move crypto-js to optionalDependencies, rebuild and see if that works.

[code]

[2020-08-24 10:32] vince1995 opened #1214 "equalTo + notEqualTo: Add possibility to pass objects."
In some cases I create queries with two or more `equalTo` statements with variables which already have the same name of the attribute.

Something like this:
[code]

Would be great to pass as object:

[code]

The same should work for `notEqualTo`.

[2020-08-24 11:39] arladmin commented on #258
Hi @parkej60 , were you able to work out a solution for this?
As this still seems to be an issue, at least in my case.

[2020-08-30 21:41] RaschidJFR opened #1217 ""schema mismatch" when trying to add empty array to a ParseRelation"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/Parse-SDK-JS/issues?q=is%3Aissue).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I can reproduce the issue

[2020-09-01 23:32] #1201 closed

[2020-09-04 01:59] dplewis commented on #1085
@REPTILEHAUS Shouldn't this cause the server to fail on start up.

Also the mail gun adapter `sendMail` returns a promise [here](https://github.com/parse-community/parse-server-simple-mailgun-adapter/blob/master/index.js#L13). The server doesn't resolve the promise [here](https://github.com/parse-community/parse-server/blob/142eaa71bdc5cab806706db1c9bbffe9ed47c4d5/src/Controllers/UserController.js

[2020-09-04 07:29] davimacedo commented on #1085
I believe that it makes sense to not wait for the promise to complete. It would delay the sign up process. We could catch and log any possible error though.

[2020-09-12 20:03] dplewis commented on #1088
Closing due to inactivity.

There is an existing test case for this issue.

https://github.com/parse-community/Parse-SDK-JS/blob/ba6cbf9446312b139553bfa45cc627de11ac531d/integration/test/ParseUserTest.js#L296

Please reopen if issue persists.

[2020-09-12 20:03] #1088 closed

[2020-09-12 23:28] adrianwi2000 opened #1224 "Sample ToDo List Does not Work for Web"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/Parse-SDK-JS/issues?q=is%3Aissue).
- [x] I can reproduce the issue

[2020-09-13 01:02] dplewis commented on #1224
Closing via https://github.com/parse-community/Parse-SDK-JS/pull/1094

Please update to the latest version of the SDK and use the following import: (don't forget `.js`)

`import Parse from "parse/react-native.js";`

[2020-09-13 01:02] #1224 closed

[2020-09-13 01:54] adrianwi2000 commented on #1224
Hi, thanks for the quick reply. I did change to:

import Parse from "parse/react-native.js";

I now get the following error:
Module not found: Can't resolve 'react-native-web/dist/exports/AsyncStorage'

[2020-09-13 02:03] dplewis commented on #1224
This is not an issue with the Parse JS SDK. Questions regarding your implementation and code level questions are better suited on Stack Overflow using the [parse-platform](https://stackoverflow.com/questions/tagged/parse-server) tag. If your question is not appropriate for the site please use our [community forum](https://community.parseplatform.org).

You can also checkout the [README.md](https:/

[2020-09-13 02:36] adrianwi2000 commented on #1224
Thanks for the information.

[2020-09-17 16:15] #1118 closed

[2020-09-17 16:54] #1217 closed

[2020-09-17 18:24] #1196 closed

[2020-09-24 22:36] KAIOAVILA opened #1230 "Feature saveEventually for offline use"
I have difficulties in implementing an offline-first application in react native, due to the lack of a very essential functionality to work well, which in the sdk of Android and iOS has to be saveEventually.  Because if not, I have to use another database to keep track of it.  Firebase has this functionality implemented in their lib.

implement something like what you have in the Android and iOS s

[2020-09-25 15:05] dplewis commented on #1230
I tried working on something similar after I added the LDS. You can view the conversation [here](https://github.com/parse-community/Parse-SDK-JS/pull/734#issuecomment-463011648).

I'd be more that happy to discuss a strategy with you based off the existing implementation in iOS and Android.

[2020-10-06 12:11] rizzla22 opened #1231 "Parse security questions"
Server
- Parse Server version: `4.2.0`

Client
- Parse JS SDK version: `2.16.0`

Im developing what is to be a secure application using parse server and js sdk which will be extensively audited so I have some questions about basic parse security.

1) The `_User` table is supposed to be relatively safe or hidden, calling on `Parse.user.current()` retrieves everything for that user, is there a way t

[2020-10-06 19:17] davimacedo commented on #1231
1. I'd store these sensitive information in another class and create a pointer from _User to this other class.
2. You shouldn't allow the client fetch any information that they can't see.
3. You have to use CLP and ACL to restrict the objects that each user can read/write.

[2020-10-10 18:24] mtrezza commented on #1231
I'm closing this as it does not seem to be a Parse JS SDK issue.

For help with Parse Server, here are some resources you can try:
- For code-level questions we recommend Stack Overflow using the [parse-platform](https://stackoverflow.com/questions/tagged/parse-platform) tag.
- For network and server questions we recommend ServerFault using the [parse](https://serverfault.com/questions/tagged/pars

[2020-10-10 18:25] #1231 closed

[2020-10-11 23:42] #1208 closed

[2020-10-19 15:39] dplewis commented on #1184
Closing via https://github.com/parse-community/parse-server/pull/6859

[2020-10-19 15:39] #1184 closed

[2020-10-20 11:35] francojohnc commented on #482
I check the code and no set called from parse object

[code]

[2020-10-22 18:24] dplewis commented on #1214
Closing via https://github.com/parse-community/Parse-SDK-JS/pull/1235

[2020-10-22 18:24] #1214 closed

[2020-10-28 14:07] rhuanbarreto commented on #40
This is possible today!

[2020-11-08 11:44] itsnitigya commented on #922
Any updates on this issue?

[2020-11-10 10:18] lamualfa opened #1249 "[Svelte] - ParseError: /node_modules/crypto-js/crypto.js"
## Problem

**Code**
[code]
Yes, the code is just that. But the code above gives an error, the error is:

[code]

I have also tried to install `crypto-js@^4.0.0` as `dependencies`. I have also done the same for version `crypto-js@^3.3.0`. And errors keep appearing.

I am using `rollup` and `@rollup/plugin-node-resolve` to use Node JS core library in Browser (Crypto). The following is the config fo

[2020-11-10 15:11] dplewis commented on #1249
@lamualfa This doesn't look like an issue with the SDK. We released a 2.18.0 update that you can try.

I'm not familiar with rollup but if you install crypto-js can check `node_modules/crypto-js/crypto.js` that file doesn't exists. [crypto-js/src](https://github.com/brix/crypto-js/tree/develop/src).

You can try to change your config to `dedupe: [ 'crypto-js', 'crypto' ]` or `preferBuiltins: false

[2020-11-10 17:17] lamualfa commented on #1249
@dplewis I'm a little confused. when I don't import the `parse` library, the error won't occur. But if I do the opposite, the error will return.

After I set the options for `@rollup/plugin-node-resolve` to:

[code]

The following error will appear:

[code]
I never use `crypto-js` library in my code. But why does the error point to the `crypto-js` library?

The same error will appear if you use th

[2020-11-10 18:01] dplewis commented on #1249
Can you try `import Parse from 'parse/dist/parse.min.js';`

[2020-11-10 19:49] dplewis commented on #1249
@lamualfa I opened a PR https://github.com/parse-community/Parse-SDK-JS/pull/1252 We will try to  improve the way to import the SDK into web based projects.

[2020-11-10 22:35] lamualfa commented on #1249
Work with this. Thank You.

[2020-11-10 23:07] #1249 closed

[2020-11-11 10:45] MrSMAK commented on #194
Thanks, this solution helped!

[2020-11-12 20:20] rdhelms opened #1254 "Questions about optimal dev setup for contributing"
I recently started working in this repo to make a small update to a PR. Initially, after reading through [CONTRIBUTING.md](https://github.com/parse-community/Parse-SDK-JS/blob/master/CONTRIBUTING.md), I installed the VSCode extensions mentioned in the [recommended setup](https://github.com/parse-community/Parse-SDK-JS/blob/master/CONTRIBUTING.md#recommended-setup). Also, since the repo supposedly

[2020-11-12 22:00] davimacedo commented on #1254
I don't use these extensions. @dplewis do you use them? Maybe we should remove from the contributing docs.

[2020-11-12 22:40] dplewis commented on #1254
I don't anymore, I couldn't get the debugger to work back in the day. A member of our community helped build the Jasmine Test Explorer to be used with the SDK.

Looks like Flow Types are being handled by `eslint-plugin-flowtype`. What sort of chaos are you seeing with the Flow Extension?

[2020-11-13 14:57] rdhelms commented on #1254
Enabling the Flow Language Support extension gives me 195 errors across a couple dozen files. Additionally, I can change a completely random Flow type (like `AttributeMap` to `number`) and `npm run lint` still seems to pass without error. Am I missing a way to validate the code based on the Flow types?

![image](https://user-images.githubusercontent.com/7010586/99085364-1609df80-2596-11eb-9d64-4b0

[2020-11-13 15:06] dplewis commented on #1254
It might be an issue with `eslint-plugin-flowtype`. Try to add `"plugin:flowtype/recommended"` under `extends` in the `eslintrc.json` file. The linter should fail. We could remove the plugin in favor of [flow-bin](https://github.com/flowtype/flow-bin)

[2020-11-16 13:45] rdhelms commented on #1254
Adding `plugin:flowtype/recommended` does indeed cause `npm run lint` to fail. So does this mean that the current Flow types being used are not actually connected to the code, yet? That they're more for documentation than actual type accountability?

[2020-11-19 00:51] dplewis commented on #1254
I think it was because there were originally a several hundred (maybe thousand) errors at the beginning and we have been updating them slowly over time. It would be nice to fix all the errors.

[2020-11-19 14:45] ravikumarmistry opened #1258 "Isomorphic javascript client library."
**Is your feature request related to a problem? Please describe.**
I wanted to use the parse-client with nativescript app but as far as I can see this library uses some of the javascript modules which are not available in nativescript runtime (Ex. local storage, crypto,). Can we redesign this library using only modules which are available stripdown javascript runtime. If we can do that we do not n

[2020-11-20 03:56] dplewis commented on #1254
@rdhelms its mostly for documentation. Since this isn’t typescript. The Types are stripped out during the final build.

[2020-11-20 13:49] rdhelms commented on #1254
Interesting...it seems like a stretch then in the contributing guidelines to say that this repo "uses Flow" since it's intended to be used as a static type checker similar to TypeScript (TS types also compile away during final builds), but there actually isn't any type checking going on here.

[2020-11-24 09:42] vince1995 opened #1259 "ParseObject: get multiple attributes with "get""
Would be great if it's possible to retreive multiple attributes with the `get` function in Parse Objects:

`const { foo, bar, test } = object.get(["foo", "bar", "test"]);`

[2020-11-24 17:34] davimacedo commented on #1259
you can do `const { foo, bar, test } = object.attributes`

[2020-11-25 08:18] vince1995 commented on #1259
I know but I want to hold my code clean and use only official API endpoints.

[2020-11-25 09:21] swittk opened #1260 "Typescript definition for equalTo() and notEqualTo() doesn't seem to acknowledge Array types as in the documentation."
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/Parse-SDK-JS/issues?q=is%3Aissue).
- [x] I can reproduce the issue

[2020-11-25 09:45] fastrde commented on #1260
Thank you for pointing this out.
I am also using parse with Typescript and the definitions unfortunately don't match 100% of the code, but the definitions are not maintained here. It would be nice, when you could send a PR to https://github.com/DefinitelyTyped/DefinitelyTyped to fix this for us typescript users.

[2020-11-25 10:54] swittk commented on #1260
Hi there.
I currently have a stopgap solution for this problem, but I'm not sure this is the best way to approach this.
Currently the definition is like this
[code]

To include array types, I've changed it to this for my use.
[code]

However, the checked type still allows either an array or an object, and I'm not sure if I should submit a PR with this typing since it's not truly correct. I'd be gl

[2020-11-25 11:02] swittk commented on #1260
Btw, just wondering, are there other functions that work on arrays other than equalTo and containsAll?

[2020-11-25 22:11] davimacedo commented on #1259
Why do you believe the way you are proposing is cleaner? object.attributes is an official endpoint: https://parseplatform.org/Parse-SDK-JS/api/2.18.0/Parse.Object.html#attributes

[2020-11-26 06:33] vince1995 commented on #1259
Oh man, didn't noticed that. Ok, thank you. But why are there a set and get function if it's ok to set attributes via the attributes key?

[2020-11-26 06:33] #1259 closed

[2020-11-27 01:51] swittk commented on #1260
OK, I've submitted a PR to https://github.com/DefinitelyTyped/DefinitelyTyped/pull/49818
I'll close this issue when that pull request gets received.

[2020-11-28 21:51] allanext opened #1263 "Aggregate pipeline query doesn't accepts $and operator"
It looks like I can use $unwind, $match, $group, $count, $sum, $multiply etc with an aggregate pipeline but the $and operator doesn't seems to be allowed?
[code]
I'm getting an `Error: Invalid parameter for query: $and`.

The same query works on Rails and on a mongoDB terminal.

Am I making a mistake? Does using the "and" operators implies using the `query.find()` with equalTo(), notContainedIn()

[2020-11-29 12:56] dodendeneme opened #1264 "Make exclude work for child objects"
**Is your feature request related to a problem? Please describe.**
In parse server we can put parse objects to another parse object. And we can get them with include method.
We also select specific fields from child objects with select method.
But we cannot exclude fields from child object. Lets assume we have Book object. And author field is a pointer to a user. If I want to get author alongside

[2020-11-29 12:59] #1264 closed

[2020-11-29 13:00] uzaysan opened #1265 "Make exclude work for child objects"
**Is your feature request related to a problem? Please describe.**
In parse server we can put parse objects to another parse object. And we can get them with include method.
We also select specific fields from child objects with select method.
But we cannot exclude fields from child object. Lets assume we have Book object. And author field is a pointer to a user. If I want to get author alongside

[2020-11-30 08:12] davimacedo commented on #1263
When you do

[code]

The $and operator is automatically used in order to ensure all the three constraints. You can also use a $and operator in the aggregate function, but it'd need to be inside a $match stage.

[2020-11-30 14:22] tiavina-mika commented on #258
Hi! so finally is there any solutions for this issue?

[2020-12-01 21:03] swittk commented on #1260
Fixed with release of @types/parse@2.81.1 https://github.com/DefinitelyTyped/DefinitelyTyped/pull/49818#issuecomment-736757432

[2020-12-01 21:03] #1260 closed

[2020-12-05 00:09] mtrezza opened #1269 "Parse.Errors Inconsistencies"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/Parse-SDK-JS/issues?q=is%3Aissue).
- [x] I can reproduce the issue

[2020-12-06 16:48] FunMiles opened #1270 "Support web workers with alternative to localStorage (IndexedDB ?)"
I have a Progressive Web App (PWA) that maintains a local copy of a user's data in an IndexedDB database. This app uses Firebase and I am trying to switch to Parse as it is not only open source, but would allow easier queries directly from the database than what Firebase supports.
The synchronization between the local copy and the cloud database is done in a web worker as to not impact the UI perf

[2020-12-07 19:41] dplewis commented on #1270
This is a good feature. Is this something you would like to work on?

[2020-12-08 17:37] dplewis commented on #1270
@davimacedo What do you think? I'm not too familiar with IndexedDB or the database creation.

[2020-12-09 00:04] FunMiles commented on #1270
Compared to localStorage, IndexedDB has the advantage that it is available in both the browser side and the worker side. Its disadvantage is that it is asynchronous. Personally I do not see that as a big issue because I don't think that, apart from toy applications, any full application can be written only with synchronous calls. IndexedDB behaves like a key-value storage with the kind of code I g

[2020-12-09 05:14] dplewis commented on #1270
I don't see an initial problem with adding a generic implementation into the project. I wanted to have a discussion on the best way to implement this.

1) What will users do if the browser doesn't support IndexedDB, or would we make a point of this being web worker only.
2) Would a generic way to open the database and create an objectStore be enough or will users want to customize it in the future

[2020-12-09 14:59] FunMiles commented on #1270
Here are my thoughts:

1. Support can be an issue. Searching on IndexedDB support across browsers seems to show it is well supported in modern browsers, though there are comments about bugs in MS's Edge browser (no surprise there 🙄 ). I was thinking that using the same storage across both the browser side and the worker side may allow to have one side handle the login and being able to talk with t

[2020-12-09 17:27] dplewis commented on #1270
I agree, feel free to open a Pull Request with tests and update the Readme. We'll gladly review it.

[2020-12-10 02:06] FunMiles commented on #1270
@dplewis I would love to, but as I mentioned a bit earlier, I am quite intimidated with this. Particularly the tests. I'm used to tests in C++ code but the tests in this project, though I can guess what they do, I don't know how to write and run them. I'm only running my code with the npm installed library.
Is there a guide to properly adding such a feature here?

[2020-12-10 02:17] dplewis commented on #1270
You can check out the [Contributing Guide](https://github.com/parse-community/Parse-SDK-JS/blob/master/CONTRIBUTING.md) to get started with the tests. There are a lot of test examples you can use from the existing StorageControllers.

[2020-12-10 18:11] dplewis opened #1272 "[Documentation] MasterKey in Parse.File.destroy()"
The `Parse.File.destroy()` method in the JS SDK requires the use of `masterKey` according to documentation, to destroy a file. See [JS SDK guide](https://docs.parseplatform.org/js/guide/#deleting-files).

Setting `masterKey: false` or not setting it at all has no effect and deleting the file succeeds. You can only delete files server side.

I think we need to either change the docs or the code, th

[2020-12-11 12:20] Moumouls opened #1277 "Do not support fieldName 'length' on Mongo 4.X"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/Parse-SDK-JS/issues?q=is%3Aissue).
- [x] I can reproduce the issue

[2020-12-11 14:26] dplewis commented on #1277
This is expected behavior.

https://github.com/parse-community/parse-server/pull/7053

I can open a PR to fix the tests.

[2020-12-11 14:26] #1277 closed

[2020-12-11 18:44] allanext commented on #1263
Thank @davimacedo,

in fact this works:
[code]
Note that in this `$text` case you'll need to create an index on from the mongo shell:
`db.m_apps.createIndex({ '$**': 'text' },{ background: true, name: 'Index_apps_text' })`

[2020-12-11 18:44] #1263 closed

[2020-12-14 17:25] felix-ht commented on #40
@rhuanbarreto
How?

[2020-12-14 20:34] rhuanbarreto commented on #40
PR #6177

[2020-12-14 20:40] rsmets commented on #40
Hmm forgive me, but I am unable to find PR#6177. @rhuanbarreto would you mind providing a link? Thank you!

[2020-12-15 07:28] rhuanbarreto commented on #40
https://github.com/parse-community/parse-server/pull/6177

You need to make a request to the REST API to have it working. The JS SDK doesn't yet support it. There's an open issue for it https://github.com/parse-community/Parse-SDK-JS/issues/1097

[2020-12-29 10:52] bussedesigngb opened #1281 "Parse.Schema.addField accepts Pointer and Relation types but functions not setup to accept these inputs"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/Parse-SDK-JS/issues?q=is%3Aissue).
- [x] I can reproduce the issue

[2020-12-30 18:31] cbaker6 commented on #1269
I know there have been a few discussions about Parse Errors. In terms of consistency for the SDKs, I think it could be beneficial to add a dedicated Parse Error for all SDKs in the main Errors file, for example, this can be general, `code: clientError = 993`, where the message is populated by the client itself. `sdkError` could be used, but "client" seems to match the current error naming conventi

[2021-01-08 12:06] jjunineuro opened #1283 "Change default login method to POST"
Hello everyone,

I really liked the application, however, I saw that the method for logging in with email and password uses the GET method.

I know that being in secure SSL connection this data is encrypted, however, according to the current Data Protection Laws, the login data is in the request log on the server, this is not at all interesting.

Imagine Parse's paid consumer services, the network

[2021-01-08 15:42] jjunineuro commented on #1283
Hello, thank you very much for your help.

I made the change in the Parse Javascript SDK and it worked.

But when testing on the Ass Flutter SDK, I don't have this option and I can't login using the POST method.

Could you help me with the Parse Flutter SDK too?

**In the Parse Flutter SDK**
![fluttersdk](https://user-images.githubusercontent.com/30479720/104033586-a431c900-51c7-11eb-845a-563f5edc

[2021-01-08 16:53] dplewis commented on #1283
@mtrezza @davimacedo  The login only supported GET initially which is why the SDK have a GET and not POST since POST was added later on.

It was added 3 years ago to the server, released on version [2.6.4](https://github.com/parse-community/parse-server/releases/tag/2.6.4).

PR -> https://github.com/parse-community/parse-server/pull/4268

Since it was so long ago, we can make POST the default.

Wh

[2021-01-08 16:59] mtrezza commented on #1283
Yes, POST can be default now, we should mark it as breakfast change though in case someone has a restrictive firewall based on the endpoint / http method combination.

@jjunineuro Would you please open a separate issue for in Flutter SDK repo and reference this issue?

[2021-01-08 17:23] jjunineuro commented on #1283
Yes @mtrezza, it already opens the problem in the Flutter SDK.

Thank you!!!

[2021-01-08 17:26] mtrezza commented on #1283
Thanks @jjunineuro, for pointing this issue out. Would you also want to open a PR in any of the SDKs to fix this?

[2021-01-08 17:29] jjunineuro commented on #1283
Yes @mtrezza , I appreciate the opportunity to contribute. But I have advanced knowledge, I tried to understand the code, but I didn't see the calls through the Login in the Flutter SDK. But I will dedicate a few hours to understand and implement this improvement.

[2021-01-08 17:32] mtrezza commented on #1283
Great! If you need any guidance please feel free to ask.

[2021-01-11 21:48] #1283 closed

[2021-01-11 21:50] mtrezza commented on #1272
Thanks, that is very well written 😁

[2021-01-11 22:38] #1272 closed

[2021-01-13 18:33] bawahakim opened #1286 "Possible inconsistency with include"
- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/Parse-SDK-JS/issues?q=is%3Aissue).
- [x] I can reproduce the issue with the latest versions

[2021-01-13 18:35] dplewis commented on #1286
Are you referring to `typeof pointer` or `__type = Pointer`?

[2021-01-15 15:24] bawahakim commented on #1286
`typeof pointer`. It returns a `ParseObject`, not a `ParsePointer`, and I can access all the methods and attributes of the object.

[2021-01-15 15:26] dplewis commented on #1286
Can you write a test case to reproduce this? I’ve seen other users post this or a similar issue but we never have enough information to reproduce it.

[2021-01-23 03:10] #203 closed

[2021-01-23 03:12] #591 closed

[2021-01-23 03:14] dplewis commented on #591
@flovilmart Welcome back! (Temporarily)

[2021-01-30 19:36] meepeek commented on #1230
Seems there was an attempt for JS SDK saveEventually on Titanium. It may be useful for the implementation. Link as follow

https://gist.github.com/cr0ybot/001c5aafcfd35251304961670287ee21

I'm not very deep into the code. Hope this help. Also react and react native webapp quite popular nowadays, I wish this would have been implemented.

[2021-01-31 13:53] PopeNobody opened #1289 "User objects loading incompletely, session not getting set."
### New Issue Checklist

- [x ] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x ] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x ] I have searched through [existing issues](https://github.com/parse-community/Parse-SDK-JS/issues?q=is%3Aissue).
- [x ] I can reproduce the i

[2021-02-01 14:22] mtrezza commented on #1269
Related: https://github.com/parse-community/parse-server/issues/6477

[2021-02-01 21:42] PopeNobody commented on #1289
Apparently this was in error.  Didn't know about the attributes attribute.

[2021-02-01 21:42] #1289 closed

[2021-02-02 06:43] tiavina-mika opened #1290 "Does someone use Parse in combination with NextJs (React)?"
I'm using a custome NextJs server using express and Parse Server.

here is my custom server:

`
/** ----------------------------------------------------- */
/** ------------------- Custom Server ------------------- */
/** ----------------------------------------------------- */

const express = require('express');
const dotenv = require('dotenv');
const next = require('next');
const path = require

[2021-02-02 07:02] dplewis commented on #1230
@meepeek Thanks that’s really helpful. The only problem I see it how to tell if the network connection is offline / online. I would like to avoid using the RestController since its only goal should be to send requests.

[2021-02-02 09:26] meepeek commented on #1230
@dplewis
should we make it part of livequery ? this way the client must connect ws then we can check on ws status.

[2021-02-02 14:16] dplewis commented on #1230
Not user had a Live Query server set up. But now that you mention it. We could add an emitter to the RestController to check if there is connection / deconnection

[2021-02-07 18:23] sadortun commented on #203
@flovilmart  Even if years have passed, I think this issue is still relevant and should be addressed.

[2021-02-07 18:25] flovilmart commented on #203
As years have passed and no one has addressed the issue. It is only fitting to close it. If you really feel the issue should be addressed, why don't you take a stab at it?

[2021-02-07 18:29] sadortun commented on #203
@flovilmart Indeed, I am currently looking into it.  This is something that we'll need.

[2021-02-07 19:46] sadortun commented on #203
@dplewis @mtrezza Your feedback would be appreciated. If we can find an agreement on this i could work on a PR in the next few months.

After some digging in the SDK, it seems that we need to
- `CoreManager` needs to be moved from `global` to an `instance`.
- Replace `Parse` and use a locally initialized `CoreManager`
- `Parse.Xyz` classes needs to be constructed with the local `CoreManager`

As f

[2021-02-07 20:06] mtrezza commented on #203
Can you lay out again what the objective would be?

[2021-02-07 23:22] sadortun commented on #203
@mtrezza We need to connect to two different servers from the same app

[2021-02-08 00:23] mtrezza commented on #203
We may want to keep the iOS and Android SDKs in mind. Ideally we find a concept that can be replicated to these.

Also, differentiation by app ID may make sense, to keep local cache separated. IIRC that is how it is currently done for Android and iOS SDK. There have been efforts in the past to remove the app ID from Parse Server entirely. It seems they have been abandoned, but some PRs have been m

[2021-02-10 00:26] eberperetto commented on #1126
Hey! I'm having the same issue using v2.19.0 and RN v0.63.4 while trying to call `linkWith` with a Google provider. [Here](https://github.com/eberperetto/ParseSDKJSlinkWithIssue) is a separate project reproducing this issue with batteries included.
Thanks!

[2021-02-10 21:11] #1230 closed

[2021-02-11 03:15] #1281 closed

[2021-02-11 04:50] dplewis commented on #1286
@bawahakim What does object.toJSON() return for you?

[2021-02-11 06:31] dplewis commented on #1126
@eberperetto Thanks for creating the project. I appreciated it. Can you open a separate issue so this conversation doesn't get lost?

[2021-02-12 00:55] eberperetto opened #1296 "linkWith() on React Native using currentUser()"
### New Issue Checklist
- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/Parse-SDK-JS/issues?q=is%3Aissue).
- [x] I can reproduce the issue

[2021-02-12 16:23] DurandSacha commented on #936
I have a same problem here.

[2021-02-12 18:23] dplewis commented on #936
@DurandSacha can you open a new issue and fill out the template as much as possible

[2021-02-12 20:37] dplewis commented on #1296
I see this has been an issue for a while now. I think we can use `currentUserAsync()` in as many places as we can. Also I think a new method `isCurrentAsync()` would be useful for react-native users.

[2021-02-12 22:09] dplewis commented on #1097
@JeromeDeLeon Thanks for your suggestions.

Have global config `CoreManager.get('AllowCustomId')` this will allow us to make sure that an objectId is required (or we could reuse _localId) before saving.

The next problem is with `PUT` vs `POST`. I think we can use the fact that a saved / existing object doesn't have a _localId.

@parse-community/core-maintainers Thoughts?

[2021-02-12 22:36] davimacedo commented on #1097
It looks a good approach.

[2021-02-14 03:45] bawahakim commented on #1286
Hey @dplewis

I've dugged a bit more into this. I've been pretty busy these last weeks and couldn't get back, sorry about that.

So in this first image, I've queried a class called `Program` that contains a Pointer to another class called `Category`.

<img width="1281" alt="image" src="https://user-images.githubusercontent.com/43802542/107867170-d536a500-6ebb-11eb-8575-1e95f62a6edb.png">

The firs

[2021-02-14 03:50] dplewis commented on #1286
I’ve personally seen this happen but it was 3 years ago. This is really helpful and you say it’s reproduceable? SingleInstance might be the issue here.

[2021-02-14 04:21] bawahakim commented on #1286
I can create a separate project, but that will have to wait a bit as I don't have much free time at the moment.

[2021-02-15 23:59] #1296 closed

[2021-02-16 21:09] eberperetto commented on #1296
Thanks for this PR, it's now working as expected! Any idea on when will this be officially released? I'm using this library in a public user guide and need to only use official releases. Sorry for commenting here, not sure where to do this.

[2021-02-17 06:26] sadortun opened #1299 "How to increment a nested object field ?"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).
- [x] I can reproduce the issue

[2021-02-17 17:08] #1270 closed

[2021-02-17 17:09] dplewis commented on #1299
Nice catch! Can you submit a PR and test?

[2021-02-19 17:20] dplewis commented on #1299
@sadortun A little back history. Nested objects were originally supposed to be for simple objects as complex objects could be broken up into different fields and classes.

If you have time check out this [thread](https://github.com/parse-community/Parse-SDK-JS/pull/729)

[2021-02-23 11:04] #1299 closed

[2021-02-23 12:07] sadortun opened #1304 "ParseObject.startsWith & endsWith cannot be use in a case-insensitive way"
**Is your feature request related to a problem? Please describe.**
Our MongoDB use a collation/strength that allows for case-insensitive queries/indexes

Unfortunatly `ParseObject.startsWith()` and `ParseObject.endssWith()` use a `$regex` that is case-sensitive.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

Considering that `matches()` already a

[2021-02-23 19:46] #1304 closed

[2021-02-24 01:05] #1097 closed

[2021-02-26 03:07] NaturalLam commented on #40
@rhuanbarreto , does this support in swift API too?

[2021-03-05 15:38] dblythy opened #1313 "Add dot notation to get/set `Parse.Object` attributes"
**Is your feature request related to a problem? Please describe.**
VueJS is pretty heavy on binding data using dot notation. This makes things pretty difficult when using Parse, as to get properties you need to use `.get(key)` and `.set(key)`.

This means that you have to constantly convert your data to and from JSON and Parse Objects.

**Describe the solution you'd like**
Be able to use dot notat

[2021-03-05 16:27] dblythy commented on #1313
closing for now as this is probably better suited to StackOverflow / the forum

[2021-03-05 17:49] sadortun opened #1314 "ParseObject: Add callback/trigger before save() and after find()"
**Is your feature request related to a problem? Please describe.**
We need to transform data stored in a `ParseObject` before it's sent to the server, and once again when received from the server via `find()`

Currently, there is no way to do this that is convenient.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

[code]

[code]

**Describe altern

[2021-03-05 19:57] dplewis commented on #1314
I had a similar idea a few years ago but we decided against it. You can try something like this
https://github.com/parse-community/Parse-SDK-JS/pull/731/files#diff-1268d6624e04364bc06fce6d6d5c3aa8158c753293ee31c86a37829c6e05c8a4R1993

[2021-03-06 03:48] sadortun commented on #1314
Thanks, I'll probably do what I mentioned in the alternate solution above.

It's also what was done in https://github.com/parse-community/Parse-SDK-JS/issues/594#issuecomment-403409633

Thanks

[2021-03-06 03:48] #1314 closed

[2021-03-11 16:04] tremendus opened #1316 "Create 'reactive' representation of state of datat in Parse.Object eg for use in libraries like React, VueJS, etc"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Front end libraries like Vue and React are 'reactive' front end libraries that support the automatic update to the UI when underlying data behind the UI changes. (eg. completing a task changes the status icon and label). To work, they requi

[2021-03-11 23:11] dplewis commented on #1316
@dblythy I remember you were using `.toJSON()` for binding and recently did a PR for subclassing to use with Vue. Do you have any ideas to help with this issue / feature?

[2021-03-12 03:49] dblythy commented on #1316
Hey Diamond,

I've written a [little subclass](https://github.com/dblythy/ParseJS-VueJS/blob/main/src/ParseVueObject.js) that should give you a rough idea of how the behaviour needs to be for VueJS.

This allows for the following code to get and set the field "name" on the "monster" Parse Object.

[code]

I'm not sure if this behaviour should be added to the core JS SDK.

The problem is that it wo

[2021-03-24 03:41] jackyang1984 opened #1330 "package is too much to wechat weapp"
### New Issue Checklist

- [ ] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [ ] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [ ] I have searched through [existing issues](https://github.com/parse-community/Parse-SDK-JS/issues?q=is%3Aissue).
- [ ] I can reproduce the issue

[2021-03-24 04:00] davimacedo commented on #1330
Would you mind to fill out the template? Tks.

[2021-03-24 04:00] #1330 closed

[2021-03-24 04:08] jackyang1984 opened #1331 "package is too much to wechat weapp"
### New Issue Checklist

- [ ] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [ ] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [ ] I have searched through [existing issues](https://github.com/parse-community/Parse-SDK-JS/issues?q=is%3Aissue).
- [ ] I can reproduce the issue

[2021-03-24 04:38] davimacedo commented on #1331
This is how wechat release is built: https://github.com/parse-community/Parse-SDK-JS/blob/master/gulpfile.js#L99

Maybe we could try to remove some dependencies that may not be necessary for wechat.

Also, I've never built wechat miniprogram, and I am not sure if that's possible, but maybe you can try to load the sdk from the cdn instead of embedding it in the program.

[2021-03-24 04:47] dplewis commented on #1331
Does SDK version 3.1.0 work this WeChat? If so we can close https://github.com/parse-community/Parse-SDK-JS/issues/1127

if you want you can fork the project and strip it down to use only what you need.

The REST Api is also an option

[2021-03-24 05:00] jackyang1984 commented on #1331
it's a good idea, but i dont know which file can remove,  better way is keep the base functionnality for miniprogram.

[2021-03-24 05:08] dplewis commented on #1331
Here is the PR https://github.com/parse-community/Parse-SDK-JS/pull/874 if you want to see base

[2021-03-24 05:19] jackyang1984 commented on #1331
@dplewis works well, thanks so much.

[2021-03-31 16:50] #1331 closed

[2021-03-31 16:51] dplewis commented on #1331
Glad you got it to work.

[2021-03-31 16:51] dplewis commented on #1127
Closing via https://github.com/parse-community/Parse-SDK-JS/issues/1331

Was told that the latest version of the SDK fixed this issue. Feel free to reopen if otherwise.

[2021-03-31 16:51] #1127 closed

[2021-04-07 03:46] JeffGuKang opened #1335 "`TypeError: undefined is not an object` with React Native v0.64 (EventEmitter)"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/Parse-SDK-JS/issues?q=is%3Aissue).
- [x] I can reproduce the issue

[2021-04-07 04:23] JeffGuKang commented on #1335
I think the reason is related to module ordering.
if I call `import Parse from 'parse/react-native'` before `import App from './App` the error message is popped up.

Error
[code]

No error
[code]

[2021-04-07 06:14] JeffGuKang commented on #1335
But I should import `Parse` first for importing parse schemas using `Parse.Object.registerSubclass('something', something)` as below.

[code]

And I found event emitter of react-native is using for live query on Parse.

So I can resolve issues remove livequery from parse.

`parse/lib/react-native/EventEmitter.js`, `parse/lib/react-native/LiveQueryClient.js`, `parse/lib/react-native/PLiveQuerySubsc

[2021-04-07 19:57] TravisDev opened #1336 "includeAll() includes first layer of nested children objects, not multiple"
### New Issue Checklist

- [x ] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [ x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [ x] I have searched through [existing issues](https://github.com/parse-community/Parse-SDK-JS/issues?q=is%3Aissue).
- [x ] I can reproduce the i

[2021-04-08 01:52] dplewis commented on #1336
This is the expected behavior. This uses the _SCHEMA class to get the name of the nested / pointer fields. The _SCHEMA as no way of knowing what multiple layers are.

[2021-04-08 15:57] dplewis commented on #1335
I'm glad it worked for you. Can you try an alternative solution from this [thread](https://github.com/facebook/react-native/issues/26687) with your error?

[2021-04-08 16:26] #1336 closed

[2021-04-08 18:21] TravisDev opened #1338 "Implement an array of pointers as an attribute type"
Currently to have an object with a list of children as an attribute, as far as I am aware, you must use a relation. It would be great if we could have an object with a list of children as an attribute using a pointer array. THEN to query it, you just include("children") to get it. A lot of my code has extreme complexity due to simple lists of data "in a column".

[2021-04-08 18:23] TravisDev commented on #1336
@dplewis Gotcha. I was looking at it and was unsure. Is is practical to implement this usuing something other than _SCHEMA or in conjunction of something else to be able to find the multiple layers? I would be interested in contributing this if you believe it is feasible.

[2021-04-08 18:57] dplewis commented on #1336
its doable but we would have to think about what all means. It could be n levels deep and we would have to check for recursion. It might be inefficient and costly query too

[2021-04-08 19:02] dplewis commented on #1338
This should work try it out. Check out this conversation https://github.com/parse-community/parse-server/issues/6926

[2021-04-09 03:15] TravisDev commented on #1338
@dplewis ohhh I didnt realize that this could be done...  I was looking in the docs for an example of how to save a list of children in a pointer array in the parent. I couldnt find one for the life of me.

[2021-04-09 03:19] #1338 closed

[2021-04-12 13:07] zanderisrael opened #1340 "$relativeTime - Missing support in OfflineQuery Class"
**Is your feature request related to a problem? Please describe.**
I use the same queries for both local and remote (db) queries, iv noticed that the $relativeTime token is not handled in the offlineQuery Class.

**Describe the solution you'd like**
Add support for the relative time queries on the offlineQuery.js class.

[2021-04-12 14:36] zanderisrael commented on #1340
Iv actually supported it, was not a big deal.
creating a pull request.

[2021-04-14 10:23] #1340 closed

[2021-04-14 13:53] aforemny opened #1347 "Stale data with Cloud functions and deleted fields"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/Parse-SDK-JS/issues?q=is%3Aissue).
- [x] I can reproduce the issue

[2021-04-14 13:57] aforemny commented on #1347
Analog to https://github.com/parse-community/Parse-SDK-JS/issues/205 and its fix https://github.com/parse-community/Parse-SDK-JS/pull/206, this seems to be caused by the fact that Parse-SDK-JS uses the `SingleInstanceStateController` and `Parse.Cloud.run` calls `decode` which calls `ParseObject.fromJSON(value)` when it should call `ParseObject.fromJSON(value, true)`.

The `UniqueInstanceStateContr

[2021-04-14 19:45] kierancrown commented on #1335
I'm also facing this issue with React Native 0.64.0. @JeffGuKang I'm struggling to reproduce your fix in my own project. Any pointers.? After deleting the files you mentioned I'm getting errors about the EventEmitter missing,

[2021-04-15 00:42] JeffGuKang commented on #1335
I didn't delete files. Just remove codes only in the files.

[2021-04-15 00:43] JeffGuKang commented on #1335
I think it can be solved to make user can initialize livequery.

[2021-04-15 00:48] JeffGuKang commented on #1335
I think you can remove two lines from `node_modules/parse/lib/react-native/Parse.js`

[code]

And use the [patch package](https://github.com/ds300/patch-package).

[2021-04-15 00:51] JeffGuKang commented on #1335
It can be solved to make user can control initialize  timing of `LiveQuery`.

[code]

I will test it.

[2021-04-15 01:00] JeffGuKang commented on #1335
I think the problem is importing `parse` first before importing `react-native`. LiveQuery initialize files to try to use `EventEmitter` from react native.

It can be solved to make user can control initialize  timing of `LiveQuery`.

[code]

I will test it.

[2021-04-15 02:53] dplewis commented on #1335
We should update the README.md as well with your import order solution

[2021-04-15 13:40] kierancrown commented on #1335
That did indeed work! Thank you very much.

[2021-04-15 18:14] lamualfa opened #1348 "Opinion - Makes the API more simple and readable like other platform"
**First of all, Thank you very much for this good library.**

There really isn't any problem that i get with the current feature and format. But I think, the Parse makes using the API is more complicated for ordinary people when first using it (_opinion_).

# Examples

## to Perform a Query

**Parse**
[code]

**Supabase** (_The Open Source Firebase Alternative_)
[code]

**Firebase**
[code]

## to

[2021-04-15 20:15] TravisDev opened #1350 "module is undefined when building the sdk"
I pulled latest master of this repo. I run npm install then I run npm run build and I get this error "Windows Script Host: Parse-SDK-JS\node.js  Error: module is undefined... My version of node is v15.10.0

The issue seems to be that there is a node.js file at the root of the project. I am developing on windows 10. I can take this file out and it seems to operate properly.

This may be an issue wi

[2021-04-15 20:46] TravisDev commented on #1350
I believe the issue is that I had to do npm install -g parse. Does this seem right?

[2021-04-15 21:27] TravisDev commented on #1350
moving this to slack

[2021-04-15 21:27] #1350 closed

[2021-04-16 05:02] davimacedo commented on #1348
I'm not sure if there is something to improve here as, if you prefer, you can also write the following codes using Parse SDK:

[code]

[2021-04-16 06:04] #1348 closed

[2021-04-19 16:26] bduyng commented on #1335
I solved the problem by replacing the first line in `node_modules/parse/lib/react-native/EventEmitter.js`

from
[code]
to
[code]

[2021-04-21 04:18] #1335 closed

[2021-04-21 04:48] swittk opened #1353 "User.linkWith doesn't remove anonymous auth"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).
- [x] I can reproduce the issue

[2021-04-23 17:01] jackyang1984 opened #1352 "Fix EventEmitter error in react native"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-04-23 18:51] davimacedo commented on #1352
It looks duplicated to https://github.com/parse-community/Parse-SDK-JS/issues/1335.

Could you please test with https://github.com/parse-community/Parse-SDK-JS/pull/1351#issuecomment-825158007 and revert a feedback?

Thanks.

[2021-04-23 18:51] #1352 closed

[2021-04-25 01:31] cbaker6 commented on #1353
Currently, the server isn't designed to handle this and the Client SDKs are expected to strip anonymous when linking:

Objective-C SDK: https://github.com/parse-community/Parse-SDK-iOS-OSX/blob/2e4242c683e645a7d78ff37dd34398119178c0c5/Parse/Parse/PFUser.m#L862-L884

Parse-Swift SDK: https://github.com/parse-community/Parse-Swift/blob/1636285beb51d9bf33230d5f80a9db5f8ec8707c/Sources/ParseSwift/Auth

[2021-04-28 15:11] dplewis commented on #1348
@davimacedo I kinda like this idea. I never thought about doing something like this.

[code]

[2021-04-28 16:28] davimacedo commented on #1348
It looks a good idea. Maybe we could also allow something like:

[code]

[2021-04-28 16:33] dplewis commented on #1348
That could work too, `equalTo` has been improved to accept an object.

[2021-04-29 11:16] mtrezza commented on #1348
A few aspects to evaluate the current Parse JS SDK syntax:
- a) Intuitiveness
- b) Readability
- c) Syntax safety
- d) Extensibility

Analysis:
- a) Intuitiveness
  The common usage of a *class initializer* is to execute additional tasks as part of the initialization. For example, `const q = Parse.Query.fromJson(..)` does not merely instantiate a blank Parse Query but parses a JSON with the abilit

[2021-04-29 21:33] pastean commented on #936
`TypeError: undefined is not an object (evaluating '_$$_REQUIRE(_dependencyMap[0], "../../../react-native/Libraries/vendor/emitter/EventEmitter").prototype.addListener')`

I've been stuck on this for a couple hours. Can anyone point me in the right direction? Worked before adding @types/parse. Not working after removing the package though.

[2021-05-01 12:05] jonas-db commented on #922
Is there any update on this issue or a workaround? We have several use cases where transactions would be necessary (eg update 2 objects at the same time or rollback)

[2021-05-13 15:52] tremendus opened #1362 "TypeError when bundling latest Parse JS SDK using VITE (the vue bundler)"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/Parse-SDK-JS/issues?q=is%3Aissue).
- [-] I can reproduce the issue

[2021-05-13 16:45] dplewis commented on #1362
Can you try using the CDN? https://cdnjs.cloudflare.com/ajax/libs/parse/3.2.0/parse.min.js

[2021-05-13 19:01] mstniy opened #1363 "Setting nested fields to objects"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/Parse-SDK-JS/issues?q=is%3Aissue).
- [x] I can reproduce the issue

[2021-05-13 19:03] mstniy commented on #1363
Relevant pull requests: #729, #1301

Note that none of the tests added by these pull requests test the scenario where a non-existent nested field is set to an object.

[2021-05-14 16:35] dplewis commented on #1363
@mstniy Since you are looking into nested objects can help out with this issue https://github.com/parse-community/Parse-SDK-JS/pull/1343

[2021-05-14 16:36] dplewis commented on #1363
Closing via https://github.com/parse-community/Parse-SDK-JS/pull/1364

[2021-05-14 16:36] #1363 closed

[2021-05-14 18:44] mstniy commented on #1363
Let's see

[2021-05-14 19:18] mstniy opened #1365 "ParseObject.get has side effects for pending operations on nested fields"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/Parse-SDK-JS/issues?q=is%3Aissue).
- [x] I can reproduce the issue

[2021-05-14 19:32] mstniy commented on #1365
[These lines](https://github.com/parse-community/Parse-SDK-JS/blob/ffc523f9cd0fa2dd3fcc9754d5f15c3c1c78314f/src/ObjectStateMutations.js#L119-L121) should probably be doing a deep-copy.
Feels like we should also remove line 138 and the spread at line 139.

[2021-05-18 23:03] GormanFletcher commented on #1362
The CDN build doesn't emit the error. But having the NPM build work would be preferable, since TypeScript doesn't know how to provide types for the CDN package.

[2021-05-19 06:54] SidRathi47 commented on #1362
We got the same problem while using this in React as well, same things with Snowpack as well.

[2021-05-19 17:10] tremendus commented on #1362
Yes, confirm that does get bundled properly and without errors.

[2021-05-19 17:11] GormanFletcher commented on #1362
Yep, that functions correctly, though I think I'll have to stick with the CDN approach for the moment - TypeScript doesn't know how to match that import up with the `parse` package types.

[2021-05-24 11:32] frouo opened #1368 "Check attributes spelling when using multi level includes"
### Is your feature request related to a problem? Please describe

I use Typescript and I could not find a way to check object's attributes **when using multi level includes**.

One level include works very fine (as shown below), but what if we use multi level?

### Describe the solution you'd like

Having a static pass-through function that returns the attribute:

[code]
**Usage could be like**

[2021-05-27 08:10] maidrissi commented on #936
go to the file:

`    node_modules\parse\lib\react-native\EventEmitter.js`

and change this line:

`var EventEmitter = require('../../../react-native/Libraries/vendor/emitter/EventEmitter');`

to this:

`import EventEmitter from 'react-native/Libraries/vendor/emitter/EventEmitter';`

Only solution that worked, for me, I have been pulling my hair out over this issue for 5 days. No solutions online.

[2021-05-30 17:17] tremendus opened #1371 "ParseObject#fetch should expose the same control over returned fields/pointers that Parse.Query does"
**Is your feature request related to a problem? Please describe.**
Currently, Parse.Query offers several methods to select/exclude fields and include related objects - `#select`, `include`, `exclude`

However, `Parse.Object#fetch` does not offer the same options. It offers only `#fetchWithInclude` which is a subset of the functionality available to Parse.Query. Notably you cannot omit fields using

[2021-05-30 17:45] Chocolladin commented on #1050
I am having the same issue, only on Android, tried @dplewis solution with an URI, still same results. @YousefAlsbaihi You managed to solved it out ?

Regards,

Bertrand

[2021-06-03 15:37] ferchuhill commented on #1014
I have a problem when set the request query:
`Parse.CoreManager.set("REQUEST_HEADERS", {
  "x-domain": process.env.NEXT_PUBLIC_HEADERS,
});`

When I add thar headers: the request only have this:

`Content-Type: text/plain
Referer: http://localhost:3000/
User-Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.77 Safari/537.36
x-domain: 7a6

[2021-06-07 02:40] franalt commented on #300
This is still an issue, any update on this?

[2021-06-08 13:42] sadakchap opened #1372 "Can not combine equalTo clause with any other clause"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/Parse-SDK-JS/issues?q=is%3Aissue).
- [x] I can reproduce the issue

[2021-06-08 13:44] sadakchap commented on #1372
There's the https://github.com/parse-community/Parse-SDK-JS/pull/1373 with a failing test case.

[2021-06-09 04:43] sadakchap commented on #1372
After looking into [code](https://github.com/parse-community/Parse-SDK-JS/blob/005321fa9d820b7f5d5275c6c77b842c449b44eb/src/ParseQuery.js#L1225) for `equalTo`, wherever we had queries like this
[code]
It seems like `equalTo` was always overriding any query on that key instead of adding new clause.

And when we try to apply other clauses to equalTo query,
[code]
 it was failing at [line](https://gi

[2021-06-09 04:49] dplewis commented on #1372
I posted this in the PHP SDK because a develop had the same idea you had or similar.

https://github.com/parse-community/parse-php-sdk/issues/476

I think they came up with a good solution of using this.addCondition(key, $eq, value) vs this.where[key] just wanted you to know. I’ll look into it more

[2021-06-09 05:19] sadakchap commented on #1372
Yes, that's a very good solution!
But what do you think about this scenario
[code]
this will result in `where={age: {$eq: 10, $exists: false}}`. Do you think this make sense ?

The way queries are executed, it make sense to me. But, earlier `equalTo` without any compareTo value was overriding anything and giving `where={age: {$exists: false}}`.

[test case](https://github.com/parse-community/Parse

[2021-06-11 08:07] aforemny commented on #1347
Is there anything missing from the issue description as to get some feedback?

[2021-06-11 17:57] davimacedo commented on #1347
Could you please open a PR with the solution and a test case which reproduces the issue?

[2021-06-15 10:24] JohannWeging commented on #1347
@aforemny I can take this from here, or do you want to continue?

[2021-06-15 11:10] aforemny commented on #1347
@JohannWeging Please do go ahead :-) Thanks!

[2021-06-17 19:11] franalt commented on #300
I can confirm @vmkudrin method works!

[2021-06-28 17:24] danielmalmros commented on #922
I am also interested in an update🙂

[2021-06-28 20:18] FunMiles commented on #1362
I hit the same issue with SvelteKit which is based on Vite. The minified version solved the issue for me as well.

[2021-06-30 21:40] pastean commented on #1296
Has this been released?

[2021-07-01 22:16] tlcaudill opened #1378 "Enable ability to set health check polling interval"
**Is your feature request related to a problem? Please describe.**
Parse server health check polling for browser clients is started as part of the Parse.initialize() call via '_EventuallyQueue.default.poll();'  The default polling interval is 2 seconds, but there doesn't appear to be a way to change that without modifying the code.  Many Parse Server hosting providers charge based on API calls so

[2021-07-04 16:46] lamualfa commented on #1362
@GormanFletcher Thank you very much for the solution.

**Formatted version**

[code]

[2021-07-13 13:40] tboily opened #1386 "Unhandled Promise rejection for ParseUser save()"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/Parse-SDK-JS/issues?q=is%3Aissue).
- [x] I can reproduce the issue

[2021-07-14 05:25] shuhankuang opened #1387 "JS SDK can not work with Chrome Extension service work."
With the Chrome extension manifest v2 update to manifest v3.

**Error: 100 XMLHttpRequest failed: "Cannot make a request: No definition of XMLHttpRequest was found."**
XMLHttpRequest has been deprecated and is not available in the service worker scope.

`javascript
try {
  importScripts("./libs/parse.min.js")
  importScripts("background.js")
} catch (e) {
  console.error(e)
}
`

[2021-08-04 19:23] dplewis commented on #1387
I'd recommend you create your own XHR implementation similar to

https://github.com/parse-community/Parse-SDK-JS/blob/master/src/Xhr.weapp.js

https://github.com/parse-community/Parse-SDK-JS/blob/master/src/RESTController.js#L334

[2021-08-08 17:07] cjbland commented on #936
For what it's worth I'm using TypeScript, `parse@3.3.0` and @maidrissi solution worked for me.

[2021-08-12 17:49] obermillerk opened #1393 "Aggregate query does not honor `sessionToken` option if passed"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/Parse-SDK-JS/issues?q=is%3Aissue).
- [x] I can reproduce the issue

[2021-08-15 13:33] Malenconiaprincep opened #1394 "User.logIn usePost parameter show error in Typescript"
### New Issue Checklist

- [ ] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [ ] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/Parse-SDK-JS/issues?q=is%3Aissue).
- [x] I can reproduce the issue

[2021-08-15 14:47] evansrobert opened #1395 "release patch for parse 2.19.x with updated dependency ws"
Hi, @dplewis @mtrezza,
### Issue Description
When I build my project, I notice that a vulnerability [**CVE-2021-32640**](https://snyk.io/vuln/SNYK-JS-WS-1296835) detected in package **ws(<5.2.3,>=6.0.0 <6.2.2,>=7.0.0 <7.4.6)** is directly referenced by **_parse@2.19.0_**.
   However,  **parse@2.19.0** is so popular that a large number of latest versions of active and popular downstream projects de

[2021-08-16 08:26] mtrezza commented on #1395
Thanks for reporting.

Why do you say they are not maintained anymore and which repositories aside from parse-server are you referring to? There has been a lot of activity in parse-server in the last months, maybe more than ever before. If you mean it has been some time since the last release, that is correct. We will release a new version in the coming weeks. We will also release a beta version o

[2021-08-17 04:48] dblythy commented on #1394
`@types/parse` is currently managed by the DefinitelyTyped repo. You can fix this error by creating a PR there.

I think all you'll need to do is add `usePost` to `FullOptions`

https://github.com/DefinitelyTyped/DefinitelyTyped/blob/5390831a9cb6da6cda0f18be90f664a9e0fc973b/types/parse/ts3.6/index.d.ts#L95

[2021-08-18 15:31] NadjibR opened #1396 "Nested objects retourned as Parse.Object and not as registered Subclass"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/Parse-SDK-JS/issues?q=is%3Aissue).
- [x] I can reproduce the issue

[2021-08-19 01:58] Kingtous commented on #922
interested.

[2021-08-19 08:06] mtrezza commented on #922
If anyone interested in picking up @mfkenson's https://github.com/parse-community/Parse-SDK-JS/pull/1090?

[2021-08-21 07:35] NishanthVemula opened #1398 "Retrieve Session Expiration details during Login"
### New Feature / Enhancement Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/Parse-SDK-JS/issues?q=is%3Aissue).

### Current Li

[2021-08-21 10:35] mtrezza commented on #1398
Thanks for suggesting!

I think adding the expiry date makes sense. We would have to look specifically at our session implementation and whether it creates an attack vector for Parse Server. Would you be willing open a PR for this?

[2021-08-22 09:18] NadjibR commented on #1396
@mtrezza

[2021-08-22 10:24] mtrezza commented on #1396
Thanks for reporting!

Can you please open a PR with a failing test?

We have a [blog article](https://blog.parseplatform.org/learn/tutorial/community/nodejs/2021/02/14/How-to-start-contributing-to-Parse-Server.html) that is especially directed towards first time contributors and a more technical [Contribution Guide](https://github.com/parse-community/parse-server/blob/master/CONTRIBUTING.md).

[2021-08-24 10:11] Malenconiaprincep commented on #1394
done

[2021-08-24 10:23] mtrezza commented on #1394
I'm closing this as it does not seem to be a Parse JS SDK issue.

[2021-08-24 10:23] #1394 closed

[2021-08-27 14:32] sadortun opened #1399 "Replace the use of 'require' by 'import' to reduce library side and improve performance. (Tree shaking)"
### New Feature / Enhancement Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/Parse-SDK-JS/issues?q=is%3Aissue).

### Current Li

[2021-08-27 14:39] mtrezza opened #1401 "Add Parse Issue Bot"
### New Feature / Enhancement Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/Parse-SDK-JS/issues?q=is%3Aissue).

### Current Li

[2021-08-27 14:46] #1401 closed, assigned to nobody

[2021-08-31 17:27] lsmilek1 opened #1402 "Option `allowCustomObjectId` forces all objects to have custom `objectId`"
### New Feature / Enhancement Checklist

- [ x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x ] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x ] I have searched through [existing issues](https://github.com/parse-community/Parse-SDK-JS/issues?q=is%3Aissue).

### Current

[2021-09-02 08:48] NadjibR opened #1405 "Centralized Error Handling"
### New Feature / Enhancement Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/Parse-SDK-JS/issues?q=is%3Aissue).

### Current Li

[2021-09-02 10:35] mtrezza commented on #1405
Thanks for opening this issue!

An approach could be to handle each Parse Error in a method like `func handleParseError(e: ParseError)` instead of handling it in each try / catch or failed promise block.

I'm closing this as it does not seem to be a specific feature request.

For help with the Parse JS SDK, here are some resources you can try:
- For code-level questions we recommend Stack Overflow

[2021-09-02 10:35] #1405 closed

[2021-09-02 11:43] alino20 opened #1406 "Can't create an object pointer without any data"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/Parse-SDK-JS/issues?q=is%3Aissue).
- [x] I can reproduce the issue

[2021-09-05 13:34] benjaminpjones opened #1409 "CONTRIBUTING.md: __tests__ is showing up bold"
### New Issue Checklist

- [ ] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [ ] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [ ] I have searched through [existing issues](https://github.com/parse-community/Parse-SDK-JS/issues?q=is%3Aissue).
- [ ] I can reproduce the issue

[2021-09-09 14:06] dplewis commented on #1409
Closing via https://github.com/parse-community/Parse-SDK-JS/pull/1408

[2021-09-09 14:06] #1409 closed

[2021-09-10 02:56] dplewis commented on #1406
See https://github.com/parse-community/Parse-SDK-JS/blob/master/src/ParseObject.js#L71

This is because of the way instances are created in Parse JS depending on your enviornment.

On Web clients there are single / shared instances which means objects with the same id will have same attributes.
On Node they are unique instances.

I hope this helps.

[2021-09-10 03:07] dplewis commented on #1398
Does this work for you?

[code]

[2021-09-12 08:44] camdagr8 opened #1412 "ReactNative - EventEmitter bug"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/Parse-SDK-JS/issues?q=is%3Aissue).
- [x] I can reproduce the issue

[2021-09-12 08:47] camdagr8 commented on #1412
Please note that I have tried **_everything_** in all the related and/or duplicated issues.

[2021-09-15 07:24] alino20 commented on #1406
Thanks. I changed my code according to your answer, and now it works as expected. Although I feel this should be somewhere in the documentations.

[2021-09-15 07:24] #1406 closed

[2021-09-19 21:16] 0biWanKenobi commented on #1362
I experienced the same issue today while migrating my Vue project to Vite. I created[ this minimal Codesandbox repro](https://codesandbox.io/s/vue-vite-parse-repro-b6xi9?file=/README.md) before finding this issue.. hope it helps. I also [created a post](https://community.parseplatform.org/t/vue-vite-parse-js-error-super-expression-must-either-be-null-or-a-function/2001) on ParsePlatform Community

[2021-09-23 14:46] dsyrstad opened #1415 "[@types/parse] Parse.Schema.all() return type incorrect"
### Issue Description
The declared return type from `Parse.Schema.all()` is defined as:
`static all(): Promise<Schema[]>;`

However, the actual return value is an array of the raw REST JSON response object, not `Parse.Schema`.

### Steps to reproduce
1. Call `await Parse.Schema.all()`.
2. Take the first value of the array result and try to call any `Parse.Schema` method, such as `get()`.

### Actu

[2021-09-23 14:48] dsyrstad commented on #1415
I did use the template.

[2021-09-28 03:40] dblythy commented on #1415
Jeu @dsyrstad, Types for the Parse JS SDK are currently managed by the Open Source Repo [https://github.com/DefinitelyTyped/DefinitelyTyped/blob/5390831a9cb6da6cda0f18be90f664a9e0fc973b/types/parse/ts3.6/index.d.ts](DefinitelyTyped). You can open a PR there to fix this issue

[2021-09-29 00:36] igor-lemon opened #1417 "Promise is never resolved when a server is down"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/Parse-SDK-JS/issues?q=is%3Aissue).
- [x] I can reproduce the issue

[2021-09-29 10:39] mtrezza commented on #1417
What would be the expectation? To reject the promise after a timeout?

[2021-09-29 11:07] igor-lemon commented on #1417
Yep, I think we should make a few retries (if I remember 5 by default) but after the promise should be rejected.
We have infinity waiting at the moment.

I think it related with `if (xhr.readyState !== 4 || handled || xhr._aborted)` condition.
We have `xhr.readyState` === `1` and just exit from the handler and after we don't make any repeat attempts.
I solved it at the local build when reject the

[2021-09-29 14:47] mtrezza commented on #1417
Sounds reasonable. Do you think you can submit a PR with a test and a fix for this?

[2021-09-29 15:19] igor-lemon commented on #1417
Yep. I'll try to do it today

[2021-09-30 17:40] JoeProgram commented on #922
I'm interested in this too.

[2021-09-30 20:20] igor-lemon commented on #1417
Hi, @mtrezza!
Will you check the PR?

[2021-09-30 21:11] mtrezza commented on #1417
Sure, feel free to request a review inside the PR anytime.

[2021-10-05 13:27] mtrezza commented on #1393
While this is theoretically possible, it requires an enormous effort to parse the MongoDB aggregation syntax and interpret it correctly. Given the versatility of aggregation and implied complexity, I would consider this unfeasible at this time. Maybe consider aggregation queries as a form of "direct access" to the database that circumvents any Parse checks.

I'm closing this for now, we can always

[2021-10-13 01:36] dplewis commented on #1378
I believe a good place to put this would be `Parse.enableLocalDatastore()`. In the iOS SDK the eventually queue and local datastore are closely related on each other. We can add it here to ensure consistency with the other SDKs.

https://github.com/parse-community/Parse-SDK-iOS-OSX/blob/2e4242c683e645a7d78ff37dd34398119178c0c5/Parse/Parse/Internal/ParseManager.m#L169

@mtrezza @davimacedo

[2021-10-13 06:00] davimacedo commented on #1378
Yes. It makes sense to me.

[2021-10-18 09:05] igor-lemon opened #1420 "Many repeated health requests if a server return an error in response"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/Parse-SDK-JS/issues?q=is%3Aissue).
- [x] I can reproduce the issue

[2021-10-18 10:27] igor-lemon commented on #1420
If a HTTP server return 400 or 500 code to `/health` request SDK start spam `/health` requests many times without any delay, ~4-6 requests per seconds endless

[2021-10-18 18:27] mtrezza commented on #1412
@davimacedo should this issue stay in this repo or be moved to the react repo?

[2021-10-18 23:18] mohamedGamalAbuGalala opened #1545 "AddField with type date and default value not working"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/Parse-SDK-JS/issues?q=is%3Aissue).
- [x] I can reproduce the issue

[2021-10-21 00:15] mtrezza commented on #1387
I'm closing this as it does not seem to be a Parse JS SDK issue.

- For help with Parse Platform we recommend our [community forum](https://community.parseplatform.org).
- For basic coding questions we recommend Stack Overflow using the [parse-platform](https://stackoverflow.com/questions/tagged/parse-platform) tag.
- For network and server questions we recommend ServerFault using the [parse-serve

[2021-10-21 11:52] mtrezza opened #1422 "⚠️ `master` branch is now `alpha`"
# ⚠️ New branch model

The `master` branch of this repository will be renamed `alpha`, becoming the new "default" branch. This is part of [release automation](https://github.com/parse-community/parse-server/issues/7271) to implement pre-releases (alpha, beta) to mature versions before official release.

## ✔️ Steps

- If you have a clone locally or forked remotely, you will need to update your clo

[2021-10-27 15:25] mstniy commented on #1422
Note that the release branch is currently broken, as it tries to fetch the server using the master branch, which does not exist anymore.

[2021-10-27 16:05] mtrezza commented on #1422
Yes, that should be fixed on Nov 1st when `alpha` is merged into `release`. By "broken" you mean only the CI, right?

[2021-10-27 16:12] mstniy commented on #1422
See [package.json](https://github.com/parse-community/Parse-SDK-JS/blob/release/package.json#L78)
It is marked as a dev dependency, so unless one tries to install the SDK with dev dependencies, it should be fine.

[2021-10-27 16:17] mtrezza commented on #1422
Yes, that has already been corrected on `alpha` and will be corrected on `release` by end of the week. I'd rather wait than correcting this manually now, because we want to try out the release automation that should create a PR to make a stable release.

[2021-11-01 15:12] mtrezza opened #1429 "Upgrade idb-keyval from 5.0.6 to 5.1.0"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/Parse-SDK-JS/issues?q=is%3Aissue).
- [x] I can reproduce the issue

[2021-11-13 10:03] yog27ray opened #1431 "Server selection ability while making any cloud function calls"
### New Feature / Enhancement Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).

### Current Li

[2021-11-13 19:21] mtrezza commented on #1431
It seems to be an elegant convenience wrapper for a REST call. Any other benefits this could have?

[2021-11-15 02:32] yog27ray commented on #1431
As of now that I can think of are
1. Consistency in making cloud function calls between different parse server (different database). Currently making rest API call breaks it.
2. Current project can be divided into small projects sharing same database and keys. This feature make this split easier without making function call syntax change.
3. This can be extended to Query calls also as for making r

[2021-11-15 09:20] mman commented on #1431
Sorry for hijacking the discussion, but I do not think this provides any benefit to general parse server use. Will need more convincing I think.

Your case is probably very specific in that you may have multiple different projects, all of them based on parse-server, that want to talk to each other via REST, but you want to simplify that, and believe that cloud function call with explicit server na

[2021-11-16 12:35] mtrezza commented on #1431
I think that all would be determined by the server address. It seems to be more of an architectural decision than a Parse Server configuration. Parse Server is currently unaware of whether its a single instance or part of a multi-instance target group behind a load balancer. Same for TLS, that's part of the connection string.

I think what's missing here is a server address in addition to the serv

[2021-11-17 01:15] davimacedo commented on #1431
The limitation here is actually regarding Parse JS SDK, which does not support instantiate multiple clients: https://github.com/parse-community/Parse-SDK-JS/issues/203

I think that would be a good addition to the JS SDK and I'd re-open the mentioned issue in the case someone is willed to tackle it. Anyways, I believe that this current issue does not belong to Parse Server repo.

[2021-11-17 12:16] mtrezza commented on #1431
Closing as duplicate of https://github.com/parse-community/Parse-SDK-JS/issues/203.

[2021-11-17 12:16] #1431 closed, assigned to nobody

[2021-11-22 10:49] simonaberry opened #1433 "Parse.Object.saveAll can result in duplicate objects"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/Parse-SDK-JS/issues?q=is%3Aissue).
- [ ] I can reproduce the issue

[2021-11-24 16:39] ephrimlawrence commented on #505
I know this is late but I encountered this recently and this is how is solved it.

Copy MongoDB URL (the Database URL) used in the Parse Server code, open it in any database client.

Go to the table/collection which represents the Parse Server class and find the column to which the files are being saved.
In my case, the File object was being saved like below (only 2 documents had this issue):

[co

[2021-11-25 12:16] mtrezza commented on #505
@ephrimlawrence I can't read from your comment whether you are describing a Parse Server / JS SDK issue, or whether this was an issue with your custom code. If it was a Parse related issue, could you please open a new issue and provide more details so we can look into this?

[2021-12-05 11:50] #1429 closed, assigned to nobody

[2021-12-05 11:51] #1422 closed

[2021-12-05 19:01] estradanic commented on #1050
Is there any progress on this? I'm having the same error message. Similar problem but with the Javascript SDK.

[2022-01-05 21:36] unicornist commented on #920
I recently had a similar issue in parse-server 4.4.0 which was related to the type of the field.
for example, if the field is a pointer a simple null match will work as expected like this:
[code]

but if the field type is Date, the same query will not work as expected:
[code]

but it's still working in mongo db shell though so I am sure there is a bug that is not fixed by the PR for this issue:
[c

[2022-01-05 21:56] unicornist commented on #920
Even I tried to find those documents by comparing by their types like below examples:

[code]

although these are working in mongo db shell, none of the above cases worked in parse server, and in all cases, I've got the following console error in an interval without crashing the app:

[code]

[2022-01-05 21:58] unicornist commented on #920
in case if someone else finds this thread, I solved my problem with the approach below:
[code]

[2022-01-11 14:17] chillaxdev opened #1440 "React Native (Parse JS API Issue) "Can't find variable: indexedDB""
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/Parse-SDK-JS/issues?q=is%3Aissue).
- [x] I can reproduce the issue

[2022-01-12 23:21] zealmurapa opened #1441 "React native SDK error: While trying to resolve module `idb-keyval` from file"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/Parse-SDK-JS/issues?q=is%3Aissue).
- [x] I can reproduce the issue

[2022-01-13 00:46] mtrezza commented on #1441
Does this issue belong to https://github.com/parse-community/parse-react?

[2022-01-13 10:56] zealmurapa commented on #1441
parse/react-native.js is a under parse sdk

[2022-01-16 02:59] stage88 commented on #1441
I got this same issue since upgrading to 3.4.1, its only a problem when used in a react-native project.

[2022-01-16 11:28] mtrezza commented on #1441
The [changelog](https://github.com/jakearchibald/idb-keyval/blob/main/CHANGELOG.md#v6) says:

Maybe that explains the error log:

See [this change](https://github.com/jakearchibald/idb-keyval/commit/b3a45b2418be550502bf84dc08cdcb522d33b6e5) and the [readme](https://github.com/jakearchibald/idb-keyval#all-bundles).

[2022-01-16 12:02] chillaxdev commented on #1441
@zealmurapa I got the same issue recently and have fixed it using this.
https://github.com/facebook/metro/issues/535#issuecomment-970443661

If it worked, it should bring you a new error "Can't find variable: indexedDB", which I've opened [here](https://github.com/parse-community/Parse-SDK-JS/issues/1440).

[2022-01-18 14:20] rdhelms commented on #1347
@aforemny @JohannWeging Did a PR ever get created for this issue? We ran into this same problem, although our case is for deleted fields being returned from `Parse.User.logIn()` rather than `Parse.Cloud.run()`.

@mtrezza Is there anything I can do to help with this?

[2022-01-18 17:02] rdhelms commented on #1347
After some more investigation, I'm realizing that our particular issue will likely not be fixed by the proposed fix in `decode.js`. Our issue comes from [`Parse.User.logIn`](https://github.com/parse-community/Parse-SDK-JS/blob/alpha/src/ParseUser.js#L1077), which doesn't call `decode` with the full response object. Instead, it calls [`_finishFetch`](https://github.com/parse-community/Parse-SDK-JS/

[2022-01-18 17:56] ndukachukz commented on #1441
I am having the same error with expo & typescript and I have no metro config. Do I create a metro.config.ts file or .js file then add support for .cjs and .mjs?

[2022-01-18 22:13] mtrezza commented on #1347
I am not aware of any PR that addresses this issue. I think a failing test case to demo the issue would be helpful. If your issue is unrelated to this existing issue, you could open a new issue for discussion.

[2022-01-19 14:27] rdhelms commented on #1347
@mtrezza I created a PR https://github.com/parse-community/Parse-SDK-JS/pull/1442 with a failing test for the `Parse.User.logIn` case. These seem like very similar issues to me, so I'm happy for that PR to also be used to address the `Parse.Cloud.run` case.

[2022-01-19 18:10] ndukachukz commented on #1441
Have you been able to fix this? I'm having the same errors

[2022-01-19 18:12] ndukachukz commented on #1440
Have you been able to fix this yet. If you have pls share how you did it.
I'm having thesame errors

[2022-01-21 13:55] chillaxdev commented on #1440
@ndukachukz You can temporarily use version 3.4.0 to avoid this issue.

[2022-02-02 08:00] vince1995 opened #1447 "alias for `destroy`"
### New Feature / Enhancement Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/Parse-SDK-JS/issues?q=is%3Aissue).

### Current Li

[2022-02-03 20:03] niraj-khatiwada commented on #936
I keep getting the same error. I even tried @maidrissi method but does not work.
![image](https://user-images.githubusercontent.com/51436631/152419873-08e826e1-b1d4-43fe-9bf8-ed67fd898d9f.png)

    "react-native": "0.66.1",
    "parse": "^3.3.0",

[2022-02-06 14:43] mtrezza commented on #1447
I think it your suggested terminology makes sense. We could add `delete` as an alias and eventually deprecate `destroy` in the future. Not sure how widespread that change would be in terms of other Parse SDKs and / or related methods that contain the word `destroy` if there are any.

[2022-02-06 15:22] anhtuank7c commented on #1441
@ndukachukz I having the same issue.
Best solution at this time is to use Parse `version 3.4.0`

[2022-02-07 13:23] vince1995 commented on #1447
Using `delete` would be consistent with other SDKs. The names of the delete functions are also `delete` in [Objective C](http://parseplatform.org/Parse-SDK-iOS-OSX/api/Classes/PFObject.html#/c:objc(cs)PFObject(im)deleteInBackground), [Java](http://parseplatform.org/Parse-SDK-Android/api/com/parse/ParseObject.html#deleteInBackground()) and [Swift](http://parseplatform.org/Parse-Swift/api/Protocols/

[2022-02-07 14:09] anhtuank7c opened #1448 "[React Native]: Require cycle warning"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/Parse-SDK-JS/issues?q=is%3Aissue).
- [x] I can reproduce the issue

[2022-02-08 05:04] matthewtalma commented on #1014
@ferchuhill - got the same error however all you need to do is add these additional headers in the `allowHeaders` array in the Parse server configuration like so:

[code]

[2022-02-14 18:38] stephannielsen opened #1449 "Parse query request interceptor"
### New Feature / Enhancement Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/Parse-SDK-JS/issues?q=is%3Aissue).

### Current Li

[2022-02-15 19:31] mstniy opened #1450 "All updates to an object field except for the last one are ignored"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/Parse-SDK-JS/issues?q=is%3Aissue).
- [x] I can reproduce the issue

[2022-02-16 10:49] mstniy opened #1452 "toJSON() repeats pending updates to nested keys"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/Parse-SDK-JS/issues?q=is%3Aissue).
- [x] I can reproduce the issue

[2022-02-16 14:01] vince1995 opened #1454 "remove `id` from object after destroying it"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/Parse-SDK-JS/issues?q=is%3Aissue).
- [x] I can reproduce the issue

[2022-02-16 22:51] mtrezza commented on #1452
Did you mix expected and actual outcome?

[2022-02-16 22:55] mtrezza commented on #1454
Can't follow your steps to reproduce. You are logging the obj ID after saving and before destroying. Why do you expect it be undefined?

[2022-02-16 23:06] mstniy commented on #1452
Whoops. Fixed.

[2022-02-17 06:54] vince1995 commented on #1454
Because the object doesn't persist on the database anymore. So there's no record for this ID. So, why should the ID *not* be undefined?

[2022-02-17 19:34] mtrezza commented on #1454
I think you have left out the last step in steps to reproduce and added it instead to the "expected / actual outcome". Could you rewrite your example to make clear where you are expecting which outcome?

[2022-02-18 07:05] vince1995 commented on #1454
Ah, yeah, sure. That wasn't clear.

[2022-02-18 20:40] mtrezza commented on #1454
I think I understand the issue description now. Could you explain why you expect `id` to be undefined? The object ID is vaguely indicative of the object state. If it's undefined it could also mean that the object has never been saved.

[2022-02-23 06:31] vince1995 commented on #1454
Yeah, that's the point. In my opinien if it's undefined, it never persisted in the database or was deleted. But if the object ID is not undefined that should mean that this object has a record in the database.

So here's my question again: When an object is not in the database anymore, why should it have an object ID?

[2022-02-24 12:55] mtrezza commented on #1454
There are several aspects to consider:
- Inference
  The docs say:

  That doesn't imply that the ID should be deleted after an object das been removed from the DB.
  In fact, none of the fields is unset after an object has been destroyed, see `createdAt`, `updatedAt`.
- Internal logic
  Does the ID have to be removed in order for the SDK to work properly?
  There may be internal logic in the Pars

[2022-03-20 01:13] mtrezza opened #1456 "Cannot restore Parse.File from aggregation query result"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/Parse-SDK-JS/issues?q=is%3Aissue).
- [x] I can reproduce the issue

[2022-03-23 18:40] zanderisrael commented on #918
I'd love to have this feature. I there something I can do to help this move along?

[2022-03-23 18:54] mtrezza commented on #918
Thanks for asking @zanderisrael, you could open a PR. To my knowledge no-one has worked on it so far. It seems fairly straight forward, because a lot of the logic to produce the JSON output for non-aggregate queries already exists.

[2022-03-24 08:35] zanderisrael commented on #918
Ok then, i'll have a look.

[2022-03-29 17:02] RazvanCristian opened #1466 "Wrong processing of a base64 string in accordance to RFC 2397 when calling new Parse.File"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/Parse-SDK-JS/issues?q=is%3Aissue).
- [x] I can reproduce the issue

[2022-03-29 17:06] RazvanCristian commented on #1466
PR: https://github.com/parse-community/Parse-SDK-JS/pull/1467

[2022-04-01 09:33] dblythy opened #1469 "Change default connection failure message"
### New Feature / Enhancement Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/Parse-SDK-JS/issues?q=is%3Aissue).

### Current Li

[2022-04-04 00:15] mtrezza commented on #1469
How about throwing the [Parse.Error](https://docs.parseplatform.org/js/guide/#client-only-errors):

I classified this as a bug, because we do have an explicit Parse.Error defined for this and it is not thrown.

This looks like a breaking change. If the error currently thrown has no error code, only the message, then someone parsing for that string (instead of comparing error codes as it should be)

[2022-04-04 00:40] dblythy commented on #1469
I will have to do some investigating

[2022-04-07 18:26] ghost commented on #1545
![image](https://user-images.githubusercontent.com/92439533/162271531-323e34c6-b855-4bd7-97a9-68633b2903a5.png)

Please reference above content!
Thank you

[2022-04-28 21:37] mtrezza opened #1476 "Security review of 3rd party services"
We are doing our annual security review of 3rd party services. The goal is to remove permissions of services that are no longer used in this repository's CI workflow.

Services that need to be reviewed:

- [ ] Travis CI for Open Source
- [ ] Coveralls
- [ ] StyleCI
- [ ] Travis CI
- [ ] AppVeyor
- [ ] AppVeyor CI
- [ ] CircleCI
- [ ] Code Climate
- [ ] Packagist

[2022-05-02 20:15] #1466 closed, assigned to nobody

[2022-05-17 09:46] dblythy opened #1480 "Cannot create role with `:` in name"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/Parse-SDK-JS/issues?q=is%3Aissue).
- [x] I can reproduce the issue

[2022-05-17 11:10] cbaker6 commented on #1480
Does the server allow a `:` in the role name? The error in the code in this SDK says it limits the characters on purpose: https://github.com/parse-community/Parse-SDK-JS/blob/e2bd6be145f55fab322633a8f144be34e7fcb202/src/ParseRole.js#L131-L135

I remember the other SDKs having similar code when I was adding Role to the Swift SDK:

- Swift SDK: https://github.com/parse-community/Parse-Swift/blob/c57

[2022-05-17 11:37] dblythy commented on #1480
It doesn't allow it, trying to set an invalid key as a role name simply results in the name being unset, which causes `Error: name is required`

[2022-05-17 13:30] mtrezza commented on #1480
Could you elaborate on this?

[2022-05-17 14:24] dblythy commented on #1480
Yes, the following code:

[code]
rejects on the server side with "Error: name is required"

Where it should reject on the client side with "invalid role name"

[2022-05-17 18:33] mtrezza commented on #1480
Got it, so the solution will still deny roles names with colon.

[2022-05-21 06:52] ChengranYan opened #1482 "when size greater than 100 , findAll with descending query error"
query.descending('createdAt').findAll()

"parse": "^3.4.2",

[2022-05-21 10:41] mtrezza commented on #1482
I'm closing this as it lacks essential information. Feel free to edit your question using the issue template and we can re-open this issue.

[2022-05-21 10:41] #1482 closed, assigned to nobody

[2022-05-29 18:27] #1480 closed, assigned to nobody

[2022-06-05 09:27] dblythy opened #1487 "Keys are stripped upon subscription update with LiveQuery.select"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/Parse-SDK-JS/issues?q=is%3Aissue).
- [x] I can reproduce the issue

[2022-06-05 09:32] dblythy commented on #1487
It seems that if an update event is triggered, `Parse.Object.fromJSON` with `override` is called:

https://github.com/parse-community/Parse-SDK-JS/blob/8115e959533d1676fe5e5551bc81888b21fc12ef/src/LiveQueryClient.js#L422

Which creates a new Parse.Object with the new keys, and then calls `object.clearServerData`:

https://github.com/parse-community/Parse-SDK-JS/blob/8115e959533d1676fe5e5551bc81888

[2022-06-05 11:34] dblythy opened #1489 "Parse Cloud `beforeConnect` and `beforeSubscribe` errors should throw in `ParseQuery.subscribe`"
### New Feature / Enhancement Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/Parse-SDK-JS/issues?q=is%3Aissue).

### Current Li

[2022-06-05 14:12] mtrezza commented on #1487
So in your [example](https://github.com/parse-community/Parse-SDK-JS/issues/1487#issue-1261003509), the LiveQuery event would only contain the `key` property (if it was defined)?

[2022-06-05 14:14] mtrezza commented on #1489
Is this a feature or a fix? And would changing this be a breaking change?

[2022-06-05 15:14] dblythy commented on #1487
In the example, the live query event will only contain the “key” property, so it will unset all other keys on the object

[2022-06-05 15:15] dblythy commented on #1489
I guess it’s a feature (although it’s expected behaviour) and breaking because any query.subscribe that throws using beforeConnect/beforeSubscribe will throw

[2022-06-05 15:23] mtrezza commented on #1487
What is the expected behavior of a `select` condition in a LiveQuery?

[2022-06-05 15:27] dblythy commented on #1487
The object returned by the live query should only contain the selected keys, but it shouldn’t override other objects with the same IDs that have previously fetched keys

[2022-06-05 15:34] dblythy commented on #1487
In my setup I have a live query that applies to one column of an object. All other keys are fetched with the initial query.

whenever the livequery is triggered with that singular key selected, all keys on the original object get set to undefined, as the object has the same state reference as the live query object.

[code]

[2022-06-05 20:14] mtrezza commented on #1487
Got it, thanks for the detailed example. Yes, this looks like a bug.

[2022-06-06 22:33] jpgupta opened #1491 "UUID/v4 require() uses a deprecated approach, can cause issues with other packages"
### New Issue Checklist

- [X] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [X] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [X] I have searched through [existing issues](https://github.com/parse-community/Parse-SDK-JS/issues?q=is%3Aissue).
- [X] I can reproduce the issue

[2022-06-07 10:37] cbaker6 commented on #1487
I suspect there is a reason for this as LQ uses [fields](https://parseplatform.org/Parse-Swift/release/documentation/parseswift/query/fields(_:)-71x3d) to achieve similar behavior to “select”.

This is also noted in the spec: https://github.com/parse-community/parse-server/wiki/Parse-LiveQuery-Protocol-Specification#subscribe-message

[2022-06-07 10:44] dblythy commented on #1487
Yes, that's not the issue, it's that it overrides all other keys in objects **in memory** with the same internal reference, meaning that if you first query the three fields name, id and age, and then an LQ event _only_ contains **"age"**, the **original** queried object in memory will only contain the key **age** now

Also I don't think the fields parameter even works as expected. See https://gith

[2022-06-25 11:39] MrMartinR opened #1503 "Add Bytes type to Parse.Schema"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/Parse-SDK-JS/issues?q=is%3Aissue).
- [x] I can reproduce the issue

[2022-06-25 18:26] mtrezza commented on #1503
Where is the `Bytes` field type documented, I think that documentation is still missing? Parse Dashboard doesn't even seem to support that field type?

[2022-06-25 18:38] MrMartinR commented on #1503
mmm I assumed that Parse-server supports that, Baker did some implementation in Swift https://github.com/parse-community/Parse-Swift/pull/190 and the test sample creates an object type Bytes ` object.set('bytes', { __type: 'Bytes', base64: 'ZnJveW8=' });`
and this guy did something too  https://community.parseplatform.org/t/saving-byte-data-to-parseobject/1804/8

the parse js sdk schema shows the

[2022-06-25 18:44] mtrezza commented on #1503
Yes, the type is there, but I don't know how widely it is supported; it doesn't seem to be documented and how would Parse Dashboard even display that field if the field type does not seem to exist there? These are more general questions, not necessarily related to your new issue.

[2022-06-25 18:47] MrMartinR commented on #1503
the guy who was played with it, explained that parse-dashboard shows it as encoded base64 but is stored in Bytes, the type of the field shows as Bytes

![image from the post in the forum](https://parse-community-forum-uploads.s3.dualstack.us-east-1.amazonaws.com/original/1X/ef3249725842fcf549f8abdaaffe80d0de5f952d.png)

[2022-06-25 18:47] mtrezza commented on #1503
I see, so it shows just the raw JSON data, like a custom data type - neat.

[2022-06-25 18:50] MrMartinR commented on #1503
I personally not sure if I need/will ever use Bytes, I just saw something that "was missing" and I wanted to report it, just in case someone had free time to implemented it..

[2022-06-26 10:12] mtrezza commented on #1503
You'd need to look into Parse Server if there is a `Bytes` data type at all. It's not in the [docs](https://docs.parseplatform.org/js/guide/#data-types), so I'm not sure there is something missing in the docs or it's supposed to be handled in a special way.

[2022-06-26 12:37] MrMartinR commented on #1503
Not even know how to check that?
I did find "something" [here](https://github.com/parse-community/parse-server/blob/4c29d4d23b67e4abaf25803fe71cae47ce1b5957/spec/Schema.spec.js) and [here](https://github.com/parse-community/parse-server/blob/4c29d4d23b67e4abaf25803fe71cae47ce1b5957/spec/ParseObject.spec.js)
So I guess is supported? I am gonna try to summon @cbaker6 here to see if he can throw some

[2022-06-26 12:52] cbaker6 commented on #1503
I think the benefits of `ParseBytes` are highlighted in the link you already shared: https://community.parseplatform.org/t/saving-byte-data-to-parseobject/1804

My guess would be `Bytes` was simply overlooked by the other SDKs, Dashboard, and docs when open-sourcing. I wasn’t aware of it until @davimacedo mentioned it in the linked thread. It was an easy implementation in the Swift SDK, so I suspe