[2018-05-08 11:31] zgec commented on #566
Sorry in the example I forgot the save, but the issue remains even if you save the object on the serverside. JSON that server responds is correct, the client side parsing/transforming to ParseObjects is not.

[2018-05-08 11:32] mullwaden commented on #567
I would think so - as far as i know the live updates server looks for updates on the object level (e.g. a change to the last updated field) not if individual fields have changed.

[2018-05-08 11:37] mullwaden commented on #566
Hmm then no clue... not something I have experienced myself. Could you post the new code and the response you get from the server?

[2018-05-09 07:05] toddheslin commented on #494
@nrchandan did you open a pull request for this? I'm facing the same issue

[2018-05-17 03:02] alvinthen opened #569 "ParseFile.saveFile failed if javascriptKey is not set"
As state by [parse-server](https://github.com/parse-community/parse-server/)'s README, `javascriptKey` is no longer necessary but without setting it, using ParseFile will fail.

In this [line](https://github.com/parse-community/Parse-SDK-JS/blob/master/src/ParseFile.js#L246), `X-Parse-JavaScript-Key` will be `undefined`, and when the xhr is finally sent, NodeJS will throw a `ERR_HTTP_INVALID_HEADE

[2018-05-17 03:26] alexander-alzate commented on #494
Why don't you just throw an exception if there is not an error handler like [Promise](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Promise) does?

[2018-05-17 08:38] nrchandan commented on #494
@toddheslin I'm sorry but I have moved between projects and am no longer using this library. If the workaround suggested by @alexander-alzate works for you, would you recommend closing this issue?

[2018-05-17 12:02] flovilmart commented on #569
Feel free to open a PR, this looks like a bug :)

[2018-05-18 16:02] Samigos opened #571 "ACL is not fetched when I use "select""
Parse Server: 2.7.4

I have an `or` query and I want to add some additional constraints to it, like so:

[code]

As you can see, I use the `select` constraint... I realised though, that when `select` is being used, `ACL` is not a part of the fetched object(s), even if I explicitly add it, like so:

[code]

Any idea why's this happening? What could I do to as a workaround?

[2018-05-18 16:04] flovilmart commented on #571
This is a bug. Are you willing to write a failing Test and open a pull request with it? We’ll be able to fix it soon.

[2018-05-18 16:38] Samigos commented on #571
I want to, but I have no idea how! Is there a guide or something?

[2018-05-18 17:11] flovilmart commented on #571
@Samigos you can check our contributing guide:

https://github.com/parse-community/parse-server/blob/master/CONTRIBUTING.md

As well as all other specs in this file for example: https://github.com/parse-community/parse-server/blob/master/spec/ParseQuery.spec.js#L3002

[2018-05-20 13:26] spolat opened #572 "You cannot add or remove an unsaved Parse Object from a relation"
Hi everyone,

I'm trying to add relation between my Place & User classes. But getting "You cannot add or remove an unsaved Parse Object from a relation" error. My code is like below. What am I doing wrong? Could you help please

[code]

[2018-05-20 15:33] flovilmart commented on #572
it Seems to be a typo. `User` vs `user`. Also, can you try to log the user objectId? How do you get `req.session.user`?

[2018-05-20 16:35] spolat commented on #572
@flovilmart here is user's objectId. I'm getting req.session.user by  Parse.User.logIn
![image](https://user-images.githubusercontent.com/25878632/40281038-bdcc8f0e-5c64-11e8-946e-9da7f0f0803f.png)

[2018-05-20 16:43] flovilmart commented on #572
You’re calling logIn on the server? This is discouraged and you should probably use the become to transform a session token into a user, but I digress. I’m not sure what yields the error, JS or server.

can you try to use a pointer instead of the User from the login?

[2018-05-20 16:47] spolat commented on #572
@flovilmart sorry. I'm beginner at parse and I dont understand what do you mean with this => "can you try to use a pointer instead of the User from the login?"

[2018-05-20 16:49] flovilmart commented on #572
First im not sure how you manage to login your user, what’s the context of your function etc, how you access / get your user with a login call,m etc...

Can you provide more context please?

[2018-05-20 16:51] flovilmart commented on #572
Also, a valid object should have the id property set not the objectId one

[2018-05-20 16:59] spolat commented on #572
@flovilmart here is how I'm authenticating user & adding to session and context.

[code]

[code]

[2018-05-20 17:05] flovilmart commented on #572
And then? How is the user maintained on the session object? As a Parse object? Can you do `console.log(req.session.user);`

And check `req.session.user.constructor.name`

My gut feeling is that somehow your user is serialized when written / read from req.session and not a Parse.Object anymore

[2018-05-20 17:06] spolat commented on #572
here.
![image](https://user-images.githubusercontent.com/25878632/40281336-46e45e44-5c69-11e8-9f26-6da4fffa99c1.png)
![image](https://user-images.githubusercontent.com/25878632/40281345-51191882-5c69-11e8-8f41-31939d69b2b1.png)

[2018-05-20 17:15] flovilmart commented on #572
There you have your issue, your object is not a Parse.Object but the JSON representation.

You have two options:

[code]

and then you can use them:

[code]

[2018-05-20 17:15] #572 closed

[2018-05-20 19:05] spolat commented on #572
@flovilmart thanks for reply. one more question. how can I check relation contains user or not ?

[2018-05-20 19:12] flovilmart commented on #572
You can make a query on the Relation, (.relation(‘likes’).query()) And check that the user is not part of it
[code]

Or use the .equalTo(‘objectId’, user.id)

If it gives a result, this means the user is already in the relation.

[2018-05-20 19:12] spolat commented on #572
@flovilmart thanks you very much. you save me :)

[2018-05-20 20:33] flovilmart commented on #572
Hah good luck and good weekend!

[2018-05-22 19:06] #569 closed

[2018-05-26 21:24] Hypothesis-github opened #576 "Using React native CLI app with parse ( back4app)"
I am unable to install Parse on my react application and it no longer renders to the screen saying the development server has stopped working when parse is imported.

can you please tell how I can use Parse and import it in react native without facing issues ?

[2018-05-26 22:17] flovilmart commented on #576
Without more informations about your issue that’s impossible to give proper guidance. Can you provide more context? Logs, code that is failing for example?

[2018-05-28 16:02] alexander-alzate opened #577 "`npm run build` script fails"
I've just downloaded the project to propose a patch but it couldn't be built.
## System (uname -a)

## Npm --version

## Output:

[2018-05-28 16:04] flovilmart commented on #577
@alexander-alzate what is you `node version`

[2018-05-28 16:10] alexander-alzate opened #578 "`ParsePromise` silently ignores errors when no rejected callbacks"
`ParsePromise#reject`guesses that `ParsePromise#_rejectCallbacks` is not empty to handle the error, the problem comes when the programmer does not define a rejected callback.

https://github.com/parse-community/Parse-SDK-JS/blob/0fbc604c52d54e4cb7828afe4cd9f75fd844fa6a/src/ParsePromise.js#L76-L82

[2018-06-01 09:26] monajafi opened #580 "Is there a query limit on Cloud code?"
I've used cloud code to calculate total fee  also I put maxLimit to a number less than 100 in parseserver configuration.
it seams  maxLimit does not affect the query on cloud code. Is there a 100 default limit in cloud code or it's unlimited.

[2018-06-01 12:03] flovilmart commented on #580
Do you have an example of what you're saying? Can you provide logs etc...

[2018-06-01 12:37] monajafi commented on #580
In cloud code the default limit is 100 like js sdk . I forgot to limit query by query.limit();
meanwhile what is the best way to calculate some column's total rows sum?
one way is to set a very large number in maxLimit and set a big limit on query another way is to retrieve
all rows using limit and skip what way is best?

[2018-06-01 16:07] flovilmart commented on #580
You can probably use aggregation pipelines or fetch the objects with the each() operator and add them all locally.

http://parseplatform.org/Parse-SDK-JS/api/v1.11.1/Parse.Query.html#aggregate

http://parseplatform.org/Parse-SDK-JS/api/v1.11.1/Parse.Query.html#each

For additional help, please use stackoverflow as we use github issues for reporting bugs.

[2018-06-01 16:07] #580 closed

[2018-06-05 14:33] georgesjamous commented on #571
I believe in Parse-Server, ACL include is enforced (as well as ObjectId, createdAt, updatedAt ..)
check : [Line where key is enforced in Parse-Server](https://github.com/parse-community/parse-server/blob/1afc34eea3081a5a2c105da1b9d25ba26a5de60e/src/RestQuery.js#L8)

I think the problem resides in JS-SDK
here [function handleSelectResult](https://github.com/parse-community/Parse-SDK-JS/blob/0fbc604

[2018-06-06 22:01] andresteves opened #581 "Reducer changes from full object to pointer"
Hi,

In a RN app I am getting an Object through redux and sagas and the reducer seems to be passing a pointer to the props instead of the whole object.

reducer
[code]

view
[code]

"react": "^16.3.1",
"react-native": "^0.55.1",
"parse": "^1.11.1",
"parse-react": "^0.5.2",

[2018-06-07 14:00] artua commented on #490
The same thing here.
Not working on 2.8.1, but working great with 2.7.2
Tried with REST API - the same error.
{"code":101,"error":"Invalid username/password."}

Let me know how can I help to resolve this issue.

[2018-06-08 16:17] Receks commented on #444
Hi,
I have the same problem like you described in the first post. Using newest Parse JS SDK 1.11.1 and also newest Parse Server (from parse-server-example) running on Heroku (free account).
According to the logs (client and server logs) my client subscribes successfully. I also added
[code]
which confirms, that the connection is established.
I also added a simple equalTo constraint on the query.
B

[2018-06-08 23:57] Ernesto89 commented on #444
@Receks Yes it works. What I meant is that I managed to set up the Livequery in the standard Parse Server (Used Parse Server example in heroku as well), but not in the scalable way suggested in the docs (creating 2 instances or apps in heroku, one for the parse server and another for the livequery server).

I was using Swift client but it should word as well with the ParseJS SDK, if you elaborate

[2018-06-09 16:02] Receks commented on #444
Alright, gladly. This ist my index.js:
`
var express = require('express');
var ParseServer = require('parse-server').ParseServer;
var S3Adapter = require('parse-server').S3Adapter;
var path = require('path');

var databaseUri = process.env.DATABASE_URI || process.env.MONGODB_URI;

if (!databaseUri) {
	console.log('DATABASE_URI not specified, falling back to localhost.');
}

var api = new ParseServ

[2018-06-11 02:03] flovilmart commented on #581
Does the reducer involve serialization of the objects?

[2018-06-12 07:45] EPILock commented on #57
Team, is any work in progress on this?

Thanks

[2018-06-12 11:07] flovilmart commented on #57
It seems that it doesn’t really need to be done at that time as no one is rushing for an implementation. Feel free to take a stab at it

[2018-06-14 08:56] neophob commented on #509
I checked again how the npm pack looks like:

[code]

This means:
- the dist folder contains `parse.js` and `parse.min.js`
- `lib` contains the unminimized source
- so the npm package contains the whole parse api 3 times

Proposal:
- include only the `dist/parse.min.js` in the published npm release
- use `package.json` `main` entry to define exposed lib

if someone agrees i'll do a PR, @flovilmart

[2018-06-14 17:22] oallouch opened #583 "CLP needs an API"
Hi,
CLP is an amazing feature, but without an easy API to set it, I can't use it. It's too easy to forget to check the dashboard.
I don't know which form it can take (is it Schema-related ?), but I'm sure you'll figure it out.

What do you think about it ?

Thx,
Olivier

[2018-06-14 18:03] flovilmart commented on #583
It makes sense, a masterKey only API on the SCHEMA would be nice.

[2018-06-16 11:17] jlpiedrahita opened #584 "Wrong Flow typing on Parse.ACL() constructor"
`Parse.ACL` class constructor [docs](http://parseplatform.org/Parse-SDK-JS/api/v1.11.1/Parse.ACL.html) states:

But the actual Flow typing for the [class](https://github.com/parse-community/Parse-SDK-JS/blob/master/src/ParseACL.js#L39) is:

[code]

Which clearly doesn't allow to call the constructor without any arguments as the docs suggest.

I was about to submit a PR to the [flow-typed](https://

[2018-06-16 13:05] flovilmart commented on #584
What does the underlying code show?

[2018-06-16 14:14] jlpiedrahita commented on #584
Not sure what you mean by _underlying code_, if you're talking about the concrete Flow error here it's an example:

[code]

This usage of `Parse.ACL()` was taken directly from the official guide: http://docs.parseplatform.org/js/guide/#object-level-access-control

[2018-06-16 14:17] flovilmart commented on #584
I am talking about the code of the constructor. Perhaps the annotation should be an optional instead of an or type.

[2018-06-16 14:48] jlpiedrahita commented on #584
I think so. According to the docs it should be like:

[code]

[2018-06-16 14:53] flovilmart commented on #584
Can you open a PR / propose a fix for it?

[2018-06-17 12:51] #567 closed

[2018-06-17 13:01] dpatel20 opened #585 "LiveQuery socket not reconnecting on resume from sleep in mobile"
I have created a Web App use the Parse backend which utilises Parse's LiveQuery (Websockets).

Whilst testing on mobile devices, I have noticed that after a long(ish) sleep the LiveQuery events don't seem to get through. Best as I can tell/understand, the browser is closing (?) the websocket.

Behind the scenes, I know the Parse JS SDK implements an exponential backoff automatic reconnect.

Is the

[2018-06-17 20:16] dpatel20 commented on #585
After debugging further, I've seen that the state is `CONNECTED` so I can only guess it has not yet updated its state. Javascript is running as my debug code fires on focus. I further tried doing a close and resubscribe:

[code]

From this, I found that the close would not fire for exactly 1min (I output some timestamps to the HTML). I cannot find where this 1min timeout comes from...any ideas?

[2018-06-17 22:07] flovilmart commented on #584
The PR should be opened here as well. Actually, it should have been opened here first

[2018-06-18 14:58] dpatel20 commented on #585
I'm using this to log my findings...hope someone can help:

- If I do nothing (i.e. keep parse.js as original), I can see that after a sleep (>10min) the readyState is OPEN. And, after ~1.5mins the LiveQuery I send is seen by the mobile browser. Is this something peculiar to WebSockets on Android browsers? If it's saying connected, then I'd expect an immediate update. (PS: I checked the Parse serv

[2018-06-18 15:00] flovilmart commented on #585
I’m not sure it is related to the JS SDK itself. Perhaps there are workarounds that we could implement. Also, where lis your parse-server deployed?

[2018-06-18 15:23] dpatel20 commented on #585
I am using Back4App,  Parse Server 2.7.1.

I agree, I don't think it is an issue with the SDK...I was just using to debug/hack to try to find a workaround.

[2018-06-18 15:25] flovilmart commented on #585
Possibly also related to a seeverside connection configuration. Did you try with a pure JS websocker client without the parse JS SDK?

[2018-06-18 20:36] dpatel20 commented on #585
I'm starting to think it might be my phone or browser!!...not seen the issue on another phone and tablet.

[2018-06-18 20:42] flovilmart commented on #585
@dpatel20 that's something to consider too :)

[2018-06-21 00:27] flovilmart commented on #490
Are you able to open a PR with the failing test?

[2018-06-21 01:13] fchu commented on #490
Sorry, Ignore my comment, I could no longer repro 🤷‍♀️

[2018-06-21 07:15] dpatel20 commented on #585
@flovilmart Seems to be occurring in other browsers and devices (to different extents/frequencies) --- all Android based. With the original code (without my hacks), it eventually seems to kick back into life.

Any suggestions of how I can work around this (or reduce the time to reconnect)?

[2018-06-21 12:13] flovilmart commented on #585
I’m not sure at this point. Is there littérature around the reconnections problems, like with socketIO or else?

[2018-06-22 08:02] jlpiedrahita commented on #584
Understood, just give me a couple of days.

[2018-06-22 09:37] dpatel20 commented on #585
I have done some more testing and taken logcats on my Android phone and various debug messages added. I can see that the connection is actually closed and the reconnect mechanism kicks in. But then it sits in the 'open' (i.e. trying to re-open the socket) state as there is no network.

When I resume the device, it can take a few secs to reconnect but it does reconnect. I was testing fairly soon af

[2018-06-22 10:59] flovilmart commented on #585
Ok, good to hear you have a proper explanation!
On Jun. 22, 2018, 05:37 -0400, dpatel20 <notifications@github.com>, wrote:

[2018-06-22 13:36] dpatel20 commented on #585
I should note that I had to reduce the backoff in `generateInterval()`. I changed it to be:

[code]

With the original setup I had a connection timeout error in the logcat.

[2018-06-23 12:29] flovilmart commented on #585
@dpatel20 is the back off configuration worth an addition to the SDK so the issue can be worked around?

[2018-06-24 06:42] dpatel20 commented on #585
Do you mean being able to pass your own backoff function to the SDK?

[2018-06-24 13:56] flovilmart commented on #585
Yep somehow when you setup the liveQuery client

[2018-06-25 19:36] #494 closed

[2018-06-26 13:10] dpatel20 commented on #585
Hmmm...I'm a bit concerned that maybe a lot more complicated than it first seems (at least to me).

The [generateInterval()](https://github.com/parse-community/Parse-SDK-JS/blob/e8034f73e3406422ce01b28a9daf9dbcb8733f58/src/LiveQueryClient.js#L67) function is not part of the `LiveQueryClient` class. If it was, then maybe the `generateInterval` could be an option in the constructor. But then that se

[2018-06-26 14:15] flovilmart commented on #585
Yeah perhaps, my concern is that you’re able to ship something that works, with a potential workaround

[2018-06-26 18:36] dpatel20 commented on #585
Well, this is frustrating now...I've gone back to the original `generateInterval()` and no longer seeing the timeout issue. I need to do more testing to figure out what's going on. :(

[2018-06-26 18:40] flovilmart commented on #585
Haha, indeed!

[2018-06-26 18:40] flovilmart commented on #585
Should we close this one then? Feel free to reopen if needed

[2018-06-26 18:40] #585 closed

[2018-06-26 18:48] dpatel20 commented on #585
Agreed...close for now. If I find why I got the timeout error mentioned above, then I'll reopen.

[2018-06-27 01:18] binarytide commented on #161
exact same use case here(vue + parse)

[2018-06-27 01:32] flovilmart commented on #161
I’m not familiar with vue in particular, but I believe you should approach the problem differently.

You should probably use an immutable state based on the server value, and the toJSON(). Then for recording mutation, you should treat them separately, and track them on a separate object.

When you user wants to ‘save’ you apply all the mutations on the original object, save() and render your compo

[2018-06-28 06:29] dreadful44 commented on #161
@flovilmart  Did you mean with "recording mutation", manually record somewhere changes or make a loop and detect which one change ?

[2018-06-28 12:05] flovilmart commented on #161
@dreadful44 yeah, basically your application state is the mix between the original object from the server + the list of mutations applied to the object. you can probably store the list of local mutation in a hashmap

[code]

Then the mutations can be just key / value pairs or a list of operations that the user performed on the top of the object (like `[{key: 'newValue'}, {otherKey: {$increment: 1}

[2018-06-29 06:21] dreadful44 commented on #161
Ok @flovilmart Thanks for your respond. I'll try.

[2018-07-02 14:18] flovilmart opened #591 "Investigate possible issue when setting Parse.masterKey from client libraries"
If anything, the SDK should HCF if this happens as it will lead to security issues or worst.

I've noticed someone doing it: https://stackoverflow.com/questions/40223311/parse-js-sdk-cannot-use-the-master-key-it-has-not-been-provided

[2018-07-04 04:20] flovilmart commented on #509
I believe the 3 builds serve different purposes, for node, react and pure JS. I’m not sure i’s change that now if the main concern is the size of the downloaded Data.

[2018-07-04 10:13] neophob commented on #509
That I understand, question is does it make sense to include `parse.js` and `parse.min.js` in the distribution package?

About the 3 different purposes/use cases:

**1. NodeJS**
For a node app I include the parse SDK like this: `const Parse = require('parse/node');` - this file references the files in `parse/lib/node/`(non-concatenated and unminimised)

`module.exports = require('./lib/node/Parse.

[2018-07-04 12:09] Tyg-g commented on #77
+1 I'd also welcome this feature

[2018-07-04 12:24] flovilmart commented on #509
I would warrant that if anyone references those, any change in the build system would break. I am not in favour of changing the build system unless if fixes a serious issue.

I don't believe that having multiple occurences of the source code in the npm package, is an issue, as you mention webpack and other tools that are way more massive than a duplicated dist folder.

The dist folder contains the

[2018-07-04 12:24] #509 closed

[2018-07-04 18:17] Krilwya opened #592 "GeoPoint storing as strings if constructed by a string array"
I encountered an issue using near after migrating string gps positions into GeoPoints.

So basically when you do something like :
new Parse.GeoPoint(["48.84023", "2.33334"])
it returns :
ParseGeoPoint {_latitude: "48.84023", _longitude: "2.33334"}

So it passes through the constuctor of the Geopoint, it shall be more efficient in the _validate method of the Geopoint to check typeof latitude == "nu

[2018-07-04 18:19] flovilmart commented on #592
@Krilwya are you willing to open a PR with the failing test and add additional validation?

[2018-07-05 10:48] Aetherall opened #594 "Subscribe to ParseObject attribute changes"
Hi there !

It there any way to subscribe to attribute changes of an Parse.Object ?

I use react and It would be awesome if we could rerender a component when an object attribute change,
so the UI stays in sync with the cache

I wanted to override a mutating function so I can add a callback, but It seems that there is multiple functions affecting the state of the object attributes ( to handle the

[2018-07-05 13:26] Aetherall opened #595 "Allow Subscriptions to use the extended Parse.Object"
Here is how a new object is created from a subscription :

https://github.com/parse-community/Parse-SDK-JS/blob/de4bc1c3597ed21a86b542500a84070ce1c9d742/src/LiveQueryClient.js#L391-L395

And here is how a new object is created from a query (the static fromJSON method)

https://github.com/parse-community/Parse-SDK-JS/blob/de4bc1c3597ed21a86b542500a84070ce1c9d742/src/ParseObject.js#L1358-L1362

I us

[2018-07-05 15:57] flovilmart commented on #595
This would be nice! Thanks! But let’s not override the fromJSON :)

[2018-07-05 20:02] Aetherall commented on #595
Just to confirm before the PR, here is my current monkeypatch :)

[code]

[2018-07-05 20:15] flovilmart commented on #595
This looks ok. Can you add the relevant tests alongside?

[2018-07-06 09:03] Aetherall commented on #595
Sure

[2018-07-06 18:47] heresmyinfo commented on #77
+1 WAY important

[2018-07-06 18:50] flovilmart commented on #77
As many people request this feature, we can offer guidance on the implementation. We are strapped as the core maintainers have their cup pretty full with all the projects and the ongoing work on other repositories. If anyone / many want to get on it, feel free to reach out!

[2018-07-07 06:43] samuelantonioli commented on #591
So just throw an error [here](https://github.com/parse-community/Parse-SDK-JS/blob/2e117801ecd00896698621f7fce9e1facd76434c/src/Parse.js#L101) (in the setter function for `Parse.masterKey`)?

Or maybe just a warning. I don't know how parse-dashboard handles the `masterKey` and if they rely on this.

[2018-07-07 06:51] samuelantonioli commented on #558
Most likely it has something to do with the file adapter you're using in parse-server. Add some logs of the HTTP requests or similar so we can help you better.

[2018-07-07 07:00] samuelantonioli commented on #594
I've struggled a lot with this (using Vue). I had to build [my own solution](https://gist.github.com/samuelantonioli/50b01142ce15d8a069fc23ea8b975873) using `Object.defineProperty` (ES6-Proxy doesn't have proper IE support) which essentially proxies all the attributes.

It's a bit complicated, but look into `ParseObject.dirtyKeys` - it gives you the keys that were changed.
I think this needs a maj

[2018-07-07 07:02] flovilmart commented on #591
Parse dashboard indeed uses this feature but we.can probably work around it.

[2018-07-07 07:19] samuelantonioli commented on #536
@smassin I don't know if this is still a problem. Maybe you can add a PR with a fix for it.

[2018-07-07 10:13] Aetherall commented on #594
I Actually succeded using events and HOC's, and overloading the save / destroy / set methods of Parse.Object

If anyone needs help on this, ask here

Maybe In the future I will write a react-parse package, in the Apollo style

[2018-07-07 10:15] flovilmart commented on #594
Have you had a look at this project? https://github.com/andrewimm/parse-lite
On Jul. 7, 2018, 12:13 +0200, Elies Lou <notifications@github.com>, wrote:

[2018-07-07 14:21] Aetherall commented on #594
It looks nice but I was really looking for advanced cache management ( I actually used the LiveQueryTools file from server to update cached queries on client when a subscription event or rest save occurs )

[2018-07-07 19:12] samuelantonioli commented on #594
@Aetherall Would love to see your code.

[2018-07-09 08:59] Aetherall commented on #594
@samuelantonioli

You have to create a class extending Parse.Object and add to it subscription abilities

[code]

and create an hoc to subscribe to an Item:

[code]

[2018-07-09 11:17] Aetherall opened #597 "Add Parse.Object.getClass(className)"
So we can retrieve Classes from ClassNames

I can do a PR if needed

[2018-07-09 13:10] flovilmart commented on #597
What would be the use case? Getting the classes instead of importing the module that defines your class? Not against on the paper, but i’d recommend using the node require / import instead.

[2018-07-09 14:04] Krilwya commented on #592
Sure, I runned the jest test on my changes locally, that succeed them, if you could explain to me the procedure to ask for a pull request as it's my first time on github that'd be great. I am only used to vsts.

[2018-07-09 14:16] flovilmart commented on #592
Did you check the github pull request guide? https://help.github.com/articles/creating-a-pull-request/

[2018-07-09 14:34] Krilwya commented on #592
Thank you for your answer, I think I did all the requirement to do so. If you need anything else to verify or something seems wrong I'd be pleased to hear from you.

[2018-07-10 07:58] Aetherall commented on #597
I am creating a Collection class extending the Parse.Object class, where I use decorators on instance methods/properties as well as on static methods/properties to add "configuration" and functionalities to my objects. As it is abstracted from the Parse.Object itself, It makes no sense to import another collection in here. ( Furthermore that the Collection used in the method depends of the actual

[2018-07-10 09:11] phoenixsachin commented on #361
i also facing this issue

Error: Uncaught (in promise): TypeError: this.validator is not a function
TypeError: this.validator is not a function
    at FormControl.AbstractControl._runValidator (http://localhost:8100/build/vendor.js:28545:38)
    at FormControl.AbstractControl.updateValueAndValidity (http://localhost:8100/build/vendor.js:28499:53)
    at new FormControl (http://localhost:8100/build

[2018-07-10 13:01] alejonext commented on #77
Is the frist step.. to create PWA!

[2018-07-10 19:41] flovilmart commented on #361
@phoenixsachin it’s unlikely your issue is related to this one, as initially this one has been closed as the original user reported a mis usage of the SDK. Also, there’s nothing in your trace that indicates it’s related to this SDK.

[2018-07-12 19:51] Samigos opened #602 "Remove write access from _User"
`Parse Server version: 2.7.4`

I'm trying to remove the write access from users, as a security measure. This is the acl I use:

[code]

But it doesn't work! After that, I have the read access set correctly, and it continues to have a write access for that user.

Any idea on why this is happening?

[2018-07-12 20:35] flovilmart commented on #602
See https://github.com/parse-community/parse-server/pull/4860abs related issues. You can use the master branch of parse server to try out if it fixes the issue .

[2018-07-12 20:35] #602 closed

[2018-07-12 20:37] Samigos commented on #602
The link is invalid...

[2018-07-12 21:13] flovilmart commented on #602
@Samigos sorry about that, I just updated it

[2018-07-14 04:13] ahmedengu commented on #246
Hi @junal i was able to get your code snippet working by setting: `options.success(this, {}) ` to `options.success(this, authData)`:

[code]

parse config:
[code]

[2018-07-15 17:46] alexblack opened #603 "Add custom headers"
Is there a way to add additional headers (on the fly, per request) to each http request made by the parse sdk?

I'd love to add a couple headers to identify which of our apps is making the request, and other info like that.

This can be done today with the Android SDK by configuring a network interceptor.

https://stackoverflow.com/questions/47372894/parse-com-android-sdk-okhttp-interceptor

[2018-07-17 14:32] rorz commented on #300
I'm still getting this issue when, for a given `Parent` with a `children` relation of `Child`, the following does not work:

- Re-initialising the `Parent` via `.save` in between each `.get('children').add(Child)` call
- Adding the children as an array, e.g. `Parent.get('children').add([Child1, Child2, Child3])`

The only way I can get it to reliably work is by initialising a *new query* every tim

[2018-07-17 14:34] flovilmart commented on #300
We haven’t had the time to investigate it. We’ll have a look then :)

[2018-07-17 22:22] rorz commented on #300
Thanks :) Will have a look at the source myself too, instead of just coming on here to moan!

[2018-07-18 06:21] flovilmart commented on #300
@rorz thanks! That’s appreciated ;)

[2018-07-19 05:40] seriph opened #604 "Missing operations from parse-server"
Is there any way of calling the following operations from parse-server?
aggregate
upsertOne
updateMany

[2018-07-20 11:28] macklus opened #605 "Download docs as PDF"
Is there any way to download docs as PDF ? where are docs written ?

[2018-07-22 19:27] dplewis opened #606 "[Discussion] Local Datastore for JS SDK"
From https://github.com/parse-community/Parse-SDK-JS/issues/77

Just wanted to check if anybody has started working on this.

I'm willing to work on it and discussion implementation here.

[2018-07-25 21:20] #606 closed

[2018-07-25 21:47] cleever commented on #77
I think it should be framework agnostic. Parse-SDK-JS works fine with React, Angular/Ionic, Vue or any framework you like. Local Datastore should not be tied with one framework or something like that.

[2018-07-25 21:48] flovilmart commented on #77
Agreed with @cleever. Also, what offline features do we want exactly?

[2018-07-25 21:57] dplewis commented on #77
@flovilmart I use the iOS local datastore a lot so. But i need something simple like pin an object and query it back is a good start.

Also would we implement it similar to what you did with the react-native async storage issue? I'm trying to see the best way to implement this.

[2018-07-25 22:03] flovilmart commented on #77
I believe we can leverage the same provided local datastore. JS / web datastore i believe settled on key/value stores no? Pin and queries can live with this, without requiring complex SQL. I you look at the implementation on iOS, you’d see the objects are stored as blobs, indexed in a single table, having the className /id as primary key.

So having a good key value store implementation at first c

[2018-07-25 22:42] dplewis commented on #77
Key / Value is more widely used if you are going framework agnostic. What do you think the Key / Value should be?

[2018-07-26 00:04] dplewis commented on #77
Just looked at iOS and you are right. But iOS uses simple SQL queries.

<img width="1365" alt="screen shot 2018-07-25 at 7 02 21 pm" src="https://user-images.githubusercontent.com/9830365/43233750-53172cc0-903d-11e8-9a03-56534ec2a93d.png">

I can start a PR for `pinWithName` and `fromPinWithName` as a start and we can build from there.

[2018-07-26 00:07] flovilmart commented on #77
Yeah, that makes for simple queries, which are easier to implement in a key/value manner. I haven’t dug very deep in all the mechanics but the iOS SDK also loads the objects from memory / datastore when created by id without data, also keeping the single instance in memory per objectId

[2018-07-26 00:10] dplewis commented on #77
I don’t understand it all either lol. I wish localStorage at least was like redis where it you can use * with keys

[2018-07-26 11:22] flovilmart commented on #594
@Aetherall this is a very neat solution and adds nice features to a Parse.Object. Any chance you can make it through prototype injection? This way using Parse.Object with your trick will play nice with event driven frameworks.

[2018-07-26 11:33] flovilmart commented on #605
@macklus for now it's impossible, the API docs are generated and you can generate them for yourself by cloning the repository and run:

[code]

The documentaton will be in the `out` folder.

From there you have the offline HTML docs.

[2018-07-26 11:33] #605 closed

[2018-07-26 11:58] flovilmart commented on #597
Are you willing to make a PR for it?

[2018-07-26 11:59] flovilmart commented on #597
I also really like this decorator based SDK! Any chance you have it on GitHub?

[2018-07-26 17:47] mfkenson opened #611 "Lack of API doc: Parse.User.logInWith method"
Is it intented to prefer _linkWith instead of logInWith ?
http://parseplatform.org/Parse-SDK-JS/api/v1.11.1/Parse.User.html#_linkWith

The apidoc of _linkWith exists while logInWith does not.

Though I failed to go with _linkWith approach, the logInWith method is fine.

Client Side using logInWith (Success):
[code]

Client Side using logInWith (Fail):
[code]

[2018-07-26 17:54] flovilmart commented on #611
The api doc should definitely be added for the logInWith method, _linkWith being ‘private-ish’, it is discouraged to use.

[2018-07-26 21:07] rgdagir commented on #402
Use the following command to open your parse dashboard: "parse-dashboard --appId yourAppId --masterKey yourMasterKey --serverURL yourServerURL". Once it is activated, open it and check for the server version on the "homepage".

[2018-07-27 07:24] Aetherall commented on #597
Yes, In fact, I am currently rebuilding Parse from scratch ^^
I am making good progress so far

[2018-07-27 07:33] Aetherall commented on #594
It was my plan at the beginning, but I was not done adding stuff to the Parse.Object class, so first, I created this "class in the middle"

I added abilities like this:

[code]

I added field level validation and authorization, the ability to save many deeply nested unsaved children in the same request, MongoDB multi-document transactions, self-maintaining queries... and many other things I can't

[2018-07-27 07:39] #597 closed

[2018-07-27 09:40] flovilmart commented on #594
Very interesting, you’re building your own framework in the end.

[2018-07-27 09:42] flovilmart commented on #597
You mean the SDK or the full server+ sdk’s?

I’m curious why you’d need to rewrite it all.

[2018-07-27 10:07] Aetherall commented on #597
Full server + SDK

I do not feel comfortable about how the server and the client work together

The whole concept is great, but the way its designed seem not ideal for me

My goal is to have something like a client execution for each request on the server, but in a way that allows node optimizations. ( no new class instances, just a context shift )

Also, the Parse.Promise thing was driving me cra

[2018-07-27 10:33] Aetherall commented on #594
Yeap, I am looking for the perfect framework for 3 years now, I've been through a lot of techs, and the way parse see the data is really cool

[2018-07-27 11:18] flovilmart commented on #594
Very interesting, in any cases, I’ve been wondering how to split parse server better (data, identity, push etc...) both logically (node modules) and from an http endpoint perspective. Perhaps rhat’s Something you’d need in your project, leveraging the data core without the rest.

[2018-07-27 12:15] Aetherall commented on #594
That's exactly what I am working on
I would be happy to hear your suggestions

[2018-07-27 19:07] dplewis opened #613 "toJSON() Documentation"
I noticed that toJSON takes a parameter but the documentation doesn't state what it does.

http://parseplatform.org/Parse-SDK-JS/api/v1.11.1/Parse.ACL.html#toJSON

[JS SDK toJSON()](https://github.com/parse-community/Parse-SDK-JS/blob/master/src/ParseObject.js#L413)

Also `toJSON` doesn't return `className`, is that by design? I could use [_fullJSON()](https://github.com/parse-community/Parse-SDK-

[2018-07-27 20:20] dplewis commented on #77
I started on a PR https://github.com/parse-community/Parse-SDK-JS/pull/612 if you want to move the discussion there.

[2018-07-27 21:46] flovilmart commented on #613
Yeah, I mean thst’s Tricky, as className should not be used when you create an object, unless you want the className key to be set, which is kinda backwards.

toJSON is fine as it’s used to sérialité the payloads, and the className is never part of it.

[2018-07-27 21:46] #613 closed

[2018-07-27 22:06] dplewis commented on #613
We can set the `className` key once the object is saved and has an `ObjectId`.

New Object
[code]
Saved Object
[code]

If I store `object.toJSON()` in localStorage and retrieve it, I can't use `fromJSON()` as I don't know the class.

[2018-07-27 22:47] flovilmart commented on #613
You should keep the class name part of the pin/key name?

[2018-07-27 22:50] dplewis commented on #613
Thats a workaround, it would be nice to have in the `toJSON` return don't you agree?

[2018-07-27 22:53] flovilmart commented on #613
You can’t actually as it would put className into all payloads therefore saving a key on each object with the clsssName value :/

Because yoi’re Doing something internal, you can use _toFullJSON

[2018-07-27 22:54] dplewis commented on #613
Thanks for the feedback.

PS: I posted a message on Slack

[2018-07-29 19:21] oallouch opened #617 "save is too smart"
Hi,
When I call 'save' on an Object, I only expect this Object to be saved. Now, I know I was wrong.
I often modify Objects for UI only. I don't want them to be saved. But if they're pointed by the Object I save, they're also saved in a 'batch' query.
I think it would be great to have a 'shallow' property for the 'save' method. The default can be false, but it would also make clear that the Object

[2018-08-01 05:45] seriph commented on #604
Bump

[2018-08-01 08:09] flovilmart commented on #604
Aggregate is supported http://parseplatform.org/Parse-SDK-JS/api/v1.11.1/Parse.Query.html#aggregate

The two others aren’t and are not likely to be publicly exposed any time soon.

[2018-08-01 08:09] #604 closed

[2018-08-01 19:15] Simone-cogno opened #619 "TypeError: Parse.Schema is not a constructor"
If I write the following code I receive the TypeError:
[code]

Any idea how to manipulate parse schemas through the JS SDK?

Additional info:
"parse": "1.9.2",
"parse-server": "^2.6.5"

[2018-08-01 19:16] #619 closed

[2018-08-02 23:53] tgreco opened #621 "doesNotMatchKeyInQuery doesn't work when using same query and key with different query key"
My schema:

[code]

I want to find photos for users that do not have any matches.

What I tried:

[code]

This only works for the scheduledBy column.

Seems like you can't do doesNotMatchKeyInQuery with the same key and query but different query keys for some odd reason.

Can anyone confirm this? If so what would be the best alternative?

I removed scheduledBy and used scheduledWith only and that

[2018-08-02 23:54] flovilmart commented on #621
Thanks for your question!

We want to make sure to keep signal strong in the GitHub issue tracker – to make sure that it remains the best place to track issues that affect the development of Parse Server.

Questions like yours deserve a purpose-built Q&A forum. Would you like to [post this question to Stack Overflow with the tag #parse.com](http://stackoverflow.com/questions/tagged/parse.com)? We'

[2018-08-02 23:54] #621 closed

[2018-08-03 02:13] tgreco commented on #621
https://stackoverflow.com/questions/51663576/parse-cloud-code-doesnotmatchkey

[2018-08-03 02:51] tgreco commented on #621
@dplewis my issue with a compound query is that this query is much more complex and uses GeoPoints and near in a subquery so I cannot include that in my compound query as the documentation says:

[code]

How could I include compoundPhotoQuery into the main PhotoQuery now?
I'm not sure it's possible to do a matchesQuery or containedIn on the actual object rather than a specific key in the object is

[2018-08-06 12:54] pargu opened #622 "Refused to get unsafe header "x-parse-job-status-id" (parse.min.js:13)"
We are getting this issue on one of our websites using Parse.Login function. It just happened suddenly, without any changes in code.

Seems like there's another developer experiencing this also. Ref:
https://stackoverflow.com/questions/51706665/refused-to-get-unsafe-header-x-parse-job-status-id-angularjs-and-parse-serve/51707718#51707718 (1 h ago)

This only happens in the JavaScript SDK. Android

[2018-08-06 13:18] flovilmart commented on #622
We should add the access control expose headers in parse server in order to ‘fix’ this issue. You can ignore it for now.

[2018-08-06 13:27] flovilmart commented on #622
It shouldn’t, and the issue is in parse server and should be solved on parse server’s side.

What version of the sevrer are you running?

[2018-08-06 13:30] pargu commented on #622
We're running 2.6.5 .. Have issues updating it to newer version. But that's another thing

[2018-08-06 13:31] flovilmart commented on #622
So even if I provide a fix, you won’t even be able to apply it.

[2018-08-06 13:35] pargu commented on #622
Probably. It's not a priority as of now, but something we have to do sooner or later

[2018-08-06 14:14] pargu commented on #622
Would you like to give some insight why this has started to happen as of now? And not before. Tried some diffrent browsers, and same issue everywhere.

[2018-08-06 14:15] facchiR commented on #622
Refused to get unsafe header "x-parse-job-status-id"
xhr.onreadystatechange @ parse.js:10727

i got this issue on almost every page on my website (stored in a web host)

I think the modification you did here (Check if job header is present #623) messed up application with older parse sdk.
Could you check?

Everything was working few days ago..

[2018-08-06 14:17] flovilmart commented on #622
The fix on #623 is not merged yet and supposedly fixing the issue.

Can you try with it?

[2018-08-06 14:26] facchiR commented on #622
We are using Parse Server 2.6.5, we did not update to the new server yet.
Everything was working correctly last week, now i got an error on this source code:
if (typeof xhr.getResponseHeader === 'function') {
              var jobStatusId = xhr.getResponseHeader('x-parse-job-status-id'); <==== Bug here
              if (jobStatusId) {
                response = jobStatusId;
              }

[2018-08-06 14:26] flovilmart commented on #622
I believe you're using the unpkg version:

https://unpkg.com/parse/dist/parse.js, and the minified production version is at https://unpkg.com/parse/dist/parse.min.js.

Which is automatically pointing to the latest release, you should use:

 https://unpkg.com/parse@1.11.1/dist/parse.js

[2018-08-06 14:26] #622 closed

[2018-08-06 14:27] pargu commented on #622
Same here. Haven't modified Client nor Server version

[2018-08-06 14:29] flovilmart commented on #622
@pargu please, pin the SDK version to 1.11.1 as I mentioned just above. You guys are using the latest SDK version which contains this issue.

[2018-08-06 14:37] facchiR commented on #622
Everything it's working again for me! Thanks

[2018-08-06 14:45] pargu commented on #622
Working for us too 👍 Thank you @flovilmart

[2018-08-06 23:21] bchapin opened #625 "Function calls are successful, but not returning a completion for success or error"
I am building a javascript admin panel. Today, javascript function calls suddenly stopped working properly - they never complete. They work, but the completion call is never made. In the code below, the initialization works, the current user check works and post alerts. The call to create a "Location" works (a Location object is created in the database) but neither the success nor error completion

[2018-08-06 23:24] #625 closed, assigned to nobody

[2018-08-07 17:13] macklus opened #626 "Add aditional data on relation"
Hi!
I need to add more data on a relation, something like:

[code]

is there any way to do that ?

thanks in advance.

[2018-08-07 17:16] flovilmart commented on #626
The relation represents the join table. In this case, you should store it as another object which will represent the your related object, like a new Class Play, with the objects’s properties being status, user, etc...

[2018-08-07 17:16] #626 closed

[2018-08-09 07:43] mullwaden opened #627 "Using toJSON to clone Parse.Query objects does not work"
Currently cloning a query is a bit of a hassle. Using ``_.clone`` does not work (as it contains objects inside of it), for some strange reason neither does ``_.cloneDeep``. Currently I have had to implement it like this in my code:
[code]

To me the obvious solution is to use toJSON, i.e. ``const query1 = Parse.Query.fromJSON(className, query.toJSON())``. However toJSON seems broken to me as it re

[2018-08-09 07:46] mullwaden commented on #583
Would be very nice! Currently I do something like this in lieu of a proper API:

[code]

Where the clp object is defined something like:

[code]

[2018-08-09 13:05] flovilmart commented on #627
@mullwaden feel free to open a PR with the proposed fix.

One word of advice, `toJSON()` methods can't be changed as they are used internally to serialize the  queries and the objects in a server compatible format, so I hope you can have another workaround.

[2018-08-09 13:52] cinder92 commented on #439
try
[code]

[2018-08-09 13:56] flovilmart commented on #439
@coryshaw A pointer is a ParseObject. There is no such thing as a Pointer object. When you run your query, all the objects are transformed into unfetched Parse Objects. You can then fetch the full objects with `.fetch()` or leave it as is. Those objects don't have any property from the server.

[2018-08-09 13:56] #439 closed

[2018-08-09 16:46] ridem opened #630 "RESTController - Allow for GET requests"
Note: As originally proposed at #629

Motivations:
- It gets very difficult to consider using the browser version of Parse JS SDK in a production environment, as the requests made make caching and optimization very difficult
- Allowing for GET requests leverages on all the browser caching features (ETag & such) that parse-server is already serving. If `ETag`s are served by parse-server, it surely

[2018-08-09 16:52] flovilmart commented on #630
I can't answer for everything but for etags, this was enabled [there](https://github.com/parse-community/parse-server/pull/2834) so you may want to ask the original author directly.

Besides etag I don't believe the server provides any cache headers.

The REST API is the main API used by the SDK, the fact that you can bundle your requests as a POST request is an implementation detail. If you build

[2018-08-09 17:03] ridem commented on #630
True, just checked again, my bad

Thanks a lot for the tip! That'll work for me for now!

I've been testing these GET requests today and it seems to work perfectly, even with complex queries.

Another interesting thing to note is that the Parse Dashboard's API Console itself sends proper GET/PUT/POST/DELETE requests from the web browser, and doesn't implement its requests with `._method`. So I mig

[2018-08-09 17:28] flovilmart commented on #630
Ideally I'd love to abstract away all the request making of this SDK, and probably remove the IE9 support etc... when possible :)

[2018-08-09 20:16] andrewimm commented on #630
It's unrelated to IE9, but it is related to CORS.
My memory is a bit hazy, because I wrote all this code 3 years ago, and we had been doing the POST thing for 2+ years before that even... but I'm pretty sure it was to avoid preflight, which would cause two round trips to the server (OPTIONS + secondary verb).
Right now we have a "simple" request – its content type is "text/plain," the verb is one

[2018-08-09 20:18] flovilmart commented on #630
That would make total sense! Thanks @andrewimm.

[2018-08-09 20:18] andrewimm commented on #630
Also since the "headers" arg came up, I'm pretty sure the only time we do pass custom headers is related to uploading files. That one endpoint needed to support some extra behavior and go around the typical networking path.

[2018-08-14 08:38] ideastouch opened #639 "LiveQuerySubscription -> Subscription::unsubscribe call to undefined resolve function"
On file LiveQuerySubscription.js, line 109, which is class Subscription, method unsubscribe(),  at the end is called this.resolve();
My code crash and says "unsubscribe resolve is not a function", which is true. I think that is a bug.
BTW: I couldn't find in test files any test checking "unsubscribe" function.
[code]
In the meanwhile I added to my `subscription` object created with `query.subscrib

[2018-08-14 12:44] #584 closed

[2018-08-14 20:08] ridem commented on #630
Thanks a lot for your feedback, this makes a lot of sense.
I'm actually calling my Parse backend from the same domain (proxying `/api` to the backend instance), hence not needing to worry about the preflight requests.
I guess the status quo on this issue is good enough for now.
It would have been simpler for me to quickly set `Parse.useHTTPHeaders()`, but on the other hand, I've been able to plug

[2018-08-14 20:18] andrewimm commented on #630
That was the entire goal of CoreManager in the first place – allowing pluggable implementations. We used a custom REST implementation in the hosted version of Cloud Code, too. Glad the architecture is still valuable.

[2018-08-14 20:19] flovilmart commented on #630
@andrewimm this is through a custom rest controller that the server provides a 'direct access' controller.

[2018-08-14 20:27] flovilmart commented on #630
@ridem do you mind if we close this one then?

[2018-08-14 20:45] ridem commented on #630
I agree, let's close this issue!
Thanks a lot for your reactivity and feedback, @flovilmart @andrewimm

[2018-08-14 20:45] #630 closed

[2018-08-14 20:53] flovilmart commented on #630
Always a pleasure!

[2018-08-15 11:58] cipiripper commented on #571
You can select ACL with a dumb workaround:

[code]

This is how they are stored in MongoDB, and will be passed on to it. Mongo will return those two, and Parse will convert them into ACL objects.

[2018-08-15 13:31] flovilmart commented on #571
I pushed a fix, this is gonna be part of the next release of parse-server. ACL's will always be included.

[2018-08-15 13:31] #571 closed

[2018-08-15 13:40] #639 closed

[2018-08-15 14:12] harryjamesuk opened #641 "Checking if a user is linked to a service"
Hi there,

I'm trying to see if a user is linked with Spotify using ``user._isLinked("spotify")`` and although the user shows the authData that their account is linked with Spotify, and the session shows the ``authProvider`` as ``spotify``, the function returns false.

I believe this is probably because _isLinked does ``this.get('authData')`` where getting 'authData' off the user returns undefined

[2018-08-15 14:16] flovilmart commented on #641
Are you using the masterKey? If you aren't that would explain why you can't have access to the authData. If you are, it's likely a feature/bug from parse-server that strips authData in every cases where you're not the requesting user.

For security purposes, the server avoids sending the authData to any client, as the auth token may be leaked and used by a malicious third party.

[2018-08-15 14:20] harryjamesuk commented on #641
Hi @flovilmart

How would you go about using the masterKey since get() just takes the attribute you want to get and not any options?

[2018-08-15 14:32] harryjamesuk commented on #641
Fab - got it working by querying for the user with ``useMasterKey``. I was looking at the wrong get (Off Parse.Object)!

Thanks for your help + for responding so fast!

[2018-08-17 17:38] zixzelz opened #644 "Parse.Cloud.httpRequest is not a function"
Hi,
I have been trying call function, but I have an error:

[code]

[2018-08-17 17:42] flovilmart commented on #644
It’s only available within cloud code as stated in the documentations.

[2018-08-17 17:42] #644 closed

[2018-08-17 18:56] zixzelz commented on #644
@flovilmart thank you.

[2018-08-21 13:45] runia1 opened #645 "Many to many relation isn't really many to many?"
In the docs it says:

[code]

My use case is actually this exact setup.  We have users and they can "like" 0-many posts, so I set it up exactly as stated above.  My issue now is that for a given Post or set of Posts, I need to query how many users have liked each Post.  I'm having trouble figuring out how to query for that... Can someone help me out? I'm not sure if this is a limitation or if I ju

[2018-08-21 13:47] #645 closed

[2018-08-21 13:47] flovilmart commented on #645
Thanks for your question!

We want to make sure to keep signal strong in the GitHub issue tracker – to make sure that it remains the best place to track issues that affect the development of Parse Server.

Questions like yours deserve a purpose-built Q&A forum. Would you like to [post this question to Stack Overflow with the tag #parse.com](http://stackoverflow.com/questions/tagged/parse.com)? We'

[2018-08-21 14:06] Eyesiah opened #646 "API doc: link to v2 migration guide is broken"
The API docs at http://parseplatform.org/Parse-SDK-JS/api/v2.0.1/ have a section "Upgrading to Parse SDK 2.0.0" that links to a migration guide at http://parseplatform.org/Parse-SDK-JS/api/v2.0.1/2.0.0.md . However, that link doesn't work.

A working URL is https://github.com/parse-community/Parse-SDK-JS/blob/master/2.0.0.md

[2018-08-21 14:08] flovilmart commented on #646
Can you open a PR on the docs repo please?

[2018-08-21 14:09] Eyesiah commented on #646
Ahh sure, well I've opened an issue there instead.

[2018-08-21 14:11] flovilmart commented on #646
Thanks, the issue is in the README.md file, as it uses relative links.

[2018-08-21 15:05] harryjamesuk opened #647 ""distinct" queries aren't unique"
Hi there,

It seems when I try to create a distinct query with the SDK it doesn't behave as such, and results returned are not unique.

Example code
[code]

The REST API behaves as expected here when performing the same query.

Running SDK v2.0.1, parse-server v3.0.0, node v8.11.4, mongo v4.0.1.

[2018-08-21 15:15] harryjamesuk commented on #647
Here's the logs

[code]

[2018-08-21 15:18] flovilmart commented on #647
Well, your query is asking for all the dictinct users for a particularl party object, from what I can see, there is a single user returned.

[2018-08-21 15:20] harryjamesuk commented on #647
My bad! I was actually trying to query the number of SocketSession's with unique users, rather than all of the SocketSession's by a single user.

Misread the way distinct works!

[2018-08-21 15:20] #647 closed

[2018-08-21 16:41] runia1 commented on #645
https://stackoverflow.com/q/51953227/2829899

[2018-08-27 08:46] mullwaden opened #648 "Uncaught promise type error when unsubscribing from a liveQuery"
Getting an error when unsubscribing from a liveQuery. ``Uncaught (in promise) TypeError: _this2.resolve is not a function``. The strange thing is that the original code does not contain the faulty resolve, however the distribution code does. I have no clue as to how this can be

** Original code **
https://github.com/parse-community/Parse-SDK-JS/blob/master/src/LiveQuerySubscription.js

[code]
**

[2018-08-27 11:36] flovilmart commented on #627
I usually would recommend to use the factory pattern to generate similar queries instead of cloning existing ones. The query may hold an internal state that would make the cloned one not working as expected

[2018-08-27 11:37] flovilmart commented on #648
Already fixed. P’ease Update to the latest version https://github.com/parse-community/Parse-SDK-JS/pull/640

[2018-08-27 11:37] #648 closed

[2018-08-30 10:35] macklus opened #652 "@types/parse: Subsequent variable declarations must have the same type"
Hi

From two days ago, after install @types/parse, ionic serve hangs with error:

[code]

Problem seems related to dependency on @types/node

how can i solve it ?

[2018-08-30 10:40] flovilmart commented on #652
We don’t maintain @types/parse. Closing

[2018-08-30 10:40] #652 closed

[2018-09-05 05:08] Jai-Krish opened #655 "Support for Nativescript Angular"
It seems like [nativescript-angular](https://github.com/NativeScript/nativescript-angular) doesn't have `XMLHttpRequest ` since it uses its own [HTTP module](https://docs.nativescript.org/ns-framework-modules/http).
`ERROR Error: Uncaught (in promise): ParseError: 100 XMLHttpRequest failed: {"originalStack":"Error: Cannot make a request: No definition of XMLHttpRequest was found.\n at new ZoneAwar

[2018-09-05 09:49] macklus opened #656 "Save file on subdirectory"
Not sure if this is possible.
I use local image store, and got a big number of them.
To improve load speed i wish to use subdirectories, like:
[code]
but it dont work

is this possible to do ?

[2018-09-05 11:09] flovilmart commented on #656
It’s not possible at this time. If you wish to implement this feature, it will need to be on parse-server as well as the relevant adapters.

[2018-09-05 11:09] #656 closed

[2018-09-05 11:18] flovilmart commented on #655
Do you wish to provide support for it?

[2018-09-05 15:29] Jai-Krish commented on #655
So we should decouple the request logic from the `RESTController` into a separate module and add something similar to `Parse.CoreManager.setStorageController` so that the user can swap the request module at runtime.
So should I start wrapping the `XHR` and `XDomainRequest` into a `http` that works with promises than a call back? if so do you propose any prototype that I should follow for this modu

[2018-09-05 19:55] patkozlowski commented on #622
Thanks for the answer. Been scratching my head on this for a few days!

[2018-09-05 21:31] flovilmart commented on #655
Yep something similar, the best interface for the newly created module is one that makes it easy / trivial to use with the one you need :)

[2018-09-07 04:08] sunshineo commented on #478
Is the problem actually from this line not using 'useMasterKey'? https://github.com/parse-community/Parse-SDK-JS/blob/master/src/ParseUser.js#L1022

[2018-09-07 04:54] leftluoyi opened #657 "aggregate function is not called"
Windows 10
react": 16.4.1

Well, having  a aggregate query:

[code]

It works in `1.11.1`.

Today just upgraded to `2.0.2`, all the other queries are fine but the ones with **aggregate** is not exectued. For example, the `consol.log()` above is not reached.

The console shows:

[code]

[2018-09-07 10:56] flovilmart commented on #478
You can always use the save method setting the authData on the user.
You can also open a PR With the fix and appropriate tests.

[2018-09-07 10:56] #478 closed

[2018-09-07 11:09] flovilmart commented on #657
THere are tests covering aggregates, and the case you're describing look covered.

https://github.com/parse-community/Parse-SDK-JS/blob/69b2e73/integration/test/ParseQueryAggregateTest.js#L26

Can you open a PR with a failing integration test in the file I just referenced above?

[2018-09-07 11:09] #657 closed

[2018-09-07 11:09] dplewis commented on #657
Please update to the latest version of Parse Server as well and reopen if issue persists.

[2018-09-07 11:13] dplewis commented on #657
Please update to the latest version of Parse Server

[2018-09-09 22:02] farhansyed9 opened #659 "When logging in a user via website, should I do it server side or client side?"
Hello currently I have this as a POST method on my backend:

[code]

Is this the right approach? Also if it is, how would I go about setting a current user? Do I just do that client side?

Would appreciate the direction, thanks in advance!

[2018-09-09 22:09] flovilmart commented on #659
You should log your users client side and pass the session token for authenticated calls. Not sure why you would want to do it server side. Also this is not a forum. Your question would fit better on stackoverflow

[2018-09-09 22:09] #659 closed

[2018-09-10 14:32] NicksonYap commented on #323
It's now 2018 and this behavior is not well documented
It's documented here: https://parseplatform.org/Parse-SDK-JS/api/v1.11.1/Parse.Object.html#revert
But the guide has not mention of it at all
https://docs.parseplatform.org/js/guide/
it only mentions object.fetch()

How can the docs be improved?

[2018-09-10 14:42] flovilmart commented on #323
The docs are open source and each section has a link to edit the docs. You can edit them on your own

[2018-09-10 14:43] oallouch commented on #323
@NicksonYap it's very easy to edit the docs directly on github. I can be a nice first PR.

[2018-09-10 14:58] NicksonYap commented on #323
https://github.com/parse-community/docs/pull/555

[2018-09-11 18:11] sunshineo commented on #478
Note: when using save method on authData using 'useMasterKey', it automatically handles multiple 3rd parties. It will add to the list if it is a new one and it will replace if an old one already exists.

[2018-09-12 03:40] mstephano opened #660 "dirty and dirtyKeys return true even if value has not changed"
From the docs
- dirty(attr): Returns true if this object has been modified since its last save/refresh. If an attribute is specified, it returns true only if that particular attribute has been modified since the last save/refresh.
- dirtyKeys(): Returns an array of keys that have been modified since last save/refresh.

I thought that the meaning of "modified" is when the value is different between

[2018-09-12 10:27] flovilmart commented on #660
In this case, you have mutated the value on purpose. This is the expected behaviour.

[2018-09-12 10:27] #660 closed

[2018-09-14 03:13] dplewis commented on #326
Closing via https://github.com/parse-community/Parse-SDK-JS/pull/658

[2018-09-14 03:13] #326 closed

[2018-09-14 09:15] thisfiore opened #661 "Parse.FacebookUtils.logIn broken with latest release?"
With 2.1

Parse.FacebookUtils.logIn() fails silently, no success, no error getting callend

reverted to 1.X working

[2018-09-14 11:14] flovilmart commented on #661
Well to you have an example as well as code snippets that would help debugging this? What did you use?

[2018-09-14 14:16] #372 closed

[2018-09-14 14:18] dplewis commented on #340
Closed via https://github.com/parse-community/Parse-SDK-JS/pull/662

[2018-09-14 14:18] #340 closed

[2018-09-14 14:19] #595 closed, assigned to nobody

[2018-09-14 15:26] thisfiore commented on #661
Do we need to compile it now for client side usage with compatibility with IE for example?

[2018-09-14 15:39] flovilmart commented on #661
You do what feels neecessary, or provide a poly filled version of promises. The browser build is built for ‘> 0.25%, not dead’ browsers, you can check the compatibility here in http://browsel.ist which include IE 11 as at 2.71% market share but not the previous versions.

[2018-09-14 15:43] thisfiore commented on #661
Like the upgrade with promises.
This release on CDN with no backward compatibility was something dangerous.
With this big release I'd suggest to use more URL for CDN delivery.

On Fri, Sep 14th, 2018 at 5:39 PM, Florent Vilmart <notifications@github.com> wrote:

[2018-09-14 15:44] flovilmart commented on #661
This is a major release, 2.0 vs 1.0 the fact that the CDN release you use is not pinned to any version is on you, not me.

[2018-09-20 09:38] vince1995 opened #664 "Cross-project developing causes multiple Parse instances"
Hi,

I have a React App which has some cross projects. While developing I'm importing these projects with symlinks, in production . I think Parse make some problems there.

In one project Parse throws this Error: `Error: You need to call Parse.initialize before using Parse.`

But: Parse is already initialized. The "main" code works fine, only the code from the cross project is making issues. Is th

[2018-09-20 10:32] vince1995 commented on #664
Ok, it seems that the Parse session is stored in the Parse module. When I'm developing I'm importing Parse in the cross project from its own node_modules. So I have two instances because I'm importing from two different node_modules.

In production my cross project is a node_module in the main app, so they're importing from the same node_module (but only if they have the same version in `package.j

[2018-09-20 10:35] #664 closed

[2018-09-25 06:32] reallyimeric opened #666 "Got "The server returned an invalid response." if the cloud function returns undefined"
sdk version 2.1.0.

`Parse.Cloud.run()` will be rejected with "The server returned an invalid response." if the server defined cloud function returned `undefined`.

To reproduce:

server:
[code]

client:
[code]

[2018-09-27 13:05] greenkeeper[bot] opened #669 "An in-range update of eslint-plugin-flowtype is breaking the build 🚨"
## The devDependency [eslint-plugin-flowtype](https://github.com/gajus/eslint-plugin-flowtype) was updated from `2.50.2` to `2.50.3`.

🚨 [View failing branch](https://github.com/parse-community/Parse-SDK-JS/compare/master...parse-community:greenkeeper%2Feslint-plugin-flowtype-2.50.3).

This version is **covered** by your **current version range** and after updating it in your project **the build f

[2018-09-28 20:59] greenkeeper[bot] opened #670 "An in-range update of babel7 is breaking the build 🚨"
## There have been updates to the *babel7* monorepo:

 + - The `devDependency` [@babel/core](https://www.npmjs.com/package/@babel/core) was updated from `7.1.0` to `7.1.1`.
- The `dependency` [@babel/runtime](https://www.npmjs.com/package/@babel/runtime) was updated from `7.0.0` to `7.1.1`.

🚨 [View failing branch](https://github.com/parse-community/Parse-SDK-JS/compare/master...parse-community:gr

[2018-10-04 08:00] Jauny opened #672 "Parse Live Query on the browser"
Hi,

Looking into the Live Query JS API to implement a live chat system. I see that the Live Query API is only available on `@parse/node`.

What's the recommended way to implement a WebSocket system communicating with a Parse backend?

Thanks

[2018-10-04 08:04] Jauny commented on #672
A bit more research made me understand that the Live Query is the server-side protocol. Then, any Parse Query can subscribe to it with `Parse.Query#subscribe`, which explains why the Live Query API is only available on node.

Thanks

[2018-10-04 08:04] #672 closed

[2018-10-05 04:31] paulovitin commented on #603
How can we do this?

[code]

[2018-10-06 16:39] paulovitin commented on #603
@flovilmart if you have any ideas and need help, let me know...

[2018-10-06 17:06] flovilmart commented on #603
On the other end; that could work, perhaps using an event emitter somewhere that emits the request object and let a consumer mutate it

[2018-10-06 19:46] paulovitin commented on #603
Something like this:

[code]

[2018-10-07 01:11] fmendoza commented on #617
A workaround is to call `.revert()` if for some reason the object was modified in your UI but not saved.

[2018-10-11 12:52] Kemsty2 opened #674 "Destroy An Object Client Side"
I can't delete an object on the client side, using the destroy function, I created an admin role and gave it all the necessary rights, but unfortunately I am always sent object not found when I want to delete an object. Voila Mon code.
`

        user = getCurrentParseUser();
        sessionToken = user.getSessionToken();
        query = new Parse.Query(BillingPackage);
        billingPackage = aw

[2018-10-11 20:43] JacobJT commented on #674
www.stackoverflow.com

When you post there, be sure to include the CLP for the class in question, and consider verifying the ACL of a specific object you're trying to delete.

[2018-10-12 04:29] Kemsty2 commented on #674
Okay Thanks

[2018-10-14 00:11] GoGross opened #676 "Broken code after Latest JS SDK update"
JS SDK: Parse 2.1.0
PARSE SERVER: 2.7.4
I recently update my parse and I can't help notice that most of my code is broken. Have you done away with `success : function ( user ) {`
if favor of
`await etc`

Please help, I am a bit lost:

the following wont fly at all

try {
  await user.signUp();
  // Hooray! Let them use the app now.
} catch (error) {
  // Show the error message somewhere and let th

[2018-10-14 00:29] flovilmart commented on #676
What do you mean it won’t fly at all?

[2018-10-14 01:04] GoGross commented on #676
I am getting an error, a server error for that if on successful response only

eceived an error with invalid JSON from Parse: <html>
<head><title>502 Bad Gateway</title></head>
<body bgcolor="white">
<center><h1>502 Bad Gateway</h1></center>
<hr><center>nginx/1.14.0 (Ubuntu)</center>
</body>
</html>

[2018-10-14 01:56] GoGross commented on #676
Just updated to 3.0 and still the same problem

[2018-10-14 02:52] GoGross commented on #676
Received an error with invalid JSON from Parse: <html>
 <head><title>502 Bad Gateway</title></head>
 <body bgcolor="white">
 <center><h1>502 Bad Gateway</h1></center>
 <hr><center>nginx/1.14.0 (Ubuntu)</center>
 </body>
 </html>

[2018-10-14 03:50] flovilmart commented on #676
Can you provide both client and server logs?

[2018-10-14 04:33] GoGross commented on #676
[gross-framework.log](https://github.com/parse-community/Parse-SDK-JS/files/2476091/gross-framework.log)

[2018-10-14 04:36] GoGross commented on #676
ParseError: Received an error with invalid JSON from Parse: <html>
<head><title>502 Bad Gateway</title></head>
<body bgcolor="white">
<center><h1>502 Bad Gateway</h1></center>
<hr><center>nginx/1.14.0 (Ubuntu)</center>
</body>
</html>

    at https://local.grossframework.com/libs/parse-server/parse.js:12738:19

[2018-10-14 05:03] flovilmart commented on #676
It says invalid username/password at one point in the logs, did you check that?

[2018-10-14 22:19] #676 closed

[2018-10-14 22:22] GoGross opened #677 "Error: Cannot modify readonly attribute: sessionToken"
Parse-server 3.0.0
JS SDK 2.1.0

I get this error every-time I try to run the login function or the login after signup.
Everything else works just fine

origin=https://localhost:1984, user-agent=Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/69.0.3497.100 Safari/537.36, dnt=1, content-type=text/plain, accept=*/*, referer=https://localhost:1984/auth, accept-encoding=g

[2018-10-14 22:42] GoGross commented on #677
Its from the client side in the browser, how can I share my private repo for your observation?

[2018-10-14 23:17] flovilmart commented on #677
I don’t wish to spend hours debugging your issue. If you are unable to provide an example in the form of a pull request either on the JS SDK repo or this one then I definitely would suspect the issue is with you own custom code and not with the server. As for the explanation that this occurs ‘just by signing up’ but we don’t see it in our test logs, then i’d Be more than happy to hear the explanat

[2018-10-14 23:28] GoGross commented on #677
Thanks @flovilmart we have had to rebuild server js, and so far so good, I think we have errors on our express configs, thanks much

[2018-10-14 23:28] #677 closed

[2018-10-16 11:34] vince1995 opened #678 "Fetch and getData on Parse.File - FEATURE REQUEST"
Hey,

would be great to run `.fetch()` and `.data()` on `Parse.File`.

The background is that I have some data which I save in `Parse.File`s. But to cache (before save and after download) them I need to have it in an extra value or overwrite the `get()` function of `Parse.Object` (or my class which extends `Parse.Object`).

Something like the `.getData()` function in the [Parse SDK for Android](ht

[2018-10-16 14:18] Jauny opened #679 "Load user from sessionToken in nodejs"
Hi,

I'm trying to find the best way to load/auth a user from a sessionToken. Only way I've found so far is to use the http api to call /users/me with `X-Parse-Application-Id` and `X-Parse-Session-Token` headers.
I've seen conflicting answers about having to add a `X-Parse-REST-API-Key` (including on the official docs). Our parse-server is started without a rest-api-key so I should not need one.

[2018-10-16 15:12] flovilmart commented on #679
You’re  missing the client key, or javascript key or don’t have the proper credentials to your server

[2018-10-16 15:12] #679 closed

[2018-10-16 15:31] Jauny commented on #679
@flovilmart thanks for you answer, although I find closing this a bit early. From the [doc](https://docs.parseplatform.org/rest/guide/#validating-session-tokens--retrieving-current-user), it doesn't mention the need for the client key, or javascript key, or other proper credentials.

The example from the doc is:
[code]

As I said, even the doc mentions that `X-Parse-REST-API-Key` is not required i

[2018-10-16 15:44] flovilmart commented on #679
If you are getting ‘unauthorized’ this means the headers passed as credentials (appId, client keys etc...) are invalid.

Also, you should have some verbose logs, and perhaps the server running locally.

Lastly, we use GitHub issues for bugs, and encourage questions like yours to be asked on stackoverflow. For all those reasons this issue was closed.

[2018-10-16 15:48] Jauny commented on #679
Ok, I've tried with the `-H "X-Parse-Javascript-Key: <key>"` header and it seems to work now.

I think this would be worth adding to the documentation.

Thanks!

[2018-10-16 16:00] flovilmart commented on #679
If you’re accessing through the REST API, you should use a Rest api key, and configure it accordingly.

If you want to add docs feel free to open a PR on the docs repo

[2018-10-19 09:45] DobaKung opened #680 "Setting a specific key of an Object-type column"
Is there a way to `set` a specific key of a column with type Object? I've been trying the code below with no success:

[code]

However, setting it with a whole object works fine.

[code]

[2018-10-20 23:06] Moumouls opened #681 "Method Parse.Config.save(param,value) (with masterKey)"
Allow to save a new parameter in Parse.Config when we are in a Node.js Env or a masterKey is set
To avoid use of  :
[code]

[2018-10-21 01:14] alvinthen opened #683 "[Docs] JS API docs root path should show the latest version, instead of just redirecting"
The JS API docs https://parseplatform.org/Parse-SDK-JS/api/ is redirected to https://parseplatform.org/Parse-SDK-JS/api/2.1.0/, which causes 404 links from other docs.

Example, in cloud-code.md, ({{ site.apis.js }}classes/Parse.User.html) is resolved into https://parseplatform.org/Parse-SDK-JS/api/classes/Parse.User.html, which is 404.

I'm not sure what's the appropriate way to fix this, guide m

[2018-10-21 01:16] flovilmart commented on #683
The issue is on the docs repo. The appropriate fix could either be to change the version / root URL for the API docs to include the version or ‘master’

[2018-10-21 01:16] #683 closed

[2018-10-21 12:30] #417 closed

[2018-10-22 19:10] alejonext opened #685 "How do use '$where'"
Well, in the documentation never say for [`$where`](https://docs.mongodb.com/manual/reference/operator/query/where/)

[code]

[2018-10-22 22:14] flovilmart commented on #685
You don’t because it’s not supported neither on the client or the server.

If you wish to use advanced mongodb features, then you can use a mongodb client directly

[2018-10-22 22:14] #685 closed

[2018-10-23 21:32] flovilmart commented on #680
Not sure it’s a good feature, nor how it will be implemented server side. So if you want this feature use the mongo driver directly.

[2018-10-23 21:32] #680 closed

[2018-10-25 18:11] greenkeeper[bot] opened #687 "An in-range update of jasmine is breaking the build 🚨"
## The devDependency [jasmine](https://github.com/jasmine/jasmine-npm) was updated from `3.2.0` to `3.3.0`.

🚨 [View failing branch](https://github.com/parse-community/Parse-SDK-JS/compare/master...parse-community:greenkeeper%2Fjasmine-3.3.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

jasmine is a devDependency of th

[2018-10-27 00:58] dplewis commented on #680
@flovilmart I think this would be a great feature, it would also be an atomic operation and mongo / postgres can support it

[2018-10-27 01:03] flovilmart commented on #680
Well it’s probably a confusing one as it’s an atomic update. Unlike increment, if the object is not realized locally,it can backfire.

Again, I don’t believe the job of the SDK is to expose all single mongo and oostges feature but to provide a simple access to the most common ones to enable fast and reliable mobile and web app developments.

You’re free to challenge me and tell me it’s one of the

[2018-10-27 01:12] paulovitin commented on #680
@dplewis @flovilmart so I understood the feature is just a way to set objects and would not change anything server and client. As an example, he even showed that he only wants to be able to set an object with dot notation.

@DobaKung am I wrong?

[2018-10-27 01:15] flovilmart commented on #680
It’s not just about allowing dot notation. Then you need atomic updates in bot oh and mongodb, and posssivly all DB adapters. This is a very low hanging fruit,I mean, I your ‘need’ this, why not use mongo directly? Or mongoose? At one point if the parse SDK is simply a transform over the mongodb query language, whst’s The point?

[2018-10-27 01:34] DobaKung commented on #680
Actually my intent was that there should be a way to set just specific data (key) that has a change. Say, a user has `achievements` object: `{ cats: 10, dogs: 6 }`. When `cats` has an update, there should be a way to just set `cats` without the need to set the entire `achievements` object. Or did I miss anything? Very new to Parse.

[2018-10-27 01:36] flovilmart commented on #680
Perhaps you should consider another mechanism. Nesting documents is likely a bad design example, and likely you should use multiple classes and objects

[2018-10-27 01:59] dplewis commented on #680
I was updating my MySQL adapter and accidentally added this. Surprised that this didn’t work for Postgres out of the box.

[2018-10-29 13:18] rodsfreitas commented on #661
Hi, I had the same "problem" of no callback, but after reading this and trying with async/await, it worked. However, it's important to update the type definitions for typescript, because the current ones lead to this error, given that they're still based on backbone style callback.

[2018-10-29 13:19] flovilmart commented on #661
Feel free to update them, we do not maintain them

[2018-10-30 12:31] Ant248 opened #690 "Unable to Login with node.js"
Hi i've had a problem for a few days now completely stumped :(
I have been trying to create a bot to pull some data off my existing parse server however im unable to login.

I have check all the dependencies seems like everything is correctly set up but i get this error:
![12](https://user-images.githubusercontent.com/23380077/47718315-fec25880-dc3f-11e8-842e-57cdfba99f05.png)

My initialisation:

[2018-10-31 14:16] Jauny opened #691 "Getting user info after FacebookUtils.logIn"
Hi,

I'm setting up Facebook auth into my app. I'm testing the login flow right now, and after successfully calling `Parse.FacebookUtils.logIn('public_profile,email')` the user returned doesn't have the scope information, only `id` and `token` inside `authData.facebook`.

Look at `FacebookUtils` this is expected - but then I'm wondering what is the recommended way to query for the user information

[2018-10-31 16:04] flovilmart commented on #691
Did you consider using stackoverflow for implementation questions? We use github to report issues. I don’t seem to see what the bug or the issue is in this case.

[2018-10-31 16:30] Jauny commented on #691
@flovilmart my bad didn't now SO was where to ask questions 👍

[2018-10-31 16:30] #691 closed

[2018-10-31 18:18] coryshaw commented on #690
Hi there, I believe you need to need to require the node version of Parse, like so:

`var Parse = require('parse/node').Parse;`

[2018-11-01 09:32] Jauny commented on #691
@flovilmart looking at "parse.com" question on SO, very few have any answers. Is this the correct tag to use for questions? I'm wondering if it's the best place to ask question, if most are not getting answered.

For context, my question: https://stackoverflow.com/questions/53088132/using-parse-facebookutils-login

[2018-11-01 10:59] flovilmart commented on #691
There are many reasons why a question is not answered.
Perhaps it is too long, too broad, too general, not stating the problem etc...

In your case, I fail to understand what the question actually is, or the problem is either here or on stackoverflow.

You talk about at least 3 differnent topics, without asking any clear question about any of those.

I reckon there is perhaps a bug, (user.existed(

[2018-11-01 12:42] Ant248 commented on #690
Thanks! Seems there are no errors now, but it seems to crash on Parse.User.logIn :(
My code:

var Parse = require('parse/node').Parse;
Parse.serverURL = "https://myServer";
Parse.initialize("myappID", "myJavaScriptKey");

function validate(){
console.log("Validating");
var pw = "myPass";
var lo = "myLogin";
console.log("ready");
  Parse.User.logIn(lo, pw, {
    success: function(user) {
      cons

[2018-11-01 13:46] flovilmart commented on #690
You’re likely using the SDK in a version > 2 and I can see you are still using the old callbacks way. You should migrate your code to use Promises instead as they are natively supported now.

[2018-11-01 13:46] #690 closed

[2018-11-02 11:45] danielmartinprieto commented on #344
I'm wondering about this as well, given that you can get the current Installation with the native SDKs (Android, iOS...) with a class method, but not in JavaScript.

[2018-11-02 11:53] danielmartinprieto commented on #272
Hi, @andrewimm. Is it possible to do what you say (creating and saving the Installation via the SDK, instead of manually) with the JavaScript SDK? I can only see methods to do so in the native clients. Thanks.

[2018-11-02 12:59] danielmartinprieto opened #693 "Current Installation class method is missing"
I'm working in a couple of React Native apps so I need to use this SDK also in the client side. In order to handle `Installation`s, we're creating instances of this class manually either on the client or the server, and neither of these seem right; instead, we should be able to use the SDK to ask for the current installation stored in the client and update/save.

Here it's the related code in the

[2018-11-02 14:11] AndrewLane commented on #344
@danielmartinprieto don't think we're going to get an answer since this issue is a couple years old now :-)

[2018-11-02 14:33] Ant248 commented on #690
Thanks so much!!
Seems like parse sdk has changed a lot since i first started using it...

My code now for any one stuck works great:

`
const validateParse = async function(){
console.log("Validating");
const user = await Parse.User.logIn("mylogin", "pass")
.then((results) => {
  var iatlo = results.get("metricsAccess");
  console.log(iatlo);
  if (iatlo === "Yes"){
    console.log("Logged In Loa

[2018-11-02 14:48] danielmartinprieto commented on #344
@AndrewLane yeah, I've seen that, let's see if we're lucky! I've created a new one here in case this one gets buried: https://github.com/parse-community/Parse-SDK-JS/issues/693

[2018-11-03 06:08] euxicius opened #694 "Making a Class and content of it inBack4App"
I am new to programming and i am a student trying to make a program that saves username and able to log in. I have downloaded the template (https://www.back4app.com/docs/android/login-android-tutorial) and it work well. I have already made a Class inside the Parse Dashboard and able to login and do registers thanks to the layout. But I tried to import the class that i made in back4app but i dont k

[2018-11-03 06:09] dplewis commented on #694
You should open this in the Android SDK

[2018-11-03 06:57] euxicius commented on #694
How? Isnt Android SDK a like a plugin for gradle?

[2018-11-07 00:05] GoGross commented on #676
This may help someone, but I was including the Session class in the liveQuery array

[2018-11-10 15:04] flovilmart commented on #693
Installation is used solely for push notifications and make sense in a react native environment (as server doesn’t support web push). As you need this feature, would you want to implement it similarly as the current _User?

[2018-11-10 15:05] flovilmart commented on #694
This question is not a bug, but rather a question which is better suited to be asked on http://stackoverflow.com

Thanks!

[2018-11-10 15:05] #694 closed

[2018-11-10 15:13] danielmartinprieto commented on #693
I would love to try to do that! Would you mind helping me creating a list of high level tasks in order to accomplish it so I don’t miss anything? I’m not super familiar with the code base.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-10 15:19] flovilmart commented on #693
I wish I could, as I am not the original author of those code based, I would need to refer to the existing implementations on iOS and Android. We can go through it together. There are multiple components:

- persistance (like the User, it always restore)
- unicity (thé installation identifiés a unique installation of an app on a device)
- purpose: the purpose of the installation object is to be ab

[2018-11-16 09:12] #681 closed

[2018-11-21 13:40] ma0ho commented on #493
Confirmed!

[2018-11-29 00:05] yingmu52 commented on #498
@flovilmart

I am trying to use a custom class in `Parse.Query`, but it doesn't seem to work for me, not sure what that is happening.

[code]

I am getting this error
[code]

[2018-11-29 00:07] yingmu52 commented on #498
I also tried this way with no luck
[code]

[2018-11-29 00:31] flovilmart commented on #498
This is an issue that’s been resolved for over a year, so unlikely that you are affected. Please open a new issue with all relevant informations. Also, check the docs.

[2018-11-29 00:32] yingmu52 opened #700 "Parse.Query not returning custom subclass"
@flovilmart

I am trying to use a custom class in `Parse.Query`, but it doesn't seem to work for me, not sure why that is happening.

[code]

I am getting this error from `registerSubclass` and `new Parse.Query(Merchant)`
[code]

I also tried this way with no luck
[code]

[2018-11-29 00:35] flovilmart commented on #700
Can you provide your node version, SDK version, platform and all relevant informations?

Also `Parse.Query<Merchant>` doesn’t make sense in javascript I believe

[2018-11-29 00:41] yingmu52 commented on #700
node -v: `v8.9.4`
tsc -v: `Version 3.1.6`

[code]

in the database, I have a table called `Merchant` which I subclassed from `Parse.Object` and I am trying to see if `Parse.Query` could return the custom subclass objects.

[2018-11-29 00:45] flovilmart commented on #700
We do not offer direct support for typescript, is it working with pure javascript or not?

[2018-11-29 00:46] dplewis commented on #700
const merchants = await new Parse.Query(Merchant)
			.limit(10)
			.find({ useMasterKey: true });

Try

const merchants = await (new Parse.Query(Merchant))
			.limit(10)
			.find({ useMasterKey: true });

Please post logs VERBOSE=1.

Did you receive any errors?

[2018-11-29 00:49] yingmu52 commented on #700
It does.

[2018-11-29 00:51] yingmu52 commented on #700
same error.
[code]

I don't think adding `()` around `new Parse.Query(Merchant)` matter, it works for pure js

[2018-11-29 00:52] flovilmart commented on #700
So this is while tranpiling from typescript. You should make sure your settings in typescript do not erase the classes.

From now on, this is not an issue with this SDK, but with the typescript configuration IIUC as it works in node.js.

[2018-11-29 00:52] #700 closed

[2018-12-02 00:17] #381 closed

[2018-12-03 16:48] Molyktech opened #703 "× Error: You cannot add or remove an unsaved Parse Object from a relation"
hello, I am trying to create a relation between to classes with parse but no matter what I try, I keep getting the error;
Error: You cannot add or remove an unsaved Parse Object from a relation

here is the code
  let Institution = Parse.Object.extend("Institution");
    let institution = new Institution();
    let InstitutionType = Parse.Object.extend("InstitutionType");
    let instType = new In

[2018-12-03 17:17] Molyktech commented on #703
institution.save().then(
      institution => {
        alert("institution saved");
        let InstitutionType = Parse.Object.extend("InstitutionType");
        let instType = new InstitutionType();
        instType.set("name", type);
        instType.set("serviceModule", serviceModule);
        instType.set("parent", institution);
        instType.save().then(
          instType => {

[2018-12-03 17:17] #703 closed

[2018-12-14 20:52] dplewis commented on #680
If anybody is interested this functionality already exists.

Pass in `ignoreValidation` to `set` options.

[code]

[2018-12-18 21:21] step4 opened #706 "Parse.User.logIn says Invalid username/password from Cloud Code"
I have set up a Parse server accordingly and created a user with username "jon" and password "doe".
When I try to login from a browser with
[code]
everything works fine and I get a ParseUser as a result.

For future SAML SSO reasons I want to try logging in via Cloud Code so I tried this simple example:
[code]

now when I run
[code]
I get the error `Uncaught (in promise) Error: Invalid username/pa

[2018-12-18 21:54] step4 commented on #706
After hours of searching I found the root of the error.
In fact I create to API endpoints in my express app:
[code]

It turns out that the Cloud Code for my first api sends it request to the second api2.
Unfortunately I am not very good at backend development, but I had a quick look at the ParseServer class and found that at the beginning it requires:
[code]

and in line 87 [ref](https://github.co

[2018-12-18 23:01] flovilmart commented on #706
Parse server does not support running 2 instances within the same runtime, because of the state of the JS SDK.

[2018-12-18 23:01] #706 closed

[2018-12-21 16:15] LilMoke opened #708 "Session token not removed on browser close..."
Hello,

I am using the Parse SDK for JS and notice that when I bring up a log in page and the user logs in with their username and password I can then access my parse db objects.  I also notice a session object is created in the DB.

However, when the user closes the browser and launches it again they still have access to all objects.  The do not need to log in again.

Why doesn't the session go a

[2018-12-21 16:53] dplewis commented on #708
That is the main purpose of session / local storage, they last forever unless you clear them.

Closing as this isn't an issue.

[2018-12-21 16:53] #708 closed

[2018-12-21 17:06] LilMoke commented on #708
So wait, one last question... is there a way to tell parse server to not remember the session.  I do see that the info seems to be stored in window.localStorage.

Ideally, wouldn't a user want the web page to prompt for log in every time it is launched, unless specifically told to remember it?

[2018-12-21 17:36] LilMoke commented on #708
Lol, ahh, duh!!   Great, thank you!!

[2018-12-21 17:49] flovilmart commented on #708
Or you could make sessions that simply last a very short time, or pass the session token manually to all your calls. No need to login in cloud code

[2018-12-28 04:29] liangminhua opened #711 "Why the aggregate $in operation requires a pointer prefix?"
[code]
If remove the pointer prefix, result is empty.
[code]
But use $or operation work fine.

[2018-12-28 16:19] dplewis commented on #711
I can give it a look

[2018-12-28 17:30] dplewis commented on #711
Looking at the source code you'll find your answer

https://github.com/parse-community/parse-server/blob/de92ce5c49c178cebbc046b4c09cf0f22dc5940e/src/Adapters/Storage/Mongo/MongoStorageAdapter.js#L825-L834

In your $or example you have { field: value }. If we have the field we can tell its a pointer and transform the value.

In your $in example the field name is at the top level. { field: { operat

[2019-01-02 12:15] onusvishal opened #713 "Hoe to set data in Listview"
Hoe to set data in Listview

{ className: 'DailyReport', _objCount: 0, id: 'TBplx4MQJ6' }

if (this.state.data && this.state.data.length > 0) {
            console.log(this.state.data);
            return this.state.data.map((item, index) =>
                <CardTransaction
                    key={`index-${index}`}
                    items={item}
                    index={index}

[2019-01-08 11:15] jlnquere opened #715 "Release a new version"
Hi there,

Since 9/08 (date of the 2.1.0 release), a lot of good stuff and fixes has been added to Parse JS SDK. I think that would be a good moment to publish a new release. So we will be able to enjoy theses stuff in production.

What do you think about that ?

[2019-01-10 18:05] dplewis commented on #77
Closing via https://github.com/parse-community/Parse-SDK-JS/pull/612

[2019-01-10 18:05] #77 closed

[2019-01-11 17:15] dplewis opened #717 "ReferenceError: regeneratorRuntime is not defined"
Using parse through CDN or `npm install parse@version` works

I get the following error `ReferenceError: regeneratorRuntime is not defined`

If I try to run get the bleeding edge in a node project

`npm install parse-community/Parse-SDK-JS.git#master --save`

or

build it myself and copy parse.min.js from the dist folder into a simple html file.

I don't know much about babel to fix the issue

[2019-01-15 22:21] kosssi commented on #583
@mullwaden I don't understand how I can set good CLP with your function I would like to make this:

![capture d ecran 2019-01-15 a 23 19 03](https://user-images.githubusercontent.com/1135513/51213781-2b6f3d80-191c-11e9-9447-1f9a7eb899cf.png)

Can you describe `clp` object for this example?

[2019-01-16 01:17] barper commented on #681
Was wondering what was going on with this method in my cloud function. The solution worked but a dedicated method could be nice.

[2019-01-16 16:03] dplewis commented on #681
@barper A PR was already submitted https://github.com/parse-community/Parse-SDK-JS/pull/684

It should be included in the next release

[2019-01-18 01:42] awgeorge commented on #263
This workaround seems to no longer work with parse server v3 as we get `username/email is required`, @fmendoza can you confirm?

[2019-01-23 13:22] mullwaden opened #720 "Changing createdAt"
Hi,
We are doing some migrations and need to keep the old objects createdAt and updatedAt information. Is there any way to forcibly set these values on a new object?

Thanks :)

[2019-01-23 13:31] flovilmart commented on #720
Hi @mullwaden. As this is not a bug in the JS SDK, i recommend you join the parse community forums here: https://community.parseplatform.org and ask the question.

[2019-01-23 13:31] #720 closed

[2019-01-31 05:58] GanymedeIndustries opened #722 "Typescript example of extending Parse.User"
Sorry firstly if this has been answered somewhere, but I cannot for the life of me figure out how to extend the `Promise.User` object. Below is an example of what I'm trying to do"

[code]

Obviously `signUpAsAdmin` won't work as it will return an instance of `Parse.User` and not `User`, but I can't find any clear example of extending `Parse.User` with an extra property in typescript (should I use

[2019-01-31 15:19] oallouch opened #723 "Cloud Code functions description contain (request, response)"
Hi,
I noticed many of the Cloud Code API reference still has 2 arguments, the request and the response.
https://parseplatform.org/Parse-SDK-JS/api/master/Parse.Cloud.html#.define
Have I missed something ? Many it's just an old version of the docs.

Olivier

[2019-02-03 02:05] MMSSolutions opened #724 "query.limit with ascending createdAt Issue"
The following code I would presume I would receive the last 20 entries in the MainLog class sorted by createdAt, most recent at the top. But what I actually receive is the first 20 entries in MainLog sorted by createdAt.

This code works fine in iOS and Android but my issue is with Web Javascript, is there a bug or am I doing something wrong?

`const query = new Parse.Query("MainLog");`
`query.asc

[2019-02-03 02:32] flovilmart commented on #724
Ascending dates go from the oldest to the newest, because time increases. So most recent dates have a higher value than dates in the past. You should use descending. And no, this should not work either on IOS or Android

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-03 02:32] #724 closed

[2019-02-05 07:21] durunvo opened #726 "Setting authResponse is not supported"
Hi, I wonder if anyone else face this issue when try to login with facebook?
Also happens when trying to login with email/password for facebook authenticated users.

The `/login` request was succeed. It returns status code 200 with users data.
However, the javascript sdk rejects the request and returns an error. `Setting authResponse is not supported`

I have tested in js version 2.0.2.

[2019-02-05 16:09] durunvo commented on #726
Found out that this is an error from Facebook sdk.

[2019-02-05 16:24] durunvo commented on #726
For more information, I have comment out `Parse.FacebookUtils.init` and the problem is gone.

[2019-02-05 17:04] durunvo commented on #726
This is weird but problem seems to be a conflict between Parse.FacebookUtils and Facebook official sdk.

Please see this line of code from unminified js.

https://github.com/nfriedly/facebook-js-sdk/blob/cd1f144d334e7e200b2ba6c7ca0e51636063a9b6/debug.js#L14268

It checks for `authResponse` and returns an error.

Please also look at this line of code of this project.

https://github.com/parse-commu

[2019-02-05 21:34] dplewis commented on #347
Closing via https://github.com/parse-community/Parse-SDK-JS/pull/373

[2019-02-05 21:34] #347 closed

[2019-02-06 01:21] schurch commented on #726
I'm also seeing this issue.

[2019-02-06 09:48] EnricoMonese commented on #558
I'm no longer using Parse, but the PR above seems to address the problem.

[2019-02-06 09:48] #558 closed

[2019-02-06 18:36] #542 closed

[2019-02-06 18:47] #577 closed

[2019-02-06 18:52] fmendoza commented on #263
Still working on my end with Parse Server v3 and Parse SDK JS 2.1

[2019-02-06 21:19] #419 closed

[2019-02-08 16:30] jlnquere commented on #715
UP ? Is there something we can do to help on this ?

It will allow us to access to all the good work (and fixes) made since last release in September.

[2019-02-08 16:30] flovilmart commented on #715
cc @natanrolnik @dplewis

[2019-02-08 17:30] dplewis commented on #715
A new release would be awesome. I can help close out the opened PR's

[2019-02-09 12:02] #385 closed

[2019-02-10 05:44] farhansyed9 opened #732 "Is it possible to update an array at a specific index?"
I went through the docs to see if theres a way to update an existing array at a specific index, can't seem to find anything on it. Wondering if it's possible I missed something?

[2019-02-11 19:12] dplewis commented on #592
Closing via https://github.com/parse-community/Parse-SDK-JS/pull/671

[2019-02-11 19:12] #592 closed

[2019-02-12 08:33] Jauny commented on #726
Same for me, started to see this, our facebook login is broken because of this.

[2019-02-12 12:07] flovilmart commented on #726
The PR don’t add any test and the resolution doesn’t match with what was described (changing the SDK URL). So That’s what I’d least expect. Cc @dplewis, can you then review, merge and release please?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-12 21:59] #557 closed

[2019-02-12 21:59] #511 closed

[2019-02-12 21:59] #564 closed

[2019-02-12 21:59] #550 closed

[2019-02-12 21:59] #568 closed

[2019-02-12 21:59] #566 closed

[2019-02-12 21:59] #533 closed

[2019-02-12 21:59] #576 closed

[2019-02-12 21:59] #578 closed

[2019-02-12 21:59] #490 closed

[2019-02-12 21:59] #581 closed

[2019-02-12 22:00] #536 closed

[2019-02-12 22:00] #246 closed

[2019-02-12 22:00] #300 closed

[2019-02-12 22:00] #402 closed

[2019-02-12 22:00] #611 closed

[2019-02-12 22:00] #646 closed

[2019-02-12 22:00] #617 closed

[2019-02-12 22:00] #655 closed

[2019-02-12 22:00] #603 closed

[2019-02-12 22:00] #627 closed

[2019-02-12 22:00] #444 closed

[2019-02-12 22:00] #674 closed

[2019-02-12 22:00] #344 closed

[2019-02-12 22:00] #693 closed

[2019-02-12 22:00] #493 closed

[2019-02-13 02:38] dannywolfmx commented on #732
Sorry for my bad english.

Maybe i am wrong, but i think this functionality is not already implemented in the sdk.

The Parse sdk js is pretty similar to the backbone.js style.

when you want to update your array you need something like this
[code]
Now, if your Array is a list of pointers you just need to update the referenced object.

Maybe the backbone style is not the best today, but we are a c

[2019-02-13 03:17] #715 closed

[2019-02-13 05:59] #449 closed

[2019-02-13 05:59] #443 closed

[2019-02-13 05:59] #453 closed

[2019-02-13 05:59] #451 closed

[2019-02-13 05:59] #450 closed

[2019-02-13 05:59] #460 closed

[2019-02-13 05:59] #456 closed

[2019-02-13 05:59] #462 closed

[2019-02-13 05:59] #435 closed

[2019-02-13 05:59] #484 closed

[2019-02-13 05:59] #471 closed

[2019-02-13 06:00] #488 closed

[2019-02-13 06:00] #491 closed

[2019-02-13 06:00] #505 closed

[2019-02-13 06:00] #421 closed

[2019-02-13 06:00] #516 closed

[2019-02-13 06:00] #525 closed

[2019-02-13 06:00] #527 closed

[2019-02-13 06:00] #526 closed

[2019-02-13 06:00] #328 closed

[2019-02-13 06:00] #532 closed

[2019-02-13 06:00] #531 closed

[2019-02-13 06:00] #308 closed

[2019-02-13 06:00] #529 closed

[2019-02-13 06:00] #547 closed

[2019-02-13 06:00] #552 closed

[2019-02-13 06:00] #482 closed

[2019-02-13 06:00] #556 closed

[2019-02-13 06:00] #520 closed

[2019-02-13 07:59] #545 closed

[2019-02-13 15:34] Code-Crash opened #736 "Cannot create a pointer to an unsaved Object issue."
Hi Team,

I'm using 1.4.2 and I have this feature (save an unsaved Parse object and assign to parent Parse Object), I know its too late to upgrade the library, and I have recently started upgrading the Parse JS SDK to 2.1.0 and now I'm facing this issue in my existing code base.

I have already gone through the StackOverflow, and issue list but not found any specific solution.

So, Is there any wa

[2019-02-13 17:46] #144 closed

[2019-02-13 17:46] #364 closed

[2019-02-13 17:46] #375 closed

[2019-02-13 17:46] #353 closed

[2019-02-13 17:46] #341 closed

[2019-02-13 17:46] #360 closed

[2019-02-13 17:46] #378 closed

[2019-02-13 17:46] #379 closed

[2019-02-13 17:47] #400 closed

[2019-02-13 17:47] #387 closed

[2019-02-13 17:47] #401 closed

[2019-02-13 17:47] #404 closed

[2019-02-13 17:47] #394 closed

[2019-02-13 17:47] #403 closed

[2019-02-13 17:47] #43 closed

[2019-02-13 17:47] #408 closed

[2019-02-13 17:47] #410 closed

[2019-02-13 17:47] #414 closed

[2019-02-13 17:47] #415 closed

[2019-02-13 17:47] #232 closed

[2019-02-13 17:47] #393 closed

[2019-02-13 17:47] #390 closed

[2019-02-13 17:47] #430 closed

[2019-02-13 17:47] #431 closed

[2019-02-13 17:47] #411 closed

[2019-02-13 17:47] #433 closed

[2019-02-13 17:47] #441 closed

[2019-02-13 17:47] #349 closed

[2019-02-13 18:46] #91 closed

[2019-02-13 18:46] #251 closed

[2019-02-13 18:46] #291 closed

[2019-02-13 18:46] #292 closed

[2019-02-13 18:46] #301 closed

[2019-02-13 18:46] #302 closed

[2019-02-13 18:46] #303 closed

[2019-02-13 18:46] #236 closed

[2019-02-13 18:47] #118 closed

[2019-02-13 18:47] #306 closed

[2019-02-13 18:47] #235 closed

[2019-02-13 18:47] #331 closed

[2019-02-13 18:47] #335 closed

[2019-02-13 18:47] #345 closed

[2019-02-14 05:46] jlnquere commented on #715
Awesome! Thanks 🎉

[2019-02-14 11:47] farhansyed9 commented on #717
Also have this issue, did you find a solution?

[2019-02-14 18:17] dplewis commented on #717
I haven't you can try playing around with babel to see if you can get it to work

[2019-02-14 23:02] agoldis commented on #717
Facing the same issue with [Parse@2.2.0](https://www.npmjs.com/package/parse)

https://github.com/parse-community/Parse-SDK-JS/blob/master/gulpfile.js#L18 specifies `@babel/plugin-transform-runtime` [configuration option](https://babeljs.io/docs/en/babel-plugin-transform-runtime#regenerator):
[code]

That instructs babel to transpile `async` functions into a code that assumes existence of globally

[2019-02-15 02:53] yomybaby commented on #528
👍

[2019-02-15 17:02] grantespo opened #737 "Unable to Connect to Parse 2.2"
I have to use: `<script type="text/javascript" src="http://npmcdn.com/parse@2.0.0/dist/parse.min.js"></script>`

Instead of: `<script type="text/javascript" src="https://npmcdn.com/parse/dist/parse.min.js"></script>`

[2019-02-15 22:14] robertoin commented on #717
Why does this error appear? Everything was working fine to me last week and now I have this issue too.

[2019-02-17 04:22] camdagr8 opened #739 "Cloud Code Error: Parse.Config.save is not a function"
**Parse Server Version:** 3.1.3
**Parse SDK Version:** 2.2.0
**Node:** 11.10.0
**NPM:** 6.7.0

I'm trying to update config values with a cloud code function and not having much success with the following code:

[code]

Any idea why I'm getting the following error:

[code]

[2019-02-17 05:02] camdagr8 commented on #739
So after some inspection of ParseConfig.js, I tried the follow and was able to update config values:

[code]

[2019-02-17 19:32] dovk commented on #717
Same here - I uninstalled **parse@2.2.0** and installed **parse@2.1.0 --exact** and it's back to normal

[2019-02-17 20:41] #8 closed

[2019-02-18 04:58] fmendoza commented on #722
See my [workaround](https://github.com/parse-community/Parse-SDK-JS/issues/263#issuecomment-367581126)

[2019-02-18 19:02] #711 closed

[2019-02-18 19:51] fmendoza commented on #717
Revert to 2.1.0 is the workaround for now.

[2019-02-19 17:53] brianyyz commented on #717
For newbies to the Parse JS SDK (like me) I reverted to the 2.1.0 level of the parse.min.js script by retrieving it from:

`https://npmcdn.com/parse@2.1.0/dist/parse.min.js `

placed it in a local js directory and updated the script tag to refer to it instead of the npmcdn server.

[2019-02-20 08:57] RadianSmile commented on #726
this works for me

[2019-02-22 02:30] #717 closed

[2019-02-22 18:56] dplewis commented on #737
A `2.2.1` release came out. Please try it out.

Also its best practice to specify version of your dependencies.

[2019-02-22 18:56] #737 closed

[2019-02-22 20:23] dplewis commented on #739
@camdagr8 This happens because Parse-Server currently uses version 2.1.0 of this SDK. You'll have to wait for the next server update.

Your workaround forces 2.2.0 to be used.

[2019-02-22 20:23] #739 closed

[2019-02-23 13:34] #713 closed

[2019-03-05 23:41] howardwkim opened #745 "@type/parse mismatch"
Using `parse@2.1.1`.

Trying to use `Parse.enableLocalDatastore()`, but there is no definition for `enableLocalDatastore`.

When I look at the `package.json` from `Library/Caches/typescript/3.3/node_modules/@types/parse`, I see `"_from": "@types/parse@2.1.1"`.

The `index.d.ts` file has `Type definitions for parse 2.1.0` in the comments. No sign of `enableLocalDatastore`.

Should that definition b

[2019-03-06 09:56] Tom-Fox1 commented on #646
This is still broken, should we change it from a relative link to be ‘hardcoded’?

[2019-03-06 15:16] tutchmedia commented on #739
Hi @dplewis - any ideas on when a new server update will happen? I'm getting this exact same thing using Cloud Code in the Docker Container and the parse/node workaround doesn't seem to be working.

Thanks

[2019-03-06 23:12] pferder commented on #691
Hi @flovilmart I'm having the same issue.

`Parse.FacebookUtils.logIn().then((user) => {
	console.log(user);
}`

And my user is created with a random username, no firstName, no lastName or email. This is generating many problems.

[2019-03-06 23:48] flovilmart commented on #691
You are confusing Facebook login and Parse login, the user variable in your code is the parse user object (Parse.User). If you want to read properties of a Facebook user, refer to the Facebook SDK

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-06 23:53] pferder commented on #691
Thanks for the quick response.

You're suggesting that Parte.FacebookUtils.login won't return any Facebook user data?

[2019-03-07 00:07] flovilmart commented on #691
It is not a suggestion, it's how it's implemented, the method only attempts to acquire a facebook access token and perform a login on your Parse API with it.

[2019-03-07 00:17] pferder commented on #691
Sorry, I've mixed English with my native language.

So, after the login de should use the FB api to get user data anda then update the saved user with this data? Or is there a Parse method to do this at once?

[2019-03-07 01:05] flovilmart commented on #691
There is no method to do it, you need to call the Facebook API’s in order to get info from it

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-11 21:44] howardwkim opened #747 "JSON.parse() error on Object.destroy()"
parse@2.2.1
react-native@0.58.6

When I call `.destroy()`, I receive `SyntaxError: Unexpected token b in JSON at position 0`.
The object is destroyed on the server and the app still functions as expected, but I keep getting the error.

The error comes from a `JSON.parse()` located at `parse/lib/react-native/LocalDatastoreController.react-native.js:65`.
The key for `Parse/MY-PARSE-APP-ID/installati

[2019-03-11 23:46] vrazn commented on #747
Getting the same error when calling `Parse.dumpLocalDatastore()`.
It looks like `async getAllContents()` also gets my Redux data stored in the Async storage when calls `const keys = await RNStorage.getAllKeys();` and fails to parse them later.

[2019-03-12 00:04] dplewis commented on #747
Thanks for reporting. Can you guys debug and submit a PR?

[2019-03-12 11:28] Code-Crash commented on #736
For now, I did some hack, like overridden the `allowDeepUnsaved` in unsavedChildren() in `parse-2.1.0.js`.

`allowDeepUnsaved = true;`

It will be great if we can make it more configuration, like when we do initialize the JS SDK.

`Parse.initialize(<ApplicationID>, <JavascriptKey>);`

Or this is already there with some changes?
Please let me know.
Thanks

[2019-03-13 01:02] moulie415 opened #748 "Query broken on release build for react native"
I have a query that I'm works on android/ios on debug builds but is returning an empty array on release builds, when I log out the query I can see the issue cause the className is completely wrong but I have no idea why here's the debug query log vs the release query log

[code]

[2019-03-13 12:49] moulie415 commented on #748
The problem seemed to be caused by the way I was registering sublclasses, I think I needed to register them individually, not sure if this is a TypeScript issue or not

[code]

[2019-03-15 17:13] dplewis commented on #745
Duplicate: https://github.com/parse-community/Parse-SDK-JS/issues/528

[2019-03-15 17:23] dplewis commented on #528
This was tried discussed before in a PR https://github.com/parse-community/Parse-SDK-JS/pull/388

As I understand it since this isn't a typescript repo we can't push autogenerated files to @types/parse

An alternative would be to autogenerate a file with [dts-gen](https://github.com/Microsoft/dts-gen) and submit types on release

Before that can happen two issues exists

`Cannot assign to 'serverU

[2019-03-15 17:45] agoldis commented on #528
Good idea! I am not sure about the quality of [dts-gen](https://github.com/Microsoft/dts-gen) output though, it might be worse than we currently have.

Additional aspect is version upgrades - this requires some manipulation to the files structure of typedefs package, those are not frequent though and prob can be handled manually.

@dplewis we can try to run `dts-gen` it to see if it is good enough

[2019-03-15 17:50] dplewis commented on #528
I tried it and it works if you erase the prototype definitions (PR is waiting for approval). The readonly serverURL error still existed tho.

[2019-03-18 17:13] agoldis commented on #528
@dplewis sorry I didn't have chance to explore this option. Any chance you can publish / gist the output you've got?

[2019-03-18 19:13] dplewis commented on #528
Wheres the gist [parse.d.ts](https://gist.github.com/dplewis/2ffa7f9175337728a653b8f963a4ffe1)

To generate parse globally `npm install parse -g`, then run `dts-gen -m parse`

[2019-03-18 19:35] agoldis commented on #528
Thanks, @dplewis.
At glance, it isn't able to recognize argument types and abuses `any` usage. on the other hand it recognizes classes and methods quite well...

To summarize, IMO:
1. I don't think we can sacrifice already existing detailed definitions.
2. It does provide quite a lot of information about new / removed entities (methods, classes etc.)

What do you think about some hybrid process th

[2019-03-18 21:03] dplewis commented on #362
Closing via https://github.com/parse-community/Parse-SDK-JS/pull/623

[2019-03-18 21:03] #362 closed

[2019-03-18 21:10] dplewis commented on #278
@acinader Thoughts on this one? Maybe create a `subscribeAsync()` function.

Also just realized that you can't pass sessionToken into query.subscribe();

[2019-03-18 21:19] acinader commented on #278
Certainly sounds like an issue for any reasonably complex use.

Step one would be failing unit tests for his example.  Not sure what the implementation would be as I am not familiar with that bit of code (yet ;)), but this is a clearly written issue with enough info to create failing tests, which would like lead to the solution being apparent?

[2019-03-18 21:24] dplewis commented on #169
Closing via https://github.com/parse-community/Parse-SDK-JS/pull/211

[2019-03-18 21:24] #169 closed

[2019-03-18 21:26] #507 closed

[2019-03-18 21:33] dplewis commented on #445
Closing via https://github.com/parse-community/Parse-SDK-JS/pull/588

[2019-03-18 21:33] #445 closed

[2019-03-19 00:34] dplewis commented on #745
I opened a PR to address this https://github.com/DefinitelyTyped/DefinitelyTyped/pull/33981

[2019-03-20 08:19] Amphaal commented on #278
Hi guys,

It's been a long time since i haven't played with Parse but I think I can help.

I had trouble back in 2018 to make livequeries work well with a moderately complex project involving React-native / Redux / RxJS : looking at our PA issue, it's seems related to my old concerns.

Following my proposal on #533 , i did a hasty fix on LiveQuerySubscription.js and ParseLiveQuery.js, modifying th

[2019-03-20 15:05] dplewis commented on #732
From a quick glance, I believe this can be done on the server side as a new feature.

Mongo has [$ positional operator](https://docs.mongodb.com/manual/reference/operator/update/positional/?_ga=1.12567092.1864968360.1429722620#up._S_)
Postgres has [element[index]](https://www.postgresql.org/docs/9.5/arrays.html)

[2019-03-21 18:57] dplewis commented on #745
Closing via https://github.com/DefinitelyTyped/DefinitelyTyped/pull/33981

[2019-03-21 18:57] dplewis commented on #748
Closing via https://github.com/parse-community/Parse-SDK-JS/issues/700#issuecomment-442663424

[2019-03-21 18:57] #748 closed

[2019-03-21 19:08] #745 closed

[2019-03-21 19:14] dplewis commented on #732
Opened a feature request https://github.com/parse-community/parse-server/issues/5440

[2019-03-21 19:14] #732 closed

[2019-03-21 19:16] dplewis commented on #722
Closing via https://github.com/parse-community/docs/pull/606

[2019-03-21 19:16] #722 closed

[2019-03-21 19:30] dplewis commented on #594
Closing via https://github.com/parse-community/Parse-SDK-JS/pull/731#issuecomment-462196616

[2019-03-21 19:32] #594 closed

[2019-03-21 19:35] dplewis commented on #736
allowDeepUnsaved is true [here](https://github.com/parse-community/Parse-SDK-JS/blob/master/src/ParseObject.js#L2101)

Try to use `Parse.Object.saveAll()` with both / all objects.

[2019-03-21 19:35] #736 closed

[2019-03-21 19:40] dplewis commented on #534
I’ll close this one, Please reopen the issue if it persists.

Make sure your keys and serverURL are correct. Also ensure that ports / firewalls / hosting config etc. allow for connections.

[2019-03-21 19:40] #534 closed

[2019-03-21 20:11] dplewis commented on #278
@Amphaal That would be great! It looks l at your proposal and you found the root cause.

[2019-03-21 20:14] #263 closed

[2019-03-22 22:22] #278 closed

[2019-03-23 05:55] vivekp9690 commented on #576
This line of code break my existing app and say Can't find variable: localStorage

[code]

[2019-03-23 06:08] vivekp9690 opened #759 "when i used install.save method then it's show the error. can't find variable: localStorage"
[code]

[2019-03-24 21:18] #723 closed

[2019-03-26 16:17] #747 closed

[2019-03-26 19:37] dplewis commented on #726
Closing via https://github.com/parse-community/Parse-SDK-JS/pull/728

[2019-03-26 19:37] #726 closed

[2019-03-26 20:17] #687 closed

[2019-03-26 20:19] dplewis commented on #670
Closing via https://github.com/parse-community/Parse-SDK-JS/pull/757

[2019-03-26 20:19] #670 closed

[2019-03-26 20:19] dplewis commented on #669
Closing via https://github.com/parse-community/Parse-SDK-JS/pull/757

[2019-03-26 20:19] #669 closed

[2019-03-26 20:20] #528 closed

[2019-03-27 11:38] natalio opened #761 "SyntaxError: JSON Parse error: Unable to parse JSON string"
when use query.fromDatastore() in React Native return exception 'SyntaxError: JSON Parse error: Unable to parse JSON string'

[2019-03-27 14:11] dplewis commented on #761
Fixed via https://github.com/parse-community/Parse-SDK-JS/pull/753

[2019-03-27 14:11] #761 closed

[2019-03-27 15:25] Code-Crash commented on #736
@dplewis Thanks for the response,

Are you suggesting, I can add `allowDeepUnsaved = true` in save() function below [here](https://github.com/parse-community/Parse-SDK-JS/blob/ecdadbcd987ef8db27387e841701068588ad0f2d/src/ParseObject.js#L2103) ?

Also, where I can put in the parse server on node js module, any idea?
Because I'm facing the same issue on the server end.

Thanks.

[2019-03-27 16:28] dplewis commented on #736
I was suggesting that the feature you want already exists.

You can try to write a failing test using saveAll.

[2019-03-29 17:11] murshudov opened #768 "The package at "node_modules\parse\lib\react-native\ParseFile.js" attempted to import the Node standard library module "http""
### Issue Description

Seems like version 2.3.0 uses Node standart http module and it breaks compatibility with React-Native. Version 2.2.1 uses CoreManager for http requests

### Steps to reproduce

Try to run react-native project which uses Parse JS SDK version 2.3.0

### Expected Results

Everything should be fine

### Actual Outcome

Crash with exception:

The package at "node_modules\parse\li

[2019-03-29 17:17] dplewis commented on #768
This has been fixed https://github.com/parse-community/Parse-SDK-JS/pull/765 and will be released in 2.3.1

[2019-03-29 17:58] #768 closed

[2019-03-29 18:29] dplewis commented on #759
This has been fixed in the latest release. Please update.

If the issue persists, reopen and fill out the issue template.

[2019-03-29 18:29] #759 closed

[2019-03-30 17:23] bezi opened #770 "Enable Google OAuth login."
**Is your feature request related to a problem? Please describe.**
Parse Server currently supports Google OAuth login:
https://docs.parseplatform.org/parse-server/guide/#google-authdata

The SDK does not.

**Describe the solution you'd like**
I would like to support `_linkWith('google', {})` for Google OAuth, as described in the server docs.

**Describe alternatives you've considered**
I've shimme

[2019-03-30 17:28] bezi opened #771 "Documentation incorrectly describes Twitter login as supported by the SDK."
### Issue Description
Documentation incorrectly describes Twitter login as supported by the SDK.

Issue confirming it doesn't in this repo: https://github.com/parse-community/Parse-SDK-JS/issues/138

Documentation: https://docs.parseplatform.org/js/guide/#twitter-authdata

### Steps to reproduce

Go to documentation, see that Twitter is described as a log in option.
Check out repository, see that

[2019-03-30 19:59] dplewis commented on #770
Feel free to submit a PR.

[2019-03-30 20:23] acinader commented on #770
would be great to get all that is supported in parse-server into the sdk.  would be even greater-er to get another contributor contributing!  thanks.

[2019-03-30 20:52] bezi commented on #770
Update now that I'm actually digging around in the code.

By inspecting the code itself, Google (and I suspect the other integrations) work just fine with a different payload format:
[code]

This differs slightly from the `authData` that Parse Server specifies:
[code]

These work because the SDK implementation of `_linkWith` reshuffles the data to send straight to the server.  This just requires u

[2019-03-30 22:55] FahamuTech opened #773 "Failed to get object from local datastore"
### Issue Description

When try to get pinned object from local datastore, results in JSON.parse error

### Steps to reproduce

1. Pin object to local datastore
2. Query object from local datastore

### Expected Results

Expected list of object from local datastore

### Actual Outcome

SyntaxError: Unexpected token b in JSON at position 0
    at JSON.parse (<anonymous>)
    at Object.getAllContent

[2019-03-30 23:05] FahamuTech commented on #773
I found out in localstorage of browser  there is an installationId which is not JSON object.
So i edit LocalDatastoreController( js file of parse sdk from nodemodule ) : getAllContents (LocalDatastoreController.browser.js:59). i rewrite `LDS[key] = JSON.parse(value);` with `try {
        LDS[key] = JSON.parse(value);
       } catch (e) {
         console.warn('Parse localdatastore warn: key==>' +

[2019-03-30 23:27] dplewis commented on #771
Looks like the JS Docs is an example for `_linkWith` with Twitter.

[2019-03-30 23:28] #773 closed

[2019-03-31 09:23] alioguzhan opened #775 "The package at "node_modules/parse/lib/react-native/ParseFile.js" attempted to import the Node standard library module "https""
### Issue Description
With changes come with #765 causes this issue. There was a similiar issue caused by `http` package. Please see #768 . It supposed to be fixed but now i have this.

There is no problem with version `2.2.1`.

### Steps to reproduce

Try to use `parse/react-native` with version >= 2.3

### Expected Results

### Actual Outcome

### Environment Setup

- **Server**
  - parse-server

[2019-03-31 12:39] alejonext commented on #775
In web say `Error: Cannot find module 'http'` is the same error!

[2019-03-31 15:14] mattvv commented on #775
It looks like this is caused by https://github.com/parse-community/Parse-SDK-JS/pull/749/files

Downgrading to 2.2.1 for now solves this for me.

[2019-03-31 16:15] dplewis commented on #775
Can you submit a Pull Request to resolve this issue? I believe this was fixed via https://github.com/parse-community/Parse-SDK-JS/pull/765 but not tested on react-native

[2019-04-01 12:02] natalio commented on #775
on react native "Unable to resolve module ..../node_modules/parse/lib/react-native/ParseFile.js"

[2019-04-01 12:53] alioguzhan commented on #775
I don't know the full scope of this `file uri upload` feature but the first thing that I can say is to not using any standard node library in `react-native/ParseFile.js` file which means reverting this feature for `react-native`. What do you think about this @dplewis

Or i will try to find a way to implement same feature without using any standard node library.

[2019-04-02 17:55] kirilledelman opened #778 "LiveQueryClient subscribe with token - no updates to ACL secured objects"
### Issue Description

Live query subscription to an ACL secured object doesn't work, even when sessionToken is passed.

### Steps to reproduce

[code]
Update a field in Patient object on the server.

### Expected Results

"object updated" handler should be called

### Actual Outcome

nothing happens.

### Environment Setup

- **Server**
  - parse-server version (Be specific! Don't say 'latest'.)

[2019-04-02 18:31] dplewis commented on #778
Improvements were made to LiveQuery https://github.com/parse-community/Parse-SDK-JS/pull/758/files

Can you update to the latest version?

If it still doesn't work can you write a failing test? There are examples in the PR if you need it.

`Note: await query.subscribe() gets the current user session internally`

[2019-04-02 19:35] #775 closed

[2019-04-04 00:23] #678 closed

[2019-04-04 01:26] Warmachine13 opened #786 "Push notification does not work in react native"
<h1>Problem with push notification in react native</h1>

I'am tried some many ways but no one's work

1- https://facebook.github.io/react-native/docs/pushnotificationios & https://absurd.tech/parse-server-react-native-push/
I tried use documentation
I am tried put code of react native but I got a problem of 'https'

2- https://www.npmjs.com/package/react-native-onesignal
same problem of first I do

[2019-04-04 02:54] dplewis commented on #786
Please update to the latest version of Parse 2.3.2 for the https error.

Checkout the guide [Push Notification](http://docs.parseplatform.org/js/guide/#push-notifications)

Don't forget to use `Parse.Push.send` in cloud code.

Could you please post this over on Stack Overflow with the `parse-platform`, `parse-cloud` and `parse-server` tags.

We are trying to keep GitHub issues reserved for bug rep

[2019-04-04 02:54] #786 closed

[2019-04-04 08:17] vince1995 commented on #678
Thanks, that's exactly what I've been loking for. :)

[2019-04-04 16:26] kirilledelman commented on #778
@dplewis, I've updated my JS SDK to the latest PR and server side `parse-server` node packages, but I'm still getting the same behavior. I can see that `Subscription` object I get from subscribing to a query has the correct `sessionToken` property set. But when I subscribe to a query that returns an object whose ACL is set to the current user, I get no `update` event. ACL set to public read+write

[2019-04-04 16:31] dplewis commented on #778
There is a issue opened on the server side https://github.com/parse-community/parse-server/issues/5393

Would you like to provide a fix?

[2019-04-04 16:42] kirilledelman commented on #778
I don't think #5393 is the same to what I'm experiencing. I'm not using roles and my object is secured with an ACL containing a single user id, and I'm not getting updates. Unfortunately, I'm not familiar enough with Parse project to be able to fix this. I was hoping for a known workaround.

[2019-04-04 16:49] dplewis commented on #778
Can you write a failing test?

[2019-04-11 17:44] dplewis commented on #778
@kirilledelman I wrote a test case here https://github.com/parse-community/Parse-SDK-JS/pull/791. The test passed. Can you compare or change it to match your use case?

[2019-04-11 19:51] kirilledelman commented on #778
@dplewis
Thank you for following up. Your test case looks correct, but it still doesn't work in my set up.
I don't get update event for my ACL-user protected object when I test in browser vs AWS backend environment.
I did update parse-server on my AWS instance to the latest. Here's my code on the client side:
[code]
I have two Patient objects - one with public read/write ACL, another one ACL'd to

[2019-04-11 20:43] dplewis commented on #778
Does it run locally? I just tried it with with 2 objects, public access on one, user access on the other and worked.

Can you post logs? VERBOSE=1

[2019-04-12 13:24] natalio opened #792 "Object from Parse in LocalDatastore with the local id doesn't update when I execute the pin function again"
### Issue Description
I did a search in local Datastore for an object with the local id and try to update one of its attributes, but instead of customizing it it adds a new object in the localDatastore when I execute the pin function again.

### Steps to reproduce
[code]

### Environment Setup

- **Server**
  - parse-server version  : 3.2.3
  - Operating System:     Linux/Ubuntu
  - Localhost or r

[2019-04-12 15:06] dplewis commented on #792
I think I see what you are trying to do.

Can you write a failing test [here](https://github.com/parse-community/Parse-SDK-JS/blob/master/integration/test/ParseLocalDatastoreTest.js#L71)?

[2019-04-13 03:43] einsqing commented on #530
Need

[2019-04-13 03:51] einsqing opened #793 "Want to support Wechat applet"
Want to support Wechat applet !!!
doc https://developers.weixin.qq.com/miniprogram/en/dev/index.html?t=19041222

[2019-04-13 14:23] dplewis commented on #793
Duplicate https://github.com/parse-community/Parse-SDK-JS/issues/530

Have you read the guide [Supported 3rd Party Authentication](http://docs.parseplatform.org/parse-server/guide/#supported-3rd-party-authentications)? If it is unclear please let us know.

[code]

[2019-04-15 17:03] vlad-fylp opened #796 "pinAllWithName fails when saving User objects"
### Issue Description
When running Parse Query on User objects and trying to pin them with name, the following error is thrown:
[code]

It looks like it tries to access the `__type` property of User's `sessionToken` in `LocalDatastore.js -> _getChildren` and throws the error because `sessionToken` is undefined.

### Steps to reproduce
[code]

### Expected Results

Objects should be saved successfu

[2019-04-16 13:38] natalio commented on #792
When saved, don't save attributes
[code]

[2019-04-16 13:38] #792 closed

[2019-04-17 15:26] vlad-fylp commented on #796
Also, looks like calling `unPinAllObjectsWithName` does not actually delete any objects from the local datastore, but it does delete the pin though.
So the only way to remove objects from the storage is to get all of them first and then call `unPinAllWithName`. Is that an expected behavior?

[2019-04-18 00:18] gateway opened #797 "Can't get Parse JS SDK Working with Node.js"
### Steps to reproduce
Can't seem to get parse to work on a simple node.js app.  Following this guide and then adding the parse npm package along with initializing throws a error on missing module uuid/v4

Simple express app with ejs templates just was testing to pull in parse.

https://medium.com/@bhanushali.mahesh3/creating-a-simple-website-with-node-js-express-and-ejs-view-engine-856382a4578f

[2019-04-18 00:36] gateway commented on #797
resolved.. installed uuid and added const uuidv4 = require('uuid/v4');

I also deleted package-lock.json and removed the node_modules then ran npm install to get them again.

[2019-04-18 13:38] jlnquere commented on #797
I think this issue should be reopened.

I have the same issue, and had to install `uuid` package in my project.

Since this update: https://github.com/parse-community/Parse-SDK-JS/pull/750/files/0e989595ea7a52f08c732f0701e8a4abcb2a61ad#diff-eb5301eb626ada590014b10c10f01c70 , Parse uses `uuid` package. But it has not been added as Parse SDK dependencies.

I think `uuid` should be added to the `pack

[2019-04-18 15:56] dplewis commented on #773
@FahamuTech I can submit a PR. Can you post the exact payload that threw the error.

[2019-04-18 16:03] dplewis commented on #796
@vlad-fylp It would remove the object automatically once its removed from all pin names.

`unPinAll` will remove the object since it doesn't specify a pin name.

[2019-04-18 16:28] kirilledelman commented on #778
Thanks for following up - I've decided to try a different framework - the fault is probably in my AWS set up somewhere, but I feel like I lack the tech knowledge to properly troubleshoot it with you.

[2019-04-18 16:28] #778 closed

[2019-04-19 17:51] dplewis commented on #796
Thanks for reporting. I'll submit a PR soon. I also a separate issue too.

[2019-04-20 09:57] jlnquere commented on #797
@gateway could you reopen it ?

[2019-04-22 00:57] foobar8675 opened #799 "Parse.Object.saveAll error handling"
**Is your feature request related to a problem? Please describe.**
When doing `await Parse.Object.saveAll(objectsToUpdate, { useMasterKey: true });` if it fails I don’t know which `objectToUpdate` failed.

**Describe the solution you'd like**
An error telling me which object failed. That would allow me to write some code to properly handle the error.

[2019-04-22 16:09] acinader commented on #797
@dplewis

[2019-04-22 16:20] acinader commented on #797
@dplewis odd that tests don't trip this?

[2019-04-22 16:22] dplewis commented on #797
A Dev-Dependency must use that uuid module

[2019-04-23 17:44] #797 closed

[2019-04-23 19:22] dplewis commented on #799
Can you post logs? Running server with VERBOSE=1

[2019-04-23 21:01] foobar8675 commented on #799
thanks for writing back @dplewis . I've always been a bit challenged when it came to the logs. I have the VERBOSE=1 set in my .env but never have seen verbose logs written out to the console.

i have a snippet here to recreate the issue
[code]
where the exception looks like

[code]

is it possible to let me know the `1` index is the one that failed?

[2019-04-23 21:03] dplewis commented on #799
@foobar8675 Look at the [test suite](https://github.com/parse-community/Parse-SDK-JS/blob/master/integration/server.js#L26) for logging example

[2019-04-23 22:07] dplewis commented on #770
@bezi I submitted a PR https://github.com/parse-community/docs/pull/615, can you review it?

[2019-04-24 15:40] #796 closed

[2019-04-24 16:31] gateway commented on #797
Thanks guys for updating this!

[2019-04-24 16:46] gateway opened #804 "How do you handle session with a custom node.js express app? Redis?"
Hi, we have been in the process of building out our custom node.js express app with ejs as our template engine.  I know node.js is stateless and its been very hard to find how to properly deal with the user session once logged in.

For example in PHP you have a $_SESSION variable that has all the parse data and during the whole session until the user logs out or the session expires (we store sessi

[2019-04-25 16:04] dplewis commented on #771
@bezi @acinader I created a [branch](https://github.com/parse-community/Parse-SDK-JS/compare/link-twitter?expand=1) to play around with linking with twitter and got it working.

1. I didn't know server configuration was required (not documented). I assumed it worked out of the box.
2.Multiple server configuration (not documented).

I think we should register a basic auth provider internally if it

[2019-04-25 18:04] foobar8675 commented on #799
got it. i re-ran and here is what i see in the logs. was thinking it would be nice if we knew which object was causing the error.

[code]

[2019-04-25 18:25] dplewis commented on #799
Saving them individually will tell you which one is not found.

I don't think there is a way to tell which one is missing with saveAll. If you want to try look [here](https://github.com/parse-community/parse-server/blob/d83a0b680854f52ce30205d3558c0133d7f8cf19/src/Controllers/DatabaseController.js#L577)

[2019-04-25 18:25] #799 closed

[2019-04-29 09:59] gotyet9 opened #807 "In Parse Unable to query each nested relation on a single call."
I am currently working with parse in react native. I have a query that fetches data from a collection which has a property with relation to other collection. Now I want to fetch all these relational data in a single call rather than calling each relation separately.

Currently, I get one collection then get its relational data separately in a new call.

[code]

Now I want to fetch the relational d

[2019-04-29 16:49] acinader commented on #771
@dplewis this sounds great.

if you can fix it up so twitter works out of the box, it would be a nice improvement!

[2019-04-30 06:13] davimacedo commented on #807
Have you tried the include method? Please take a look in this section here:
https://docs.parseplatform.org/js/guide/#relational-queries

[2019-04-30 06:27] davimacedo commented on #804
I'd use express-session to store the session token but you should not use Parse.User.become in the server side. Instead, you should use sessionToken option in each operation. For example:

To run a cloud function:
Parse.Cloud.run('functionname', inputparams, { sessionToken: yoursessiontoken });

To save an object:
object.save(null, { sessionToken: yoursessiontoken });

To run a query:
query.find({

[2019-04-30 17:00] gateway commented on #804
What the issue or why should we not use Parse Become on the server side? Just curious.. We are still trying to wrap our head around the best way to handle users and also make sure it scales.  If we store various data about the user in redis with the session token your suggestions every query that the user should do should use the token instead?

[2019-04-30 17:16] davimacedo commented on #804
Imagine you have the following code:

[code]

This is not an atomic operation and you will suffer with concurrent requests. Imagine two requests from two different users at this route at the same time. It can occur:
1) Request 1 runs line A
2) Request 2 runs line A
3) Server responds line A for request 1 and Parse SDK becomes user 1
4) Server responds line A for request 2 and Parse SDK becomes use

[2019-04-30 17:53] gateway commented on #804
Ok, I think I'm following.  We are not really doing any cloud code calling .. but things like this..

1. Request 1 hits the route and lets say it pulls in a list of comments.

are you saying if 2 different people hit that route and we use Become that User B could get Users A comments?

[2019-04-30 18:04] davimacedo commented on #804
Yes. It can happen.

[2019-04-30 18:29] gateway commented on #804
Ok thanks, it does make sense, just need to use token in the calls.  I want to use Redis to store that and use the express-sessions session id to pull the token from the redis storage.  Any issues you see with that?

[2019-05-01 15:48] #770 closed

[2019-05-01 16:39] gotyet9 commented on #807
yes @davimacedo i have already tried that. Both include and dot notation options.

[2019-05-01 17:33] dplewis commented on #807
The github issues are for bugs and feature requests.

If you would like help, [StackOverflow[(https://stackoverflow.com/questions/tagged/parse-javascript-sdk) is a good resource.

Also include a [test case](https://github.com/parse-community/Parse-SDK-JS/blob/master/CONTRIBUTING.md) as a code level example.

You could probably use `containedIn` with a custom mapper.

[2019-05-01 17:33] #807 closed

[2019-05-01 22:08] davimacedo commented on #804
I think you are fine using the approach.

[2019-05-07 06:37] aacassandra commented on #32
the same issue in 2.4.0
this is my code
[code]
billboard is a column name (pointer)
somebody help me? thanks

[2019-05-07 06:49] aacassandra opened #815 "query.include() on parse 2.4.0 not working"
the same issue in 2.4.0
this is my code
[code]
billboard is a column name (pointer)
somebody help me? thanks

[2019-05-07 12:18] dplewis commented on #815
Please fill out the issue template and reopen.

[2019-05-07 12:18] #815 closed

[2019-05-09 11:18] oallouch opened #819 "the build system is only for mac/linux, not Windows"
Hi,
I'd like to contribute to this project, but I code on Windows.
What can I do ?

Thx,
Olivier

[2019-05-09 14:37] dplewis commented on #819
You are right, I'm looking into it right now.

[2019-05-13 17:37] #819 closed

[2019-05-17 22:33] #804 closed

[2019-05-17 22:34] dplewis commented on #771
Closing via https://github.com/parse-community/docs/pull/615 and https://github.com/parse-community/Parse-SDK-JS/pull/810 You no longer need to worry about Registering Auth Providers.

[2019-05-17 22:34] #771 closed

[2019-05-22 12:14] oallouch commented on #583
I really like the new protectedFields CLP.
It would still be great to have it in a future CPL API :)

[2019-05-28 14:11] oallouch commented on #203
is it related to https://github.com/parse-community/parse-server/issues/5278

[2019-05-30 17:11] weiweitoo commented on #284
Hi there, I encounter the same problem, what is the solution?

[2019-05-30 17:19] dplewis commented on #284
@weiweitoo That is proper behavior. Try to add `merchant` in your select. If this doesn't work, please open a separate issue.

[2019-06-02 02:02] yagotome opened #830 "Mistakes in JSDocs"
### Issue Description

There are some mistakes in JSDocs. These are some examples I've seen:

The following `override` param is optional.
https://github.com/parse-community/Parse-SDK-JS/blob/f38f88242f68c18f7f4ed81be045a9fd011388c9/src/ParseObject.js#L1602

The following return value type is `ParseObject | boolean`.
https://github.com/parse-community/Parse-SDK-JS/blob/f38f88242f68c18f7f4ed81be045a

[2019-06-02 04:50] dplewis commented on #830
Would you like to open a PR for fix this?

[2019-06-02 15:25] yagotome commented on #830
@dplewis For sure! I'll open a PR fixing that as soon as I can.

[2019-06-04 17:29] fatbattk opened #831 "Parse.FacebookUtils.logIn() always have existed() true"
### Issue Description

New Facebook account signups are always set as an existing users. Hence there is no way to differentiate a new sign up vs a returning log in.

http://docs.parseplatform.org/js/guide/#login--signup

### Steps to reproduce

[code]
- log in as a new Facebook user.
- check console logs.

### Expected Results

returns `false` when new Parse user.
returns `true` when existing Pars

[2019-06-05 13:50] yagotome opened #833 "Stateless user controller for server-side user handling"
**Is your feature request related to a problem? Please describe.**
Yes. I am using this SDK on a NodeJS app which is an API Gateway that handles multiple user sessions in a stateless way (server side). Therefore, it would be nice if the SDK provided a stateless `UserController`, however the `UserController` seems to have been designed to be used in client side handling single user session.

**Desc

[2019-06-05 15:32] dplewis commented on #833
Current user doesn't exist on server-side by default.

Does `become` with sessionToken work for you?

You could also create your own UserController and use `CoreManager.setUserController()`

[2019-06-05 15:37] dplewis commented on #831
Thanks for reporting. Would you like to submit a PR to address this issue?

[2019-06-06 23:12] #830 closed

[2019-06-07 15:33] yagotome commented on #833
@dplewis `become` works, but I think `logOut` should work similarly as a convenience method so I could use `singUp`, `logIn`, `become` and `logOut` on server-side instead of handle HTTP requests to _Parse Server_. Would it be possible?

I understand `CoreManager.setUserController()` is available, however as mentioned earlier some method signatures are not general enough (e.g. `logOut` does not rec

[2019-06-07 16:15] yagotome commented on #833
@dplewis adding more information. I've tested `become` (from `DefaultController` defined in `ParseUser`) in a server environment and received this exception:

[code]

It calls `setCurrentUser` at the end, so it is not possible to use the current `become` implementation, although its current signature allows me to write my own implementation that wouldn't be coupled to the user's local store. Howev

[2019-06-07 16:52] dplewis commented on #833
Redesigns are always welcome.

You could add the following in become and add the changes you requested in a PR.

[code]

[2019-06-10 09:57] rickdzekman opened #835 "LiveQuery on "update" has identical attributes for original and new"
### Issue Description

A LiveQuery `"update"` event accepts two arguments `(original,object)` as per the [docs](http://parseplatform.org/Parse-SDK-JS/api/2.3.2/Parse.LiveQuerySubscription.html).

But `original` and `object` have identical properties:
[code]

### Steps to reproduce

1. Set up a subscription to any query and create a listener for an update event:

[code]

2. Use another session to u

[2019-06-10 18:52] dplewis commented on #835
I wrote a test case and it passed.

https://github.com/parse-community/Parse-SDK-JS/tree/test-original

[2019-06-10 23:50] rickdzekman commented on #835
I added a breakpoint to `_handleWebSocketMessage` in [LiveQueryClient.js](https://github.com/parse-community/Parse-SDK-JS/blob/master/src/LiveQueryClient.js) and checked the raw data coming out of the `event`. Even in there the `object` and `original` are the same for me.

Does this sound like it's something server side that's the issue?

[2019-06-11 00:56] dplewis commented on #835
Can you post server logs?

[2019-06-11 23:18] rickdzekman commented on #835
I updated `parse-server` to 3.4.0 before posting.

I turned on verbose=1 and tested a simple update on my current setup. These are my logs:
[code]

[2019-06-11 23:34] dplewis commented on #835
Which field are you updating?

Does it work on the client if you change a value in the dashboard?

[2019-06-12 00:44] rickdzekman commented on #835
I was updating the field "order" with the value 0.
The logs were formatted with the `%` already

I started digging into this a little more and now things are starting to get weird.

Once I removed my cloud code (`beforeSave` and `afterSave`) it did seem to fix the problem - but only up until `LiveQueryClient.js`. It seems there was something in my cloud code that caused an issue with the server se

[2019-06-12 01:23] rickdzekman commented on #835
I just did a fresh `create-react-app` and added `parse` as the only dependency (`2.4.01`).

I also set up a new `parse-server` running on Express. Tested it with the following code and it has the same result, original and object have identical properties:

[code]

[2019-06-12 05:36] dplewis commented on #835
Can you create a sample repository?

[2019-06-12 07:25] rickdzekman commented on #835
Let's try this: https://github.com/rickdzekman/parse-test-repo

[2019-06-13 03:56] rickdzekman opened #836 "Ability to filter LiveQuery events to exclude current client"
**Is your feature request related to a problem? Please describe.**

Whenever a client makes an update to an object it receives a LiveQuery event about that very same update. We use optimistic updates so that the UI doesn't wait for confirmation from the server before showing the user the changes.

There's no way of knowing if an update is done by another client or if it's the update the user just

[2019-06-13 17:23] hernanbruno97 opened #838 "how to get deleted items from parse platform database?"
I'm working on an application that requires offline operation, and the Parse local datastore not work for me. when some change occurs while the application is closed, that is, the subscriptions are not active, i can get created and updated items, but in case of deleted items, i cant recover them. any idea about how to solve this

I thought about creating a field that records the date it was "remov

[2019-06-15 00:12] RaschidJFR opened #839 "Ability to exclude keys from Query"
**Is your feature request related to a problem? Please describe.**
[`Parse.Query.selec()`](https://parseplatform.org/Parse-SDK-JS/api/2.4.0/Parse.Query.html#select) lets us minimize the data retrieved by choosing only the keys of interest. But when we need to leave out just a couple of keys from a large property list -for example, when removing sensitive data fields from unlogged users- we need to

[2019-06-15 00:14] dplewis commented on #839
I made a post about the same thing. https://github.com/parse-community/parse-server/issues/4948

It’s still up for grabs and a good first issue for a PR. Would you like to implement this feature?

[2019-06-15 00:19] RaschidJFR commented on #839
Sure, I'd love to! So, how does it work? I just fork, trace, test, implement and then PR, right? nothing special about it. Do we have anything like a deadline? I'm not familiar with the repo yet so it may take me a while this first time.

[2019-06-19 00:14] nurul1986 opened #842 "Q1"

[2019-06-19 10:33] #842 closed

[2019-06-20 00:32] dplewis commented on #838
I’m a little confused. Do you mean the delete event for subscriptions isn’t working?

Can you post a code example of what you want to happen? Your code doesn’t have subscriptions in it.

[2019-06-20 07:57] Code-Crash commented on #194
@aitchkhan

I faced the same issue, it is because the login code was on the server side and it was generating installation id same for same users and that's the reason the last session was getting destroyed.

So, we added UUID for each time when user will try to do login, and it worked.

Here is the codebase snippet:

[code]

Maybe this will help someone.
Thanks.

[2019-06-25 17:16] dplewis commented on #835
@rickdzekman Sorry for the late reply. The JSK has a SingleInstanceState for web clients, this mean any objects with the same ObjectId will be synchronized and have the same data.

You can disable this by [Parse.Object.disableSingleInstance()](https://github.com/parse-community/Parse-SDK-JS/blob/b6bc90cab7f25d1377f90e9cff921ed2715c34cc/src/ParseObject.js#L1781)

You can read more about it [here](h

[2019-06-25 17:16] #835 closed

[2019-07-03 22:56] fatbattk commented on #831
Finally had some time to dive into this and found the problem.

`ParseObject._handleSaveResponse()` never gets any `status` because
`RESTController.request()` returns `response` only.
https://github.com/parse-community/Parse-SDK-JS/blob/2.4.0/src/RESTController.js#L259

Had to modify a `ParseUser` unit test because a new option was introduced as part of fix while not affecting other unit tests too

[2019-07-06 21:57] TomWFox commented on #838
@hernanbruno97 if the records have been deleted then you can’t recover them unless you have a backup of your database, I think it would defeat the purpose if you could?

Alternatively rather than actually deleting records you could have a class which stores pointers to the records that should be deleted along with the date that they should actually be deleted. The you could use a Cloud Code Job to

[2019-07-06 21:57] #838 closed

[2019-07-08 20:13] acinader opened #851 "Add isDataAvailable function to help determine if object is only pointer."
see: https://github.com/parse-community/parse-php-sdk/blob/master/src/Parse/ParseObject.php#L475

for the PHP implementation.

Should be able to do:

[code]

[2019-07-09 21:22] #831 closed

[2019-07-10 00:24] #833 closed

[2019-07-11 02:09] #851 closed

[2019-07-11 02:31] dplewis commented on #836
Closing via https://community.parseplatform.org/t/is-there-a-way-to-ignore-livequery-events-caused-by-the-current-client/445/3

[2019-07-11 02:31] #836 closed

[2019-07-11 18:24] #839 closed

[2019-07-14 18:12] RaschidJFR opened #864 "Option to prevent cascade saving"
**Is your feature request related to a problem? Please describe.**
When saving an object in which properties there's a pointer to another object, the SDK launches a batch operation to save all modifications made to all nested objects, which is great but... when you don't have write access to any of those (for example when you're saving a Message object pointing to another user's profile) you need

[2019-07-14 18:16] davimacedo commented on #864
@RaschidJFR would you be willed to tackle this one?

[2019-07-15 16:46] RaschidJFR commented on #864
I'd love to but currently I've got my hands full. Hopefully I'll work on the [docs](https://github.com/parse-community/docs/issues/632#issuecomment-511478057) next week. If this task is still untaken by then I will take it.

[2019-07-16 14:05] BufferUnderflower opened #865 "Add count flag to Parse.Query.find"
REST api supports adding &count=true.
Using JS SDK one needs to run a separate query.count() to get this number

Would be nice to have some optional flag like query.withCount(true/false) to avoid
making separate async calls

[2019-07-16 18:43] davimacedo commented on #865
I like the idea. We'd need two changes
- In Parse Server side, to receive the additional option and return both results in the same request;
- In JS side, to include the new option in Parse.Query.

@BufferUnderflower this is something that you would be willed to tackle?

[2019-07-16 18:53] BufferUnderflower commented on #865
@davimacedo I've read through js sdk, and stumbled upon in what form should the ```count``` be sent back to client. Since query returns the array of  ```Parse.Object```s - it's not a good idea to break current api and wrap count and objects array in another object. The only option i see so far is response header like it's done for example in wordpress api

[2019-07-16 18:56] davimacedo commented on #865
The API currently returns in the following format:

[code]

We could add a `count` field and return in the body instead of the header.

[code]

[2019-07-17 10:40] lybaiyy123 opened #866 "subscription.on is not a function"
### Issue Description
TypeError: subscription.on is not a function

code:
let query = new Parse.Query('Message');
query.equalTo('level', 1);
let subscription = query.subscribe();

subscription.on('open', () => {
 console.log('subscription opened');
});

-----
i can connect to server ,but the Firefox and Google show the error
TypeError: subscription.on is not a function

### Steps to reproduce
**st

[2019-07-17 18:38] dplewis commented on #866
Subscribe returns a promise.

`let subscription = await query.subscribe();`

[2019-07-17 18:38] #866 closed

[2019-07-18 02:11] lybaiyy123 commented on #866
queryMessages.subscribe().then(subscription=>{
subscription.on('create',(data)=>{console.log(data.get('name')+':'+data.get('message'))});
subscription.on('delete',(data)=>{console.log(data.id)})
})

i know how to use it ,tkanks

[2019-07-19 19:48] #865 closed

[2019-07-23 11:27] einsqing commented on #793
@dplewis Not this one，Read the document, please https://developers.weixin.qq.com/miniprogram/en/dev/index.html?t=19041222。

The reference for sending requests from the Wechat miniprogram is as follows: XHR cannot be used。
[code]

[2019-07-23 11:29] einsqing commented on #793
@dplewis Need to adapt localStorage and request

[2019-07-23 13:00] dplewis commented on #793
When you say support are you referring to linking with / authentication? I can try to look into that and write a test

[2019-07-24 05:40] einsqing commented on #530
@xingyinbuli @zhaojiee https://github.com/qingful/Parse-SDK-JS 支持微信小程序

[2019-07-28 22:20] dplewis commented on #793
Closing via https://github.com/parse-community/Parse-SDK-JS/pull/874

[2019-07-28 22:20] #793 closed

[2019-07-31 01:40] RaschidJFR commented on #864
Is this still untaken? I’m taking it

[2019-08-05 21:05] RaschidJFR commented on #864
Hey guys. So I've implemented this option, but as I was discussing with @davimacedo , we need to make sure this parameter's scope is clear.

What I intend to do here is give an option not to save the whole chain of nested objects when you call `Parse.Object.save()`, so you don't get data saved which you didn't explicitly intended to, just the object on which you called the function.

I think it is

[2019-08-07 23:48] #864 closed

[2019-08-08 23:40] RaschidJFR commented on #864
Related to this, I've noticed that `Parse.Object.revert()` affects also nested objects, same way. Do you think it's worth opening an issue for it?

[2019-08-09 22:20] davimacedo commented on #864
Are sure it affects the nested objects? Could you write a test case?

[2019-08-11 22:46] RaschidJFR commented on #864
False alarm. It does not affect nested objects.

[2019-08-14 07:54] Mizuki13x opened #889 "How to get the return value"

[2019-08-14 12:39] TomWFox commented on #889
Hi 👋, we ask that code level questions be posted on Stack Overflow with the parse-platform tag, other questions can be asked on our [community forum](https://community.parseplatform.org).

Please provide as much detail as possible so we can provide effectively assistance.

As a starting point we also have a [documentation website](https://docs.parseplatform.org) with guides for all the SDKs.

[2019-08-14 12:39] #889 closed

[2019-08-16 01:26] xianhaosui opened #892 "For WeChat miniprogram"
为什么文件上传，提示：[system] TypeError: Cannot create a Parse.File with that data.
				wx.chooseImage({
					success: (chooseImageRes) => {
						console.log(chooseImageRes)
						const parseFile = modal.file('photo.jpg', chooseImageRes.tempFilePaths[0])
						parseFile.save().then(function(response) {
							console.log(response)
						}, function(error) {
							console.log(error)
						});
					}
				})

[2019-08-16 01:35] dplewis commented on #892
`Parse.File` only accepts base64 objects, Blob Files or absolute uri.

https://github.com/parse-community/Parse-SDK-JS/blob/master/src/ParseFile.js#L26

You can convert your image to base 64 to save it.

[2019-08-16 01:35] #892 closed

[2019-08-16 01:39] xianhaosui commented on #892
This is Blob Files. (blob:http://localhost:8080/183e6abe-2ec5-49ab-9dec-8473aa8d0264)

[2019-08-16 01:45] dplewis commented on #892
A blob file would contain binary data. That looks like a path. Regardless, convert it to a base64 object should do the trick.

[2019-08-16 01:47] xianhaosui commented on #892
try, thank you

[2019-08-16 01:54] dplewis commented on #892
You could try the following as it will convert it to base 64 for you.

[code]

[2019-08-16 02:06] xianhaosui commented on #892
Already solved, thank you

[2019-08-16 02:15] xianhaosui commented on #892
can you speak Chinese?

[2019-08-16 02:18] dplewis commented on #892
No, I wish I did but @einsqing does and implemented WeChat.

[2019-08-17 14:35] einsqing commented on #892
@xianhaosui 我明天给你发demo

[2019-08-19 00:19] xianhaosui commented on #892
谢谢，来起

------------------ 原始邮件 ------------------
发件人: "einsqing"<notifications@github.com>;
发送时间: 2019年8月17日(星期六) 晚上10:35
收件人: "parse-community/Parse-SDK-JS"<Parse-SDK-JS@noreply.github.com>;
抄送: "岁月无痕"<842630388@qq.com>; "Mention"<mention@noreply.github.com>;
主题: Re: [parse-community/Parse-SDK-JS] For WeChat miniprogram (#892)

@xianhaosui 我明天给你发demo

—
You are receiving this because you were me

[2019-08-20 04:03] FahadAlbukhari opened #895 "TypeError: Parse.setAsyncStorage is not a function"
I am building Expo CLI and SDK web app and I get this error

×
TypeError: Parse.setAsyncStorage is not a function
../../../../../../../../Documents/T's/app/Ts/src/API.js
src/API.js:4

  1 | const Parse = require('parse/react-native');
  2 | // On React Native >= 0.50 and Parse >= 1.11.0, set the Async
  3 | const AsyncStorage = require('react-native').AsyncStorage;

  5 |
  6 |
  7 | Parse.initial

[2019-08-20 04:05] dplewis commented on #895
What version of the JS SDK are you running?

[2019-08-20 04:07] FahadAlbukhari commented on #895
{
  "main": "node_modules/expo/AppEntry.js",
  "scripts": {
    "start": "expo start",
    "android": "expo start --android",
    "ios": "expo start --ios",
    "web": "expo start --web",
    "eject": "expo eject"
  },
  "dependencies": {
    "@fortawesome/fontawesome-svg-core": "^1.2.21",
    "@fortawesome/free-solid-svg-icons": "^5.10.1",
    "@fortawesome/react-native-fontawesome": "^0.1.0",

[2019-08-20 04:11] dplewis commented on #895
Try

[code]

[2019-08-20 04:13] FahadAlbukhari commented on #895
nothing changed

[2019-08-20 04:18] dplewis commented on #895
Its located [here](https://github.com/parse-community/Parse-SDK-JS/blob/master/src/Parse.js#L59) in the sdk.

Check your node_modules folder to see if it compiled.
` /node_modules/parse/lib/react-native/parse.js`

You could also clean install your packages (remove node_modules + package-lock.json)

[2019-08-20 04:23] FahadAlbukhari commented on #895
nothing changed

[2019-08-20 04:24] dplewis commented on #895
You aren’t providing enough information. What did you try and what have you found out? Without this information we can’t help debug this issue.

[2019-08-20 04:28] FahadAlbukhari commented on #895
Thank you for trying to help me out. I am building Expo web app and I get this error

TypeError: Parse.setAsyncStorage is not a function

  1 | const Parse = require('parse/react-native');
  2 | // On React Native >= 0.50 and Parse >= 1.11.0, set the Async
  3 | const AsyncStorage = require('react-native').AsyncStorage;

  5 |
  6 |
  7 | Parse.initialize("3");

What do you need more?

[2019-08-20 04:31] dplewis commented on #895
Did you check the node_modules folder? Was it there?
What SDK Version? Posting your package.json told me nothing.

[2019-08-20 04:36] FahadAlbukhari commented on #895
node_modules is there. package.json told you "parse": "^2.6.0",

[2019-08-20 04:38] dplewis commented on #895
Is setAsyncStorage in `/node_modules/parse/lib/react-native/parse.js`?

[2019-08-20 04:39] FahadAlbukhari commented on #895
/**
   * Call this method to set your AsyncStorage engine
   * Starting Parse@1.11, the ParseSDK do not provide a React AsyncStorage as the ReactNative module
   * is not provided at a stable path and changes over versions.
   * @param {AsyncStorage} storage a react native async storage.
   * @static
   */
  setAsyncStorage(storage
  /*: any*/
  ) {
    CoreManager.setAsyncStorage(storage);
  },

[2019-08-20 04:47] dplewis commented on #895
Looks like its there.

What version of @types/parse are you running? Perhaps typescript can't find it.

Can you check if its in your node_modules/@types/parse/index.d.ts?

I'm not a typescript expert.

[2019-08-20 04:50] FahadAlbukhari commented on #895
yes
// Type definitions for parse 2.2.1

/Users/alghreeb/Documents/'s/app/t/node_modules/@types/parse/index.d.ts

[2019-08-20 04:55] dplewis commented on #895
I honestly don't know. Does querying and saving objects work without it?

As a workaround you can try the following instead.

[code]

[2019-08-20 04:59] FahadAlbukhari commented on #895
The expo web app is in beta. I think this is the problem. However expo with parse is working perfectly but when I try expo web I get this problem. Thank you anyway.

[2019-08-20 05:03] dplewis commented on #895
If you could set up a simple sample repo so that we can replicate this issue that would help.

[2019-08-20 05:04] FahadAlbukhari commented on #895
I will

[2019-08-21 22:17] wfilleman opened #899 "Parse.query on local datastore objects returns other local object attributes or null"
### Issue Description

Performing a query for objects located in the local datastore sometimes returns other local object attributes or no attributes when there should be attributes for the local object.

### Steps to reproduce

Add multiple items with attributes of the same class to the local datastore. Quit and restart the RN app and perform a query for a subset of objects.

### Expected Results

[2019-08-21 22:43] dplewis commented on #899
Thank you for the detailed post! When developing this we tried to not introduce any breaking changes to the code by changing functions such as `fromJSON`.

If you are willing to open a PR with failing tests, we will gladly review it.

I'll try to see if I can replicate your issue. If you can create a simple sample repo that would be great.

[2019-09-04 18:20] Basone01 opened #908 "unset value give a null instead of undefined when registerSubclass"
### Issue Description

When call obj.unset('xfield') from sub class object,
it give me a **null** value to 'xfield' field.

But when I remove **Parse.Object.registerSubclass('Class', Class)**  (I call it after intitialze),
it give me an **undefined** value to 'xfield' field.

### Steps to reproduce
first initialize Parse like this
`Parse.initialize(PARSE_APP_ID);
 Parse.serverURL = PARSE_SERVER_UR

[2019-09-04 19:34] dplewis commented on #908
@Basone01 What does the value look like in the database? If you `query.exists('some_field')` does it return?

[2019-09-05 03:25] Basone01 commented on #908
Value of 'some_field' in database is null,
and it still return that object when use query.exists('some_field')

[2019-09-05 03:27] dplewis commented on #908
I wrote a test case https://github.com/parse-community/Parse-SDK-JS/pull/909

Can you have a look or write a failing test?

[2019-09-05 04:23] Basone01 commented on #908
I've just found my mistake.

I've overwrite 'set' method in my subclass like this below for some reason

`  set(key, value) {
    return super.set(key, value)
  }`

I didn't pass options parameter in the third arguments like this

` set(key, value, options) {
    return super.set(key, value, options)
  }`

And now it's work correctly thank you.

[2019-09-05 04:24] #908 closed

[2019-09-05 04:25] dplewis commented on #908
No problem! I’m glad you got it working.

[2019-09-06 11:27] JeromeDeLeon opened #911 "`matchesKeyInQuery` not working in `liveQuery`"
### Issue Description

I'm using `matchesKeyInQuery` and I got initial result when doing `query.find()` but when integrating `liveQuery`, I'm not able to get any data whenever I updated some fields on the object. It worked when I tried commenting out the `matchesKeyInQuery`.

### Steps to reproduce

1. Create 3 Classes (Sample, Test, Tester)
2. Fill them
[code]

3.  Run this code (parse is already

[2019-09-06 12:14] dplewis commented on #911
Did you add live query class names to your server config.

[2019-09-06 13:10] JeromeDeLeon commented on #911
Yes. It's working properly without `matchesKeyInQuery`.

[2019-09-06 13:16] dplewis commented on #911
Can you write a failing test case [here](https://github.com/parse-community/Parse-SDK-JS/blob/master/integration/test/ParseLiveQueryTest.js#L20)?

[2019-09-06 19:02] dplewis commented on #911
@JeromeDeLeon matchesKeyInQuery ($select) isn't supported by LiveQuery.
https://github.com/parse-community/parse-server/blob/master/src/LiveQuery/QueryTools.js#L335

You can check what is supported by looking at the [Live Query Protocol](https://github.com/parse-community/parse-server/wiki/Parse-LiveQuery-Protocol-Specification)

LiveQuery just does a synchronous matching, which results in fast re

[2019-09-06 19:03] #911 closed

[2019-09-08 14:51] EasyLian opened #916 "Uncaught TypeError: Cannot read property 'iterator' of undefined"
parse.weapp.js  2.7.1    (parse.weapp.min.js)

Such a problem has arisen.

unavailable

I don't know if it's just me.

[code]

[2019-09-09 02:53] davimacedo commented on #916
Can you please share the code that is throwing this error?

[2019-09-09 03:23] EasyLian commented on #916
Ordinary require
Nothing else was done.

WeChat Developer Tool : https://developers.weixin.qq.com/miniprogram/en/dev/devtools/devtools.html

`const Parse = require("../../utils/parse.weapp.js")`

[2019-09-09 03:25] EasyLian commented on #916
@davimacedo

Ordinary require
Nothing else was done.

WeChat Developer Tool : https://developers.weixin.qq.com/miniprogram/en/dev/devtools/devtools.html

`const Parse = require("../../utils/parse.weapp.js")`

[2019-09-09 05:32] davimacedo commented on #916
@einsqing do you mind to take a look at this issue?

[2019-09-09 07:32] EasyLian commented on #916
I tested 3 versions of 2.71 2.70 2.60, 2.60 had no problem, only 2.71 2.70 had problems.

[2019-09-09 16:57] oallouch opened #917 "maxLimit isn't mentionned"
Hi,

On the server side, the maxLimit config value sets the maximum value the limit query parameter can have. But there's 2 issues :
. I can't find a default value on the server (in Options/Definitions.js). Is it normal ?
. On the client side (the js sdk), the comment still mentions the 1000 max.

Thx in advance,
Olivier

[2019-09-09 23:46] mtrezza opened #918 "Parse.Query.toJSON() not working for aggregate query"
### Issue Description

Parse.Query.toJSON() returns an empty query when the query is an aggregate query.

### Steps to reproduce

[code]
### Expected Results

`query.toJSON()` should return the aggregate query.

### Actual Outcome

`query.toJSON()` returns `{where: {}}`.

### Environment Setup

- **Server**
  - parse-server version (Be specific! Don't say 'latest'.) : 3.8.0
  - Operating System:

[2019-09-10 16:05] dplewis commented on #917
`maxLimit` overrides if limit > maxLimit (unlimited by default).

If maxLimit is 50 and `query.limit(200)` will only return 50 objects.

The default `limit` if limit is not set is 100;

https://github.com/parse-community/parse-server/blob/981628520584b71608b3fff2aeb57db8b5ed3e1f/src/Routers/ClassesRouter.js#L190

[2019-09-10 16:14] dplewis commented on #918
You want to implement `query.setPipeline()`?

[2019-09-10 16:16] dplewis commented on #916
The only change I see that could cause this would be the removing of babel/polyfill https://github.com/parse-community/Parse-SDK-JS/pull/877.

[2019-09-10 16:18] mtrezza commented on #918
Actually I will close this for now if that's OK, there may more important features to work on. At least we have it documented here.

[2019-09-10 16:33] oallouch commented on #917
Ok,no default value.
But maybe we should change the comment at
https://github.com/parse-community/Parse-SDK-JS/blob/719e98ff74ee99b820fcb8e6c37f32695d07e307/src/ParseQuery.js#L1489
(regarding the maximum limit of 1000)

[2019-09-10 18:49] mtrezza opened #920 "Aggregate query with null value returns incorrect results"
### Issue Description

An aggregate query with `$in` that contains a `null` value does not return the correct results.

### Steps to reproduce

This MongoDB query executes fine in the shell:

[code]

The query returns documents where the language field is missing or has value null or en.
The same query with the Parse SDK in Javascript does not yield the same results:

[code]

The query returns onl

[2019-09-10 22:22] #917 closed

[2019-09-11 04:43] EasyLian commented on #916
Tested.
It seems that this is not the problem.

[2019-09-11 05:03] dplewis commented on #916
https://github.com/parse-community/Parse-SDK-JS/compare/2.6.0...2.7.0

The other  maybe cause  is a corejs3 package update

[2019-09-11 14:13] #920 closed

[2019-09-11 17:42] REPTILEHAUS opened #921 "Ordering data with ascending() on a pointer objects sub-field"
I understand it is possible to order by a field in a pointer, in my case I have a date field in a pointer and I would like to order by it using ```.ascending()```   I am trying with dot notation as i have read that is the correct usage but still no dice ```'eventPointer.startDate'``` it does not order anything by date

### Environment Setup

- **Server**
  - parse-server version (Be specific! Don'

[2019-09-11 17:55] dplewis commented on #921
This currently isn't implemented. As a workaround you can do the sorting after you retrieve all the objects.

The reason why is [handleInclude](https://github.com/parse-community/parse-server/blob/master/src/RestQuery.js#L205)

1. Find all objects
2. Get pointer ids from step 1 and query all the include pointers.
3. Return objects

Sorting happens in step 1, you don't have any pointer values until

[2019-09-11 18:04] davimacedo commented on #921
A PR regarding this would be very welcome for sure, but not so easy to be done.

In the meantime, you can use aggregation to perform this query.

[2019-09-11 18:07] dplewis commented on #921
@REPTILEHAUS Here is an [example](https://github.com/parse-community/parse-server/issues/1908#issuecomment-371589760) for sorting pointer values using aggregates.

[2019-09-13 03:21] JeromeDeLeon opened #922 "Performing batch transactions"
**Is your feature request related to a problem? Please describe.**
This was already supported in the PServer, but in JS-SDK, it limits us to only perform either save or delete but not both.

**Describe the solution you'd like**
It would be better if we could constructr a batch operation like:
[code]
and performs that sequentially.

**Describe alternatives you've considered**

**Additional context*

[2019-09-13 07:12] EasyLian commented on #916
I searched the corresponding key code of the project once, and according to my survey, it was supposed to add the question of "core-js": "3.2.1".

[2019-09-13 15:19] JeromeDeLeon commented on #922
Wait. I just saw that PS already incorporated the `transactionalSession`. Is there a way for PS to send `transactionalSession` to SDK? same with `commit` and `abort`? something like:
` GET "/transaction"`, `POST "/transaction/(commit | abort)`

[2019-09-13 18:05] davimacedo commented on #922
No.. there is no way to do it. Since the Parse Server can run in multiple processes at the same time, there is no warranty that two requests will go to the same process. In the case they go to different processes, you will not be able to use the same MongoDB session.

So, the solution is actually use the `/batch` endpoint. I mean... when the JS SDK call `transaction.commit();`, we will have to put

[2019-09-13 18:16] davimacedo commented on #916
Do you mean that it is missing? It is actually in our package.json: https://github.com/parse-community/Parse-SDK-JS/blob/master/package.json#L54

[2019-09-13 19:44] dplewis commented on #916
@EasyLian did installing that fix your issue? If so we would have to move it from devdependency

[2019-09-13 20:00] EasyLian commented on #916
No, I mean the problem caused by adding this core. js. I don't know how to solve it.

[2019-09-13 21:06] dplewis commented on #921
If you are interested I added a custom sort to the Local Datastore queries.

https://github.com/parse-community/Parse-SDK-JS/blob/master/src/ParseQuery.js#L142

You can use that as a reference to implement this feature. It works with ascending / addAscending multiple sorts. More test cases would be needed but seems solid

[2019-09-13 23:18] davimacedo commented on #916
Have you tested without it?

[2019-09-13 23:26] dplewis commented on #916
We could revert https://github.com/parse-community/Parse-SDK-JS/pull/877 as it introduce corejs.. You said this wasn’t the issue but then it is the issue.

Unfortunately I can’t signup for WeChat Mini Program as I don’t know Chinese or have friends to ask for an account to replicate this issue.

@einsqing Can you help us resolve this?

[2019-09-14 02:39] JeromeDeLeon commented on #922
[code]

[2019-09-14 03:04] JeromeDeLeon commented on #921
I did something similar but struggling with large dataset because where doing it manually rather than with database. That's why I'm bypassing Parse and use aggregate instead in MongoDB Driver.

[2019-09-14 07:17] einsqing commented on #916
Okay, I'll have a look when I'm free

[2019-09-16 07:00] davimacedo commented on #922
Yes. That's the idea. We will probably need the abort in the client side as well to revert the object states.

[2019-09-16 15:36] JeromeDeLeon opened #925 "Error when doing `npm install` on Windows"
### Issue Description
The installation stopped when doing `npm run build` and accessing `./build_releases.sh`.

### Steps to reproduce

### Expected Results

### Actual Outcome

### Environment Setup

- **Server**
  - parse-server version (Be specific! Don't say 'latest'.) : [FILL THIS OUT]
  - Operating System:     Windows 10
  - Hardware:             [FILL THIS OUT]
  - Localhost or remote serve

[2019-09-16 17:44] nelsonyang0710 opened #926 "When updating Parse.User.current(), after save() and call Parse.Object.fromJSON(anyParseObject), Parse.User.current() got roll back to previous data before save()"
### Issue Description

When updating Parse.User.current(), after save() and call Parse.Object.fromJSON(), Parse.User.current() got roll back to previous data before save()
I do use async-storage "@react-native-community/async-storage": "^1.6.1",
After I clear all async-storage, and re login again, then it shows updated current user data.
which caused the token invalid since after logout, the token

[2019-09-16 21:55] davimacedo commented on #926
I am not sure I understood the issue. Would you mind to write a failing test case?

[2019-09-17 03:53] JeromeDeLeon commented on #925
I'm also having the same issue when launching it in codesandbox or it's possible to run it in online editor?

[2019-09-17 09:08] einsqing commented on #916
@EasyLian 没找到原因 @dplewis I can provide you with a wechat mini program, but I need you to provide a wechat number.

[2019-09-18 12:23] dplewis commented on #925
Looks like npm installed the packages.

If you want to build for windows run the commands in the `./build_release.sh` file.
If you are testing run `npm run watch:<platform>`

Windows does not have a built-in utility to support .sh files. You can install external tools to get it working.

[2019-09-18 14:40] JeromeDeLeon commented on #925
I ran it using Git Bash but gulp command not found. Do I need to install `gulp` globally?

[2019-09-20 23:12] kyawswarthwin opened #930 "How to set required and defaultValue in Schema?"
With parse dashboard we can set required and defaultValue. I want to known how can I set those value with Parse.Schema in js sdk.

[2019-09-25 09:48] rhuanbarreto opened #934 "Missing lot's of documentation in order to create a custom authentication"
I'm trying to create a custom authentication using Keycloak OpenID Connect Provider as a source for authentication and I'm stumbling over many docs about how to create a custom authentication in order to support it as:

- https://docs.parseplatform.org/parse-server/guide/#custom-authentication
- https://docs.parseplatform.org/js/guide/#linking-users
- https://docs.parseplatform.org/rest/guide/#sig

[2019-09-25 13:57] dplewis commented on #934
https://docs.parseplatform.org/js/guide/#custom-authentication-module

Everything should be there to create a custom auth.

I can open a PR to document those functions.

[2019-09-25 14:10] ArkeshGKalathiya commented on #439
Issue is valid, I have seen this in back4app, when I save array of pointers it saves correctly in database ( confirmed via directly connecting to mongodb ), but when viewing in dashboard it shows already fetched objects and api also returns whole fetched objects instead of just pointers.

[2019-09-25 14:13] ArkeshGKalathiya commented on #439
This is security bug too, because we don't want to send full user detail or any other field of pointers every time.

[2019-09-26 08:29] rhuanbarreto commented on #934
I thinks it's better. It's still not clear to me that for making a login, you need to create this provider. This could be better explained on why do you need each function in the provider and how it connects internally in the SDK.

In the end I didn't need to do more than the server. I'm using the rest API now, because it seems more convenient than creating this provider. But soon I will make an e

[2019-09-26 08:31] rhuanbarreto commented on #934
Also it's important to mention that an ID field is mandatory in order to make the 3rd party login work. I could understand it reading the other authentication methods.

[2019-09-27 00:48] davimacedo commented on #930
There is currently no support to set required and defaultValue though the JS SDK. Would you be willed to help tackling this?

[2019-09-27 01:34] dplewis commented on #934
You are right. id field is required and I don’t think hyphen names modules work either.

[2019-09-30 11:51] kekami opened #936 "Unable to resolve module 'EventEmitter' - React Native 0.61.1"
### Issue Description
After upgrading from react-native v0.60.4 to v0.61.1 I receive a red screen where parse is unable to location EventEmitter in the project.

Using parse version 2.7.1.

Nothing else was changed between 0.60.4 => 0.61.1

### Steps to reproduce

1. Upgrade react native using https://react-native-community.github.io/upgrade-helper/
2. yarn
3. pod install
4. react-native run-ios
5

[2019-10-01 13:05] renanogueira commented on #936
same here

[2019-10-02 12:42] bearoutthere opened #939 "Parse crashes with 'global.process undefined' error"
### Issue Description

Trying to install Parse into a Nativescript-Angular app following instructions for a Nativescript-Vue app [here](https://nativescript-vue.org/blog/using-parse-in-nativescript-vue/)
After including Parse and nativescript-localstorage as shown in the article, application crashes with the following error:

[code]

In the default-encoding.js  the offending code simply sets the d

[2019-10-04 00:17] RaschidJFR commented on #335
I think this is related to parse-community/parse-server#5521

[2019-10-04 01:37] davimacedo commented on #939
Can you share the code that you are using to initialize the Parse SDK?

[2019-10-04 01:41] VenomApps commented on #936
Whats the status on this is there a fix?

[2019-10-04 10:17] OmidRReza commented on #936
this fixed my problem:

go to the file:

and change this line:

`const EventEmitter = require('EventEmitter');`

to this:

`const EventEmitter = require('../../../react-native/Libraries/vendor/emitter/EventEmitter');`

[2019-10-06 17:31] chromonav opened #941 "Cannot get schema in Parse SDK using Session Token"
### Cannot get schema in Parse SDK using Session Token

### Steps to reproduce
- Initialize Parse SDK with client key, session token,
run the following:
[code]
### Expected Results
Should give schema

### Actual Outcome
Throws error:
![image](https://user-images.githubusercontent.com/5052568/66272884-95ee5200-e88c-11e9-988b-846bef4d8701.png)

### Environment Setup

- **Server**
  - parse-server ve

[2019-10-08 06:29] JeffGuKang opened #942 "[@types/parse] Schema is missing"
### Issue Description

`Property 'Schema' does not exist on type 'typeof Parse'.ts(2339)`
`Schema` is missing in type.

[code]

"@types/parse": "^2.2.11",

Related url: https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/parse

### Steps to reproduce

### Expected Results

### Actual Outcome

### Environment Setup

- **Server**
  - parse-server version (Be specific! Don't say 'lat

[2019-10-08 11:33] ivnnv opened #943 "Parse.setAsyncStorage won't work with expo-secure-storage"
### Issue Description

[code]
Throws an XMLHttpRequest  error.

### Steps to reproduce

Create a new project using expo init.
Import and set up Parse/react-native
Set expo's SecureStore as the AsyncStorage
Try to make any request: Parse.User.logIn()

### Expected Results

Expected to get the data from parse

### Actual Outcome

`XMLHttpRequest failed: {"line":128186,"column":40,"sourceURL":...
`
#

[2019-10-08 11:47] santiagosemhan commented on #941
Hi @chromonav , **master key** is required to fetch the schema. I think you should not store the master key on your client-side. Can you give more details about what are you trying to do?

https://docs.parseplatform.org/js/guide/#schema

[2019-10-08 13:14] ivnnv commented on #943
I have investigated the issue and it turns out expo's SecureStorage isn't compatible with react-native's AsyncStorage implementation, mostly because Expo's don't include the callback which is called after getting / setting the value.

So I have created a wrapper around Expo using the same interface as AsyncStorage and it works!
I attach here the sample code which I don't know if its worth to imple

[2019-10-09 16:04] dplewis commented on #943
Sweet! I know there have been some issues with Expo.

[2019-10-09 16:04] #943 closed

[2019-10-09 16:13] dplewis commented on #939
I don't know much about native script.

Can you try add the following to polyfill.ts or similar?

[code]

Your webpack.DefinePlugin might also be overriding process.

[2019-10-09 16:34] dplewis commented on #942
@JeffGuKang Can you open a PR / Fix on the definitelyTyped repo?

[2019-10-09 17:06] dplewis commented on #936
Closing via https://github.com/parse-community/Parse-SDK-JS/pull/946

[2019-10-09 17:06] #936 closed

[2019-10-10 00:51] JeffGuKang commented on #942
@dplewis I will do it. But I am confusing about the `addIndex` method.

The official doc describe `addIndex` as below.

[code]

But example is `schema.addIndex('index_name', {'field', 1});`

[2019-10-10 00:58] dplewis commented on #942
`schema.addIndex('index_name', {'field': 1});`

`field` should exist in the schema before using `addIndex`

That function should be changed as the name could be generated by the index (currently not implemented).

[2019-10-10 03:41] #925 closed

[2019-10-10 16:24] dplewis commented on #934
@rhuanbarreto Can you open a PR? We will gladly review it.

[2019-10-10 20:41] dplewis commented on #942
Closing via https://github.com/DefinitelyTyped/DefinitelyTyped/pull/39024

[2019-10-10 20:41] #942 closed

[2019-10-11 02:11] #395 closed

[2019-10-11 03:13] dplewis commented on #899
@wfilleman The JSK has a SingleInstanceState for web clients, this mean any objects with the same ObjectId / localId will be synchronized and have the same data.

You can disable this by [Parse.Object.disableSingleInstance()](https://github.com/parse-community/Parse-SDK-JS/blob/b6bc90cab7f25d1377f90e9cff921ed2715c34cc/src/ParseObject.js#L1781)

You can read more about it [here](https://github.com/

[2019-10-11 14:21] wfilleman commented on #899
Thanks @dplewis,

I can't save objects before pinning. I'm using this particular feature of Parse in a local environment scenario where the user doesn't have access to the internet and thus my Parse server. For these clients, the locally pinned objects I specifically do not want to be synced back to my server even when their network allows for an internet connection.

I can try to disableSingleIns

[2019-10-12 00:14] #921 closed

[2019-10-12 03:19] dplewis commented on #895
@FahadAlbukhari someone is also using expo with async storage and has it working.

Check out https://github.com/parse-community/Parse-SDK-JS/issues/943

[2019-10-12 03:19] #895 closed

[2019-10-12 03:23] dplewis commented on #146
Closing for inactivity.

[2019-10-12 03:23] #146 closed

[2019-10-12 18:21] REPTILEHAUS commented on #921
@DPlewis thanks for the example but I’m still curious, how do you execute the mongodb shell command in your example within Parse server ?

[2019-10-13 07:20] REPTILEHAUS commented on #921
@dplewis how do you use the mongo cli commands within the context of parse server

[2019-10-13 08:05] chromonav commented on #941
@santiagosemhan according to documentation reference `Parse.Schema.get` should be allowed from client-side using session token without using MasterKey:

Please checkout: http://parseplatform.org/Parse-SDK-JS/api/2.7.1/Parse.Schema.html#get
Which is not working.

[2019-10-13 14:37] santiagosemhan commented on #941
I recommend you to code a cloud function that return to frontend your schema data. So in your cloud function you could make additional controls or process the response and deliver only the required data and not all Parse schema data.

PS: Masterkey is required, use it in your cloud function.

[2019-10-14 11:10] BalalRaza commented on #936
When will we publish this update?

[2019-10-14 16:54] dplewis opened #955 "[Discussion] _localId generated via counter"
I posted a comment [here](https://github.com/parse-community/Parse-SDK-JS/issues/899#issuecomment-540882389) about it.

There is currently an issue with a offline caching of objects. If an app (web app) reinitializes the SDK, the localId resets. The means any offline cached objects may have the same localId as another object.

iOS and android uses some form of generated long int (~8 bytes) which i

[2019-10-14 22:30] wfilleman commented on #899
Hi @dplewis

I attempted to use the Parse.Object.disableSingleInstance(); option, but this didn't help the issues I'm seeing. Which, makes sense according to your root cause analysis where the localID counter is reset back to 0 on app restart. As an experiment, I changed ParseObject.js from:

[code]

TO

[code]

and it started working great for me.

Before this change, one lagging issue I was seei

[2019-10-14 22:33] wfilleman commented on #955
@dplewis Updated my post [here ](https://github.com/parse-community/Parse-SDK-JS/issues/899) with my successful experiment using a UUID for localIDs.

[2019-10-14 23:15] jacinto123 commented on #936
Yeah we really need this, I hope we can get this published soon.

[2019-10-14 23:17] dplewis commented on #936
There are a few PR's opened, once they are reviewed we can do a release.

I'll draft one right now.

[2019-10-15 13:35] pushpendra-codemymobile opened #958 "How to remove a relation from user object"
I am trying to remove relation from a parse user object  but getting following error.

(node:7769) UnhandledPromiseRejectionWarning: TypeError: userObj.getRoles is not a function
    at users.map (/home/codemymobile/upkeep/core-service/server/api/v1/services/UserService.js:303:19)
    at process._tickCallback (internal/process/next_tick.js:68:7)

Code spinet
=========

**await User.saveAll(users,

[2019-10-15 14:27] dplewis commented on #958
Please checkout the [Javascript Guide](https://docs.parseplatform.org/js/guide/#many-to-many-relationships).

When in doubt you can always look at the source code.

[2019-10-15 14:27] #958 closed

[2019-10-15 14:36] dplewis commented on #899
@wfilleman You mentioned a second issue with commitServerChanges. Can you provide a test case similar to https://github.com/parse-community/Parse-SDK-JS/issues/899#issuecomment-540882389 or sample code to replicate it?

[2019-10-15 16:24] wfilleman commented on #899
@dplewis,

The code as-is:

[code]
This doesn't save the `val` into the `objectCache` if it's not an object. So, if you assign `string` or `bool` to values on the object attributes, these are saved to the `serverData` object which works great to get it back to the ParseServer, but the local cache isn't getting the same data for some reason. This breaks the local datastore pin since the local data

[2019-10-15 17:10] #899 closed

[2019-10-15 17:10] #955 closed

[2019-10-15 19:17] dplewis commented on #899
@wfilleman `objectCache` is only used for checking dirty objects. It caches objects.

This isn't an issue. Unless you have an issue with dirty objects.

[2019-10-15 19:31] dplewis commented on #939
Closing as this is a WebPack issue and not a parse issue.

A fix would be to remove the `uuid` module and replace with a custom implementation but that doesn't fix your underlying issue.

[2019-10-15 19:31] #939 closed

[2019-10-15 19:33] wfilleman commented on #899
@dplewis If I use the published `commitServerChanges` as-is I get some really odd behavior when only pinning local objects. By odd, I mean that the data in these objects aren't getting saved reliably to and back from the local data store. The only way I can get reliable save behavior is if I cache vals that are strings and bools as well as objects. I admit I don't know what all is happening here a

[2019-10-15 19:40] dplewis commented on #899
@wfilleman Can you open a Pull Request? If you can write a failing test case we can identify where the problem is.

You can copy one of the test cases [here](https://github.com/parse-community/Parse-SDK-JS/blob/master/integration/test/ParseLocalDatastoreTest.js#L1052)

If you need help look at the [Contributing Guide](https://github.com/parse-community/Parse-SDK-JS/blob/master/CONTRIBUTING.md).

[2019-10-15 19:48] dplewis commented on #941
@chromonav This is my fault. When I added Parse.Schema, copied from Parse.Object documentation.

MasterKey is required. MasterKey would override any sessionToken you pass anyway.

I'll submit a PR to fix this.

[2019-10-15 19:51] wfilleman commented on #899
@dplewis Yes, I can take a look at putting that together, but let me ask this first: In the test cases I see that `.save()` or `.saveAll()` is called which I strongly suspect is why the test cases aren't seeing this issue. As I outlined above, I can't call .save() on my local pinned objects since my users are requesting to be local network only (no cloud parse server) but many have an internet con

[2019-10-15 19:54] dplewis commented on #899
Just call `object.pin` without saving. Look [here](https://github.com/parse-community/Parse-SDK-JS/blob/master/integration/test/ParseLocalDatastoreTest.js#L93)

[2019-10-15 19:55] wfilleman commented on #899
@dplewis Perfect, thank you. I will investigate why I'm seeing different behavior and open a new issue/PR.

[2019-10-15 20:56] #941 closed

[2019-10-16 00:00] #583 closed

[2019-10-16 00:57] dplewis commented on #930
@davimacedo @acinader I can take this one. How do you guys see this being used?

[code]

or

[code]

[2019-10-16 04:33] bearoutthere commented on #939
Thanks for the suggestions.  We managed to fix this issue by updating the offending file in one of the Parse dependencies. Replace contents of node_modules/pbkdf2/lib/default-encoding.js with the following:

[code]

It's just a temporary workaround but it allowed us to use Parse with a Nativescript - Angular project.

[2019-10-16 22:06] #930 closed

[2019-10-17 03:05] dplewis commented on #939
@bearoutthere I opened a PR to remove that module.

You have to be careful with your workaround. Calling npm install will undo your changes.

[2019-10-18 21:42] #934 closed

[2019-10-23 14:15] wfilleman commented on #899
Just to close out this issue for anyone reading this thread: I was able to get locally pinning objects to work by using this localID fix as UUID in the 2.8.0 release as well as calling `Parse.Object.disableSingleInstance();`

There are side-effects if your codebase needs to support both objects from ParseServer and local-only without a server backing these local models. Specifically, updated objec

[2019-10-24 03:45] JeffGuKang opened #966 "Parse is not a singleton anymore > v2.8.0"
### Issue Description

index.js

[code]

schema.js
[code]

It had no problem until v2.7.1 . And `Parse` worked as singleton.
But `import Parse from 'parse/node'` looks to create new Parse instance in v2.8.0.
So we need to use `Parse` as global variable without `import` after v2.8.0.

Is there any changes from v2.8.0 release related?

### Steps to reproduce

### Expected Results

### Actual Outcome

[2019-10-24 22:11] macarthuror opened #967 "Encrypt Current User - LocalStorage"
Hello guys :vulcan_salute:,

Right now I’m trying to encrypt the data which is storage in the browser and I’m using secure-ls , actually is working fine but only is encrypting the ping data not the Current User.

Do you have any idea of how to do it ?

Thanks and have a good day.

BTW. This is the code I’m using

[code]

[2019-10-25 02:49] dplewis commented on #967
Sorry for the late reply. That secure-ls trick looks cool.

The currentUser isn't stored in the localDatastore.

This is the [line](https://github.com/parse-community/Parse-SDK-JS/blob/master/src/ParseUser.js#L865) you are looking for.

[2019-10-26 02:46] dplewis commented on #966
I don't believe such changes were made in 2.8.0.

Are you running this in cloud code? If so you don't need to import Parse

[2019-10-27 02:23] JeffGuKang commented on #966
Actually not.

index.js

[code]

.src/schema.js

[code]

[2019-10-27 02:50] dplewis commented on #966
Duplicate https://github.com/parse-community/parse-server/issues/5278

[2019-10-27 02:50] #966 closed

[2019-10-27 03:10] dplewis commented on #926
The JSK has a SingleInstanceState for web clients, this mean any objects with the same ObjectId / localId will be synchronized and have the same data.

You could try Parse.Object.disableSingleInstance()

[2019-10-27 03:10] #926 closed

[2019-10-27 20:35] dplewis commented on #967
If you want you could do the same for setting the [StorageController](https://github.com/parse-community/Parse-SDK-JS/blob/master/src/StorageController.browser.js)

[2019-10-29 21:38] macarthuror commented on #967
Hello @dplewis 🖖
Sorry for not answering before and thanks for the line I was looking for.

Sure let me try it. 👌😁

[2019-10-29 21:41] dplewis commented on #967
I would like to add SecureLS to the SDK but I’m skeptical. StorageController is swappable so we could have that option.

@acinader @davimacedo Thoughts?

[2019-10-29 22:01] acinader commented on #967
Off the cuff, just documenting it on the readme and maybe the js sdk guide how to use it would be a decent first step?

alternatively,  we could make an argument to initialize or a single call to use it wheen Parse SDK is initialized?

[2019-10-29 22:09] dplewis commented on #967
I figure it could be the same as setAsyncStorage for React-Native.

Secure LS has browser support issues i.e Microsoft Edge (insert rant here). I can open a PR for this and we can move the conversation there. @macarthuror what do you think?

[2019-10-29 23:30] macarthuror commented on #967
@acinader  I'm gonna documented it in the Readme. Thanks.

@dplewis I like it, also I think we can use other solutions to improve the security without using other repo.

BTW @davimacedo [suggest](https://community.parseplatform.org/t/encrypt-current-user-localstorage/774) trying with `CoreManager.setStorageController()`

[2019-10-31 13:29] pushpendra-codemymobile opened #974 "How Parse.Query() is work with sessionToken or ACL"
Hello all i want to know internal working of Parse.Query() with sessionToken or with ACL

Suppose i have following mongoDB query

db.getCollection('_User').updateOne({_id: 'TnLZJsghZE'},
{ $set: {
        "_wperm" : [
            "role:SPKTaprVMvxgedjpXlaZ",
            "rq7SSFAfjG",
            "role:ezltkinirrWCiKseYXiU"
        ],
        "_rperm" : [
            "role:SPKTaprVMvxgedjpXlaZ",

[2019-11-01 18:25] dplewis commented on #974
When in doubt check the source code [RestQuery](https://github.com/parse-community/parse-server/blob/master/src/RestQuery.js#L189).

There have been talks about making an architecture blueprint.

https://github.com/parse-community/parse-server/issues/4615

Maybe document flow for CRUD operations @acinader @davimacedo Throughts?

[2019-11-01 21:25] jdillick opened #976 "Node API: Cannot use the Master Key, it has not been provided"
### Issue Description

Getting the following error after upgrading from 2.7.1 to 2.8.0. Reverting to 2.7.1 fixes issue.

[code]

### Steps to reproduce

On node/express server with initialized Parse Server, trying to use the node api similar to:

[code]

In 2.8.0, in the node/RESTController.js, this is failing on `_CoreManager.default.get('MASTER_KEY')` check.

Apparently, the `_CoreManager.defaul

[2019-11-01 22:14] jdillick commented on #976
So, seems that the main change is that the `parse/node` object no longer gets initialized when using the `parse-server` with `parse/node`.

If I add the following to my parse-server initialization:

From:
[code]

To (added parse/node initialization):
[code]

Was this change intentional?

Cheers,

John